# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if false -'@}
# vim: set ft=sh:
{@'- end -'@}
{@'- includeTemplate .tmpl.shebang.dumbSh . '@}
#
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
#
# This script opens an edit config menu for waybar in tmux
#

exec tmux display-menu -T ' WLogout configuration ' -x C -y C \
	'Edit layout'			'l' "new-window -n 'wlogout-layout' '{@' .chezmoi.executable '@} edit --apply {@' joinPath .chezmoi.homeDir ".config/wlogout/layout" '@}'" \
	'Edit layout template'	't' "new-window -n 'wlogout-template' {@' cat .cmd.editor "--" (joinPath .chezmoi.sourceDir ".chezmoitemplates" .tmpl.wlogoutLayout) | squote '@}" \
	'Edit style'			's' "new-window -n 'wlogout-style' '{@' .chezmoi.executable '@} edit --apply {@' joinPath .chezmoi.homeDir ".config/wlogout/style.css" '@}'" \
	'Edit palette'			'p' "new-window -n 'wlogout-palette' {@' cat .cmd.editor "--" (joinPath .chezmoi.sourceDir ".chezmoitemplates" .tmpl.palette.wlogout) | squote '@}" \
	'' \
	'Edit exit.svg'			'1' "new-window -n 'exit.svg' '{@' .chezmoi.executable '@} edit --apply {@' joinPath .chezmoi.homeDir ".config/wlogout/assets/exit.svg" '@} '" \
	'Edit reboot.svg'		'2' "new-window -n 'reboot.svg' '{@' .chezmoi.executable '@} edit --apply {@' joinPath .chezmoi.homeDir ".config/wlogout/assets/reboot.svg" '@} '" \
	'Edit shutdown.svg'		'3' "new-window -n 'shutdown.svg' '{@' .chezmoi.executable '@} edit --apply {@' joinPath .chezmoi.homeDir ".config/wlogout/assets/shutdown.svg" '@} '" \
	'Edit suspend.svg'		'4' "new-window -n 'suspend.svg' '{@' .chezmoi.executable '@} edit --apply {@' joinPath .chezmoi.homeDir ".config/wlogout/assets/suspend.svg" '@} '" \
	'' \
	'Back'					'.' "run-shell {@' .cmd.tmuxMenuEditConfigMain | squote '@}"
