# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if false -'@}
# vim: set ft=sh:
{@'- end -'@}
{@'- includeTemplate .tmpl.shebang.dumbSh . '@}
#
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
#
# This script opens an edit config menu for chezmoi in tmux
#

exec tmux display-menu -T ' chezmoi configuration ' -x C -y C \
	'Edit chezmoi config template'	'C' "new-window -n '{@' .chezmoi.configFile | base '@}.tmpl'	'{@' .chezmoi.executable '@} edit-config-template'" \
	'Edit chezmoi config file'		'c' "new-window -n {@' .chezmoi.configFile | base | squote '@}	'{@' .chezmoi.executable '@} edit-config'" \
	'' \
	'Edit .chezmoidata.yaml'		'd' "new-window -n '.chezmoidata'		{@' cat .cmd.editor "--" (joinPath .chezmoi.sourceDir ".chezmoidata.yaml") | squote '@}" \
	'Edit .chezmoiexternal.toml'	'e' "new-window -n '.chezmoiexternal'	{@' cat .cmd.editor "--" (joinPath .chezmoi.sourceDir ".chezmoiexternal.toml.tmpl") | squote '@}" \
	'Edit .chezmoiignore'			'i' "new-window -n '.chezmoiignore'		{@' cat .cmd.editor "--" (joinPath .chezmoi.sourceDir ".chezmoiignore.tmpl") | squote '@}" \
	'Edit .chezmoiremove'			'r' "new-window -n '.chezmoiremove'		{@' cat .cmd.editor "--" (joinPath .chezmoi.sourceDir ".chezmoiremove.tmpl") | squote '@}" \
	'' \
	'Back'							'.' "run-shell {@' .cmd.tmuxMenuEditConfigMain | squote '@}"

