# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- includeTemplate .tmpl.shebang.dumbSh . '@}
# vim: set ft=sh ts=4 sw=4:
#
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
#
# This script opens an edit config menu for desktop panel in tmux
#

{@'- $paletteFileName := base .tmpl.palette.tint2 '@}

exec tmux display-menu -T 'Panel configuration' -x C -y C \
	'Edit tint2rc' 'r' "new-window -n 'tint2rc' \"{@' .chezmoi.executable '@} edit --apply {@' joinPath .chezmoi.homeDir ".config/tint2/tint2rc" '@}\"" \
	'Edit tint2 palette' 'p' "new-window -n '{@' $paletteFileName '@}' '\"${EDITOR}\" {@' joinPath .chezmoi.sourceDir ".chezmoitemplates" .tmpl.palette.tint2 '@}'" \
	'' \
	'Back' 'b' "run-shell {@' .cmd.tmuxMenuEditConfigMain | squote '@}"

