# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- /* vim: set ft=yaml fdm=marker: */ -'@}

{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

vbd_utilities_pkgs_archivers:
{@'- /* {{{ Debian-based */'@}
{@'- if .sys.isDebianBased '@}

  deb_stable:
    - arj
    - cabextract
    - lbzip2
    - p7zip
    - pigz
    - rar
    - rpm
    - unace
    - unrar
    - unzip
    - xz-utils
    - zip
    - zstd

{@'- /* }}} */'@}
{@'- /* {{{ Void */'@}
{@'- else if .sys.isVoid '@}

  xbps:
    - cabextract
    - dpkg
    - lbzip2
    - pigz
    - p7zip
    - p7zip-unrar
    - rpm
    - unrar
    - unzip
    - xz
    - zip
    - zstd

{@'- end '@} {@'- /* }}} */'@}

...
{@'- end '@}
