# {{{ chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if false -'@}
# vim: set ft=yaml:
{@'- end -'@} {@'- /* }}} */ -'@}

{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

vbd_utilities_pkgs_rtfm:
{@'- /* {{{ Debian-based */'@}
{@'- if .sys.isDebianBased '@}

  deb_stable:
    - freebsd-manpages
    - groff
    - info
    - man-db
    - manpages
    - manpages-dev
    - manpages-posix
    - manpages-posix-dev

  deb_backports:
    - manpages-ru
    - manpages-ru-dev

{@'- /* }}} */'@}
{@'- /* {{{ Void */'@}
{@'- else if .sys.isVoid '@}

  xbps:
    - man-pages
    - man-pages-devel
    - man-pages-posix
    - manpages-ru
    - texinfo

{@'- end '@} {@'- /* }}} */'@}

...
{@'- end '@}
