# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- /* vim: set ft=yaml fdm=marker: */ -'@}

{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

vbd_utilities_pkgs_network_utils:
{@'- /* {{{ Debian-based */'@}
{@'- if .sys.isDebianBased '@}

  deb_stable:
    - bind9-dnsutils
    - curl
    - inetutils-ping
    - iperf3
#    - nmap # backported
    - rfkill
    - tcpdump
    - traceroute
    - wget

  deb_backports:
    - nmap

{@'- /* }}} */'@}
{@'- /* {{{ Void */'@}
{@'- else if .sys.isVoid '@}

  xbps:
    - bind-utils
    - curl
    - nmap
    - tcpdump
    - traceroute
    - wget

{@'- end '@} {@'- /* }}} */'@}

...
{@'- end '@}
