window#osd {
	padding: 12px 20px;
	border-radius: 999px;
	border: 4px solid shade(@theme_bg_color, 0.67);
	background: shade(@theme_bg_color, 0.95);
}

window#osd #container {
	margin: 16px;
}

window#osd image,
window#osd label {
	color: @theme_fg_color;
}

window#osd progressbar:disabled,
window#osd image:disabled {
	opacity: 0.5;
}

window#osd progressbar {
	min-height: 6px;
	border-radius: 999px;
	background: transparent;
	border: none;
}

window#osd trough {
	min-height: inherit;
	border-radius: inherit;
	border: none;
	background: alpha(@theme_fg_color, 0.5);
}

window#osd progress {
	min-height: inherit;
	border-radius: inherit;
	border: none;
	background: @theme_fg_color;
}

