{{- if .theSystem.isOldLaptop -}}
{{- joinPath .chezmoi.sourceDir .sysDirs.symlinked ".config/lxterminal/lxterminal.conf.old-laptop" -}}
{{- else -}}
{{- joinPath .chezmoi.sourceDir .sysDirs.symlinked ".config/lxterminal/lxterminal.conf.common" -}}
{{- end -}}
