# {{{ chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if false -'@}
# vim: set ft=yaml:
{@'- end -'@} {@'- /* }}} */ -'@}
{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

{@'- if .sys.isDebianBased '@} {@'- /* {{{ Debian-based */'@}

- name: RTFM | Install packages (stable)
  tags: [packages, system, utilities, rtfm]
  become: true
  ansible.builtin.apt:
    package: "{{ vbd_utilities_pkgs_rtfm.deb_stable }}"
    state: present
    install_recommends: false
  when: ansible_facts['os_family'] == 'Debian'

{@'- /* }}} */'@}
{@'- else if .sys.isVoid '@} {@'- /* {{{ Void */'@}

- name: RTFM | Install packages (xbps)
  tags: [packages, system, utilities, rtfm]
  become: true
  community.general.xbps:
    package: "{{ vbd_utilities_pkgs_rtfm.xbps }}"
    state: present
  when: ansible_facts['distribution'] == 'Void'

{@'- end '@} {@'- /* }}} */'@}

...
{@'- end '@}
