# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if false -'@}
# vim: set ft=yaml:
{@'- end -'@}
{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

{@'- if .sys.isDebianBased '@}
{@'- /* {{{ Debian-based */'@}

- name: Productivity utils | Install packages (stable)
  tags: [packages, system, utilities, productivity]
  become: true
  ansible.builtin.apt:
    package: "{{ vbd_utilities_pkgs_productivity.stable }}"
    state: latest
    install_recommends: false

{@'- /* }}} */'@}
{@'- else if .sys.isVoid '@}
{@'- /* {{{ Void */'@}

- name: Productivity utils | Install packages (xbps)
  tags: [packages, system, utilities, productivity]
  become: true
  community.general.xbps:
    package: "{{ vbd_utilities_pkgs_productivity.xbps }}"
    state: present

{@'- /* }}} */'@}
{@'- end '@}

...
{@'- end '@}
