# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- /* vim: set ft=yaml fdm=marker: */ -'@}

{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

- name: Virtual machines | Installation
  tags: [packages, virtual_machines]
  block:

    - name: Virtual machines | Virt-manager
      tags: [virt_manager]
      ansible.builtin.import_tasks: components/virt_manager.yml

    - name: Virtual machines | Virtualbox
      tags: [virtualbox]
      ansible.builtin.import_tasks: components/virtualbox.yml

...
{@'- end '@}
