# chezmoi:template: left-delimiter=@'{% right-delimiter=%}'@
---

@'{% if .sysIsBrandsPrivate -%}'@

- name: Managing local symlinks
  hosts: localhost
@'{%- $personalSymlinksNeeded := ne .dirUserData .dirUserDataDefault %}'@
@'{%- if  $personalSymlinksNeeded %}'@
  vars_files: 
    - vars/personal-symlinks.yml
@'{%- end %}'@
  tasks:
@'{%- if  $personalSymlinksNeeded %}'@
    - name: Ensure all symlinks to @'{% .dirUserData | quote %}'@ are on
      file:
        src: @'{% joinPath .dirUserData .chezmoi.username "{{ item }}" | quote %}'@
        dest: @'{% joinPath .chezmoi.homeDir "{{ item }}" | quote %}'@
        state: link
      loop: "{{ personal_symlinks }}"
@'{%- end %}'@
    - name: Ensure "My Games" symlink is on
      file:
        path: @'{% joinPath .chezmoi.homeDir "My Games" | quote %}'@
        src: Documents/My Games
        state: link

@'{%- end %}'@

@'{% if .sysIsDebianBased -%}'@
- name: Installing packages
  hosts: localhost
  vars_files:
    - vars/packages-deb.yml
  become: true
  tasks:
    - name: Upgrade apt
      ansible.builtin.apt:
        upgrade: true
        update-cache: true
        install_recommends: false
    - name: Install packages from stable repository
      ansible.builtin.apt:
        name: "{{ packages.debian.stable }}"
        state: latest
        install_recommends: false
    - name: Install packages from the backports repository
      ansible.builtin.apt:
        name: "{{ packages.debian.backports }}"
        default_release: stable-backports
        state: latest
        install_recommends: false
    - name: Install CPAN packages
      community.general.cpanm:
        name: "{{ item }}"
      loop: "{{ packages.debian.cpan }}"
@'{%- end %}'@
