# chezmoi:template: left-delimiter={@' right-delimiter='@}
---
- name: Prepare system fontconfig configuration
  get_fontconfig_config_symlinks_list:
    conf_avail: "{{ fontconfig_config.conf_avail }}"
    conf_d: "{{ fontconfig_config.conf_d }}"
    conf_needed: "{{ fontconfig_config.conf_needed }}"
    antialias: "{{ fontconfig_config.antialias }}"
    autohint: "{{ fontconfig_config.autohint }}"
    autohint_if_no_hinting: "{{ fontconfig_config.autohint_if_no_hinting }}"
    hinting: "{{ fontconfig_config.hinting }}"
    hintstyle: "{{ fontconfig_config.hintstyle }}"
    lcdfilter: "{{ fontconfig_config.lcdfilter }}"
    rgba: "{{ fontconfig_config.rgba }}"
    bitmaps: "{{ fontconfig_config.bitmaps }}"
    scale_bitmap_fonts: "{{ fontconfig_config.scale_bitmap_fonts }}"
  register: fontconfig_config_symlinks_list
  tags: [fontconfig, system, symlinks]

- name: Test Output
  ansible.builtin.debug:
    msg: "{{ fontconfig_config_symlinks_list }}"
  tags: [fontconfig, system, symlinks]

- name: Adjust system fontconfig configuration
  become: true
  ansible.builtin.file:
    src: "{{ item.src if 'src' in item else '' }}"
    dest: "{{ item.dest }}"
    state: "{{ item.state }}"
    owner: "{{ 'root' if item.state == 'link' else '' }}"
    group: "{{ 'root' if item.state == 'link' else '' }}"
    mode: "{{ '' }}"
  loop: "{{ fontconfig_config_symlinks_list.file_list }}"
  tags: [fontconfig, system, symlinks]
...
