" A cool font
set guifont={{ (cat .app.terminal.font.family .app.terminal.font.weight.normal .app.terminal.font.size) | replace " " "\\ " }}

" Disable unnecessary graphic stuff
set guioptions -=m  " Menu
set guioptions -=T  " Toolbar
set guioptions -=r  " Right scrollbar
