<?xml version="1.0"?>
<!DOCTYPE fontconfig SYSTEM "urn:fontconfig:fonts.dtd">
<!-- chezmoi:template: left-delimiter={@ right-delimiter=@} -->
<!-- vim: set ft=xml ts=2 sw=2 fdm=marker et: -->
<!--
{@ includeTemplate .tmpl.msg.managedByChezmoi . @}
-->
<fontconfig>

  <!-- General fontconfig settings -->

  <match target="font">
    <edit name="autohint" mode="assign">
      <bool>{@ .xft.autohint @}</bool>
    </edit>
  </match>

  <match target="font">
    <edit name="hinting" mode="assign">
      <bool>{@ .xft.hinting @}</bool>
    </edit>
  </match>

  <match target="font">
    <edit name="hintstyle" mode="assign">
      <const>{@ .xft.hintStyle @}</const>
    </edit>
  </match>

  <match target="font">
    <edit name="antialias" mode="assign">
      <bool>{@ .xft.antialias @}</bool>
    </edit>
  </match>

  <match target="font">
    <edit name="rgba" mode="assign">
      <const>{@ .xft.rgba @}</const>
    </edit>
  </match>

  <match target="font">
    <edit name="lcdfilter" mode="assign">
      <const>{@ .xft.lcdfilter @}</const>
    </edit>
  </match>

  <match target="font">
    <edit name="dpi" mode="assign">
      <double>{@ .xft.dpi @}</double>
    </edit>
  </match>

</fontconfig>
