# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@' if false -'@}
# vim ft=sh
{@' end -'@}
{@'/* This template is used in scripts. It prints the name of the running script */ -'@}

### TEMPLATE START: msgRunningScript.sh ###
printf "\n\033[01;35mRunning {@' base .chezmoi.sourceFile '@}...\033[00m\n"
### TEMPLATE END: msgRunningScript.sh ###

{@'- /* This deletes an empty string after the template */ -'@}
