# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@' if false -'@}
# vim: ft=sh
#
# This template is used in scripts from the .chezmoiscripts directory.
# It prints the name of the running script in color.
#
# chezmoi variable to store relative path to this template: .tmpl.msg.printRunningScriptName
#
{@'- end -'@}

### TEMPLATE START: printRunningScriptName.sh ###
printf "\n\033[01;35mRunning {@' base .chezmoi.sourceFile '@}...\033[00m\n"
### TEMPLATE END: printRunningScriptName.sh ###

{@'- /* This deletes an empty string after the template */ -'@}
