# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@' if false -'@}
# vim: ft=sh
#
# This template is used in scripts from the .chezmoiscripts directory.
# It adds two functions to print coloured messages:
# print_message <message> - prints a message with newline
# print_message_no_linebreak <message> - prints a message without newline
#
# chezmoi variable to store relative path to this template: .tmpl.sh.funcPrintMessage
#
{@'- end -'@}

# Include the ``print_message*'' functions
. {@' joinPath .dir.helperScripts "func-print-message.sh" '@}

{@'- /* This deletes an empty line after the template */ -'@}
