# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

desktop_install_pkg_browsers:
{@'- if .sys.isDebianBased '@}

  stable:
    - chromium
    - chromium-l10n
    - chromium-sandbox
    - firefox-esr
    - firefox-esr-l10n-de
    - firefox-esr-l10n-ru

{@'- else if .sys.isVoid '@}

{@'- end '@}

...
{@'- end '@}
