# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

desktop_install_pkg_appearance:
{@'- if .sys.isDebianBased '@}
  stable:

    # Fonts
    - fonts-dejavu
    - fonts-dejavu-extra
    - fonts-freefont-otf
    - fonts-jetbrains-mono
    - fonts-liberation
    - fonts-liberation2
    - fonts-noto
    - fonts-noto-cjk
    - fonts-noto-color-emoji
    - fonts-paratype
    - fonts-roboto
    - fonts-ubuntu

    # Themes
    - gnome-themes-extra
    - gtk2-engines
    - mate-themes

    # Icons
    - breeze-icon-theme
    - dmz-cursor-theme
    - gnome-extra-icons
    - gnome-icon-theme
    - papirus-icon-theme

{@'- else if .sys.isVoid '@}

  # Fonts
  - dejavu-fonts-ttf
  - fonts-roboto-ttf
  - freefont-ttf
  - liberation-fonts-ttf
  - noto-fonts-cjk
  - noto-fonts-emoji
  - noto-fonts-ttf
  - ttf-ubuntu-font-family

  # Themes
  - gtk2-engines
  - mate-themes

  # Icons
  - breeze-icons
  - gnome-icon-theme
  - gnome-icon-theme-extras
  - papirus-folders
  - papirus-icon-theme
  - xcursor-vanilla-dmz

{@'- end '@}

...
{@'- end '@}
