# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

desktop_install_pkg_utilities:
{@'- if .sys.isDebianBased '@}
  stable:

    # Archivers
    - arj
    - cabextract
    - p7zip
    - rar
    - rpm
    - unace
    - unrar
    - unzip
    - xz-utils
    - zip
    - zstd

    # Common utilities
    - age
    - ansible-lint
    - bash-completion
    - btop
    - devscripts # for checkbashisms mainly
    - fastfetch
    - file
    - htop
    - lsb-release
    - mc
    - pwgen
    - rsync
    - stress
    - time
    - tmux
    - tree
    - vim
    - vim-gtk3
    - vim-syntax-gtk

    # Debian-specific
{@'- if and .sys.isBrandsPrivate (ne .dir.userData .dir.userDataDefault) '@}
    - btrfsmaintenance
{@'- end '@}
    - command-not-found
    - debootstrap
    - hodie
    - python3-apt
#    - python3-debian # backported
    - python-is-python3
    - vrms

    # Hardware utilities
    - cpuid
    - dmidecode
    - inxi
    - lshw
    - lsscsi
    - pciutils
    - usbutils

    # Network utilities
    - bind9-dnsutils
    - curl
    - inetutils-ping
    - iperf3
#    - nmap # backported
    - tcpdump
    - traceroute
    - wget
    - wireshark

  backports:
    - nmap
    - python3-debian

{@'- else if .sys.isVoid '@}

  xbps:

    # Archivers
    - zip
    - unzip
    - p7zip
    - xz
    - dpkg
    - rpm
    - unrar
    - p7zip-unrar
    - zstd

    - vim-huge

{@'- end '@}

...
{@'- end '@}
