# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

desktop_install_pkg_wayland:
{@'- if .sys.isDebianBased '@}
  stable:

    - alacritty
    - cliphist
    - dunst
    - foot
{@'- if not .sys.isVM '@}
    - gammastep
{@'- end '@}
    - grim
    - jq
    - nwg-displays
    - rofi
    - slurp
    - sway
    - swaybg
    - swayidle
    - swaykbdd
    - swaylock
    - swayosd
    - udiskie
    - waybar
    - wl-clipboard
    - wlogout
    - wlr-randr
    - xdg-desktop-portal-wlr
    - xwayland

{@'- else if .sys.isVoid '@}

  xbps:
    - sway
    - swaybg
    - swayidle
    - swaykbdd
    - swaylock

{@'- end '@}

...
{@'- end '@}
