# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

desktop_install_pkg_appearance:
{@'- if .sys.isDebianBased '@} {@'- /* {{{ Debian-Based */'@}
  stable:
    # {{{ Fonts

    - fonts-dejavu
    - fonts-dejavu-extra
    - fonts-firacode
    - fonts-freefont-otf
    - fonts-hack
    - fonts-jetbrains-mono
    - fonts-liberation
    - fonts-liberation2
    - fonts-noto
    - fonts-noto-cjk
    - fonts-noto-color-emoji
    - fonts-paratype
    - fonts-roboto
    - fonts-ubuntu

    # }}}
    # {{{ Themes

    - gnome-themes-extra
    - gtk2-engines
    - mate-themes
    - qt-style-kvantum
    - qt-style-kvantum-l10n
    - qt-style-kvantum-themes
    - qt5-gtk-platformtheme
    - qt5ct
    - qt6ct

    # }}}
    # {{{ Icons

    - bibata-cursor-theme
    - breeze-icon-theme
    - gnome-extra-icons
    - gnome-icon-theme
    - papirus-icon-theme

    # }}}
{@'- /* }}} */ -'@}
{@'- else if .sys.isVoid '@} {@'- /* {{{ Void */'@}
  xbps:
    # {{{ Fonts

    - dejavu-fonts-ttf
    - font-firacode
    - font-hack-ttf
    - font-weather-icons
    - fonts-roboto-ttf
    - freefont-ttf
    - liberation-fonts-ttf
    - noto-fonts-cjk
    - noto-fonts-emoji
    - noto-fonts-ttf
    - ttf-ubuntu-font-family

    # }}}
    # {{{ Themes

    - gtk2-engines
    - kvantum
    - mate-themes
    - qt5-styleplugins
    - qt5ct
    - qt6ct

    # }}}
    # {{{ Icons

    - breeze-icons
    - gnome-icon-theme
    - gnome-icon-theme-extras
    - papirus-folders
    - papirus-icon-theme
    - xcursor-vanilla-dmz

    # }}}
{@'- end '@} {@'- /* }}} */'@}

...
{@'- end '@}
