# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- /* vim: set ft=yaml fdm=marker: */ -'@}

{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

- name: Applications | Installation
  tags: [packages, desktop, applications]
  block:

    - name: Applications | Desktop utils
      tags: [desktop_utils]
      ansible.builtin.import_tasks: components/desktop_utils.yml

    - name: Applications | Multimedia
      tags: [multimedia]
      ansible.builtin.import_tasks: components/multimedia.yml

    - name: Applications | Office
      tags: [office]
      ansible.builtin.import_tasks: components/office.yml

    - name: Applications | Wireshark
      tags: [wireshark]
      ansible.builtin.import_tasks: components/wireshark.yml

    - name: Applications | Flatpak
      tags: [flatpak]
      ansible.builtin.import_tasks: components/flatpak.yml

...
{@'- end '@}
