# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

vbd_audio_base_pkgs:
{@'- if .sys.isDebianBased '@}
  stable:

    - alsa-utils
    - alsa-topology-conf
    - alsa-ucm-conf
    - pipewire
    - pipewire-pulse
    - wireplumber

{@'- else if .sys.isVoid '@}

  xbps:
    - alsa-utils

{@'- end '@}

...
{@'- end '@}
