# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if or .sys.isDebianBased -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

- name: Update apt-file
  tags: always
  become: true
  ansible.builtin.command:
    cmd: apt-file update
  changed_when: true
  when: ansible_facts['os_family'] == 'Debian'

...
{@'- end '@}
