# chezmoi:template: left-delimiter={@' right-delimiter='@}
#
# chezmoi variable to store relative path to this template: .tmpl.chromiumFlags
#

---

# This setting doesn't work for Opera, for some reason
# Ofc, it has nothing to do with a tiling compositor like Sway either
# I keep this here just for the case and for historical reasons
- --start-maximized

# Hardware video acceleration
- --enable-accelerated-video-decode
- --enable-gpu-rasterization
- --enable-zero-copy

# See: https://wiki.archlinux.org/title/Chromium#Vulkan
#- --enable-features=VaapiVideoDecoder,VaapiIgnoreDriverChecks,Vulkan,DefaultANGLEVulkan,VulkanFromANGLE
- --enable-features=VaapiVideoDecoder,VaapiIgnoreDriverChecks

# Disable JIT for javascript for security reasons.
# See: https://wiki.archlinux.org/title/Chromium#Disable_JIT
#- --js-flags=--jitless

{@'- if .sys.useWayland '@}
- --enable-features=UseOzonePlatform
- --ozone-platform=wayland

{@' end -'@}
...
