#!/usr/bin/perl

# obmenu-generator - schema file

=for comment

    item:       add an item inside the menu             {item => ["command", "label", "icon"]},
    cat:        add a category inside the menu          {cat => ["name", "label", "icon"]},
    sep:        horizontal line separator               {sep => undef}, {sep => "label"},
    pipe:       a pipe menu entry                       {pipe => ["command", "label", "icon"]},
    file:       include the content of an XML file      {file => "/path/to/file.xml"},
    raw:        any XML data supported by Openbox       {raw => q(...)},
    beg:        begin of a category                     {beg => ["name", "icon"]},
    end:        end of a category                       {end => undef},
    obgenmenu:  generic menu settings                   {obgenmenu => ["label", "icon"]},
    exit:       default "Exit" action                   {exit => ["label", "icon"]},

=cut

# NOTE:
#       * Keys and values are case sensitive. Keep all keys lowercase.
#       * ICON can be a either a direct path to an icon or a valid icon name
#       * Category names are case insensitive. (X-XFCE and x_xfce are equivalent)

require "$ENV{HOME}/.config/obmenu-generator/config.pl";

## Text editor
my $editor = $CONFIG->{editor};
my $chezmoi_editor = 'env EDITOR="gvim --nofork" chezmoi edit --apply';

our $SCHEMA = [

    #           COMMAND                 LABEL               ICON
    {pipe =>    ['/bin/bash -e {{ joinPath .chezmoi.homeDir .sysDirs.obPipemenus }}/ob-pipe-bookmarks.sh',   'Bookmarks',    '{{ template "symbolicIcons" . }}/apps/system-file-manager-symbolic.svg']},
    {item =>    ['x-terminal-emulator', 'Terminal',         '{{ template "symbolicIcons" . }}/apps/utilities-terminal-symbolic.svg']},
    {item =>    ['xdg-open http://',    'Web Browser',      '{{ template "symbolicIcons" . }}/apps/web-browser-symbolic.svg']},

    {sep =>     'Main Menu'},

    #           NAME                    LABEL               ICON
    {cat =>     ['utility',             'Accessories',      '{{ template "symbolicIcons" . }}/categories/applications-utilities-symbolic.svg']},
    {cat =>     ['development',         'Development',      '{{ template "symbolicIcons" . }}/categories/applications-engineering-symbolic.svg']},
    {cat =>     ['education',           'Education',        '{{ template "symbolicIcons" . }}/categories/applications-science-symbolic.svg']},
    {cat =>     ['game',                'Games',            '{{ template "symbolicIcons" . }}/categories/applications-games-symbolic.svg']},
    {cat =>     ['graphics',            'Graphics',         '{{ template "symbolicIcons" . }}/categories/applications-graphics-symbolic.svg']},
    {cat =>     ['audiovideo',          'Multimedia',       '{{ template "symbolicIcons" . }}/categories/applications-multimedia-symbolic.svg']},
    {cat =>     ['network',             'Network',          '{{ template "symbolicIcons" . }}/places/network-workgroup-symbolic.svg']},
    {cat =>     ['office',              'Office',           '{{ template "symbolicIcons" . }}/apps/libreoffice-base-symbolic.svg']},
    {cat =>     ['other',               'Other',            'applications-other']},
    {cat =>     ['settings',            'Settings',         '{{ template "symbolicIcons" . }}/apps/utilities-tweak-tool-symbolic.svg']},
    {cat =>     ['system',              'System',           '{{ template "symbolicIcons" . }}/categories/applications-system-symbolic.svg']},

    #             LABEL          ICON
    #{beg => ['My category',  'cat-icon']},
    #          ... some items ...
    #{end => undef},

    #            COMMAND     LABEL        ICON
    #{pipe => ['obbrowser', 'Disk', 'drive-harddisk']},

    ## Generic advanced settings
    #{sep       => undef},
    #{obgenmenu => ['Openbox Settings', 'applications-engineering']},
    #{sep       => undef},

    ## Custom advanced settings
    {sep => undef},
    #{beg => ['Advanced Settings', 'applications-engineering']},
    {beg => ['Advanced Settings', '{{ template "symbolicIcons" . }}/categories/preferences-other-symbolic.svg']},

        # Nitrogen
        {item => ['nitrogen', 'Desktop wallpaper', '{{ template "symbolicIcons" . }}/apps/preferences-desktop-wallpaper-symbolic.svg']},
        # Reconfiguration of the whole appearance
        {item => ['/bin/sh -e {{ joinPath .chezmoi.homeDir .sysDirs.scripts }}/reconfigure-appearance.sh', 'Reconfigure appearance', '{{ template "symbolicIcons" . }}/apps/preferences-desktop-remote-desktop-symbolic.svg']},

        {sep => undef},

        # obmenu-generator category
        {beg => ['Obmenu-Generator', '{{ template "symbolicIcons" . }}/actions/edit-tag-symbolic.svg']},
            {item => ["$chezmoi_editor {{ .chezmoi.homeDir }}/.config/obmenu-generator/schema.pl", 'schema.pl', '{{ template "symbolicIcons" . }}/actions/edit-symbolic.svg']},
            {item => ["$chezmoi_editor {{ .chezmoi.homeDir }}/.config/obmenu-generator/config.pl", 'config.pl', '{{ template "symbolicIcons" . }}/actions/edit-symbolic.svg']},

            {sep  => undef},

            {item => ['/usr/bin/perl -- {{ joinPath .chezmoi.homeDir .sysDirs.scripts }}/obmenu-generator -d', 'Refresh cache', '{{ template "symbolicIcons" . }}/actions/view-refresh-symbolic.svg']},
        {end => undef},

        # Openbox configuration category
        {beg => ['Openbox', '{{ template "symbolicIcons" . }}/places/workspaces-symbolic.svg']},
            {item => ['obconf', 'Obconf', 'obconf']},
            {item => ['openbox --reconfigure', 'Reconfigure Openbox', '{{ template "symbolicIcons" . }}/actions/system-run-symbolic.svg']},
            {item => ['openbox --restart', 'Restart Openbox', '{{ template "symbolicIcons" . }}/actions/view-refresh-symbolic.svg']},

            {sep => undef},

            {item => ["$chezmoi_editor {{ .chezmoi.homeDir }}/.config/openbox/autostart", 'autostart', '{{ template "symbolicIcons" . }}/actions/edit-symbolic.svg']},
            {item => ["$chezmoi_editor {{ .chezmoi.homeDir }}/.config/openbox/menu.xml",  'menu.xml',  '{{ template "symbolicIcons" . }}/actions/edit-symbolic.svg']},
            {item => ["$editor {{ .chezmoi.homeDir }}/.config/openbox/rc.xml",            'rc.xml',    '{{ template "symbolicIcons" . }}/actions/edit-symbolic.svg']},
        {end => undef},

        # XSettingsD category (pipemenu)
        {pipe => ['/bin/sh -e {{ joinPath .chezmoi.homeDir .sysDirs.obPipemenus }}/ob-pm-xsettingsd.sh', 'XSettingsD', '{{ template "symbolicIcons" . }}/apps/preferences-desktop-apps-symbolic.svg']},

        # Varia category
        # settings-configure
        {beg => ['Varia', '{{ template "symbolicIcons" . }}/apps/preferences-system-details-symbolic.svg']},
            {item => ['/bin/sh -e {{ joinPath .chezmoi.homeDir .sysDirs.scripts }}/manage-service.sh restart conky', 'Restart conky', 'conky']},
            {item => ['/bin/sh -e {{ joinPath .chezmoi.homeDir .sysDirs.scripts }}/manage-service.sh restart tint2', 'Restart tint2', 'tint2']},
            {item => ['/bin/sh -e {{ joinPath .chezmoi.homeDir .sysDirs.scripts }}/manage-service.sh restart dunst', 'Restart dunst', '{{ template "symbolicIcons" . }}/apps/notifications-applet-symbolic.svg']},

            {sep => undef},

            {item => ["$chezmoi_editor {{ .chezmoi.homeDir }}/.config/conky/conky.conf",  'conky.conf',  '{{ template "symbolicIcons" . }}/actions/edit-symbolic.svg']},
            {item => ["$chezmoi_editor {{ .chezmoi.homeDir }}/.config/tint2/tint2rc",     'tint2rc',     '{{ template "symbolicIcons" . }}/actions/edit-symbolic.svg']},
            {item => ["$chezmoi_editor {{ .chezmoi.homeDir }}/.config/dunst/dunstrc",     'dunstrc',     '{{ template "symbolicIcons" . }}/actions/edit-symbolic.svg']},
            {item => ["$chezmoi_editor {{ .chezmoi.homeDir }}/.config/picom/picom.conf",  'picom.conf',  '{{ template "symbolicIcons" . }}/actions/edit-symbolic.svg']},
        {end => undef},

    {end => undef},

    {sep => 'Exit'},

    ## The xscreensaver lock command
    {item => ['xscreensaver-command -lock', 'Lock screen', '/usr/share/icons/{{ .gtk.iconTheme }}/symbolic/actions/system-lock-screen-symbolic.{{ .gtk.iconExt }}']},

    ## This option uses the default Openbox's "Exit" action
    {exit => ['Log out', '/usr/share/icons/{{ .gtk.iconTheme }}/symbolic/actions/system-log-out-symbolic.{{ .gtk.iconExt }}']},

    ## This uses the 'oblogout' menu
    {item => ['lxsession-logout --prompt="<big><big><b>Vero exire a sessione vis?</b></big></big>"', 'Shutdown', '/usr/share/icons/{{ .gtk.iconTheme }}/symbolic/actions/system-shutdown-symbolic.{{ .gtk.iconExt }}']},
]
