# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- /* vim: set ft=sh: */ -'@}

{@' includeTemplate .tmpl.shebang.dumbSh . '@}
#
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
#
# This file is intended to be sourced  in shell scripts from the .chezmoiscripts directory and others.
# It adds a function which makes user to enter sudo/doas password until he succeeds.
# Then, if the number of parameters of the function is at least 1,
# it calls the ``sudo'' command with the parameters passed.
#

vbd_Sudo() {

	# Make user to enter a valid ``sudo'' password if needed
	sudo_working=1
	while [ $sudo_working -ne 0 ] ; do
		if {@' .cmd.sudo '@} true ; then
			sudo_working=0
		fi
	done

	# Then execute the commands passed to the function as arguments
	# (if these exist)
	[ $# -gt 0 ] && {@' .cmd.sudo '@} "${@}"
}

