# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if or .sys.isVoid .sys.isDebianBased -'@}
# vim: ft=sh ts=4 sw=4:

{@'/* Include the ``vbd_Sudo'' function */ -'@}
{@' includeTemplate .tmpl.sh.funcSudo . '@}

vbd_Install_Pkg() {
{@'- if .sys.isDebianBased '@}
	vbd_Sudo aptitude --assume-yes --without-recommends install -- "${@}"
{@'- else if .sys.isVoid '@}
	vbd_Sudo xbps-install -Sy -- "${@}"
{@'- end '@}
}

vbd_Remove_Pkg() {
{@'- if .sys.isDebianBased '@}
	vbd_Sudo aptitude --assume-yes purge -- "${@}"
{@'- else if .sys.isVoid '@}
	vbd_Sudo xbps-remove -Ry -- "${@}"
{@'- end '@}
}

vbd_Update_System() {
{@'- if .sys.isDebianBased '@}
	vbd_Sudo aptitude update && vbd_Sudo aptitude --assume-yes upgrade
{@'- else if .sys.isVoid '@}
	vbd_Sudo xbps-install -Syu xbps && vbd_Sudo xbps-install -Syu
{@'- end '@}
}

vbd_Update_Pkg_Cache() {
{@'- if .sys.isDebianBased '@}
	vbd_Sudo aptitude update
{@'- else if .sys.isVoid '@}
	vbd_Sudo xbps-install -Sy
{@'- end '@}
}

{@' end '@}
