#!/bin/sh
# vim: set ft=sh ts=4 sw=4 noet:
#
# modify_ script for Openbox' rc.xml
#

# This AWK script returns 1 if stdin was empty and 0 if it wasn't
if ! awk -f {{ joinPath .dir.helperScripts "modify-ob-rc-xml.awk" | quote }} <&0 2>/dev/null ; then
	cat <<- "_THE_END_"
		{{ includeTemplate .tmpl.ob.defaultOpenboxRc . }}
	_THE_END_
fi

