<!-- chezmoi:template: left-delimiter={@ right-delimiter=@} -->
<applications>
  <application name="conky">
    <iconified>false</iconified>
  </application>
  <application name="gsimplecal">
    <position force="yes">
      <x>-0</x>
      <y>0</y>
    </position>
    <skip_pager>yes</skip_pager>
    <skip_taskbar>yes</skip_taskbar>
    <focus>yes</focus>
    <layer>above</layer>
  </application>
  <application name="gvim">
    <maximized>true</maximized>
  </application>
  <application name="x-terminal-emulator">
    <maximized>true</maximized>
  </application>
</applications>
