<!-- chezmoi:template: left-delimiter={@ right-delimiter=@} -->
<applications>
  <application name="kitty">
    <maximized>true</maximized>
  </application>
  <application name="gvim">
    <maximized>true</maximized>
  </application>
  <application name="x-terminal-emulator">
    <maximized>true</maximized>
  </application>
  <application name="st">
    <maximized>true</maximized>
  </application>
  <application name="conky">
    <iconified>false</iconified>
  </application>
</applications>
