<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="https://openbox.org/"
 xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="https://openbox.org/">
    <menu id="root-menu" label="obmenu-generator" execute="{{ joinPath .chezmoi.homeDir .mySystem.localBin }}/obmenu-generator -i" />
</openbox_menu>
{{- if false }}
<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://openbox.org/
		file:///usr/share/openbox/menu.xsd">

<menu id="root-menu" label="Openbox 3">
	<menu id="bookmarks-menu" label="Bookmarks" icon="/usr/share/icons/{{ .gtk.iconTheme }}/{{ .gtk.obmenuIconSize }}/actions/bookmark.{{ .gtk.iconExt }}" execute="/bin/bash -e {{ joinPath .chezmoi.homeDir .mySystem.localLib }}/ob-gtk-bookmarks.sh"/>
	<item label="Web browser" icon="/usr/share/icons/{{ .gtk.iconTheme }}/{{ .gtk.obmenuIconSize }}/apps/web-browser.{{ .gtk.iconExt }}">
		<action name="Execute"><execute>x-www-browser</execute></action>
	</item>
	<item label="Libreoffice Writer" icon="/usr/share/icons/{{ .gtk.iconTheme }}/{{ .gtk.obmenuIconSize }}/apps/libreoffice-writer.{{ .gtk.iconExt }}">
		<action name="Execute"><execute>libreoffice --writer</execute></action>
	</item>
	<item label="Libreoffice Calc" icon="/usr/share/icons/{{ .gtk.iconTheme }}/{{ .gtk.obmenuIconSize }}/apps/libreoffice-calc.{{ .gtk.iconExt }}">
		<action name="Execute"><execute>libreoffice --calc</execute></action>
	</item>
{{- if lookPath "chromium" }}
	<item label="Chromium" icon="/usr/share/icons/{{ .gtk.iconTheme }}/{{ .gtk.obmenuIconSize }}/apps/chromium.{{ .gtk.iconExt }}">
		<action name="Execute"><execute>chromium</execute></action>
	</item>
{{- end }}
{{- if lookPath "obs" }}
	<item label="OBS Studio" icon="/usr/share/icons/{{ .gtk.iconTheme }}/{{ .gtk.obmenuIconSize }}/apps/com.obsproject.Studio.{{ .gtk.iconExt }}">
		<action name="Execute"><execute>obs</execute></action>
	</item>
{{- end }}
	<item label="Emacs client" icon="/usr/share/icons/{{ .gtk.iconTheme }}/{{ .gtk.obmenuIconSize }}/apps/emacs.{{ .gtk.iconExt }}">
		<action name="Execute"><execute>emacsclient --reuse-frame --no-wait --alternate-editor=""</execute></action>
	</item>
	<separator />
	<menu id="applications-menu" label="Applications" icon="/usr/share/icons/{{ .gtk.iconTheme }}/{{ .gtk.obmenuIconSize }}/apps/applications-all.{{ .gtk.iconExt }}" execute="/usr/bin/openbox-menu lxde-applications.menu"/>
	<separator />
	<item label="Desktop wallpaper" icon="/usr/share/icons/{{ .gtk.iconTheme }}/{{ .gtk.obmenuIconSize }}/apps/nitrogen.{{ .gtk.iconExt }}">
		<action name="Execute"><execute>nitrogen</execute></action>
	</item>
	<menu id="configure-openbox" label="Configure Openbox" icon="/usr/share/icons/{{ .gtk.iconTheme }}/{{ .gtk.obmenuIconSize }}/apps/openbox.{{ .gtk.iconExt }}">
		<item label="ObConf" icon="/usr/share/icons/{{ .gtk.iconTheme }}/{{ .gtk.obmenuIconSize }}/apps/obconf.{{ .gtk.iconExt }}">
			<action name="Execute"><execute>obconf</execute></action>
		</item>
		<item label="Reconfigure Openbox" icon="/usr/share/icons/{{ .gtk.iconTheme }}/{{ .gtk.obmenuIconSize }}/actions/configure.{{ .gtk.iconExt }}">
			<action name="Execute"><execute>reconfigure-openbox.sh</execute></action>
		</item>
		<item label="Restart Openbox" icon="/usr/share/icons/{{ .gtk.iconTheme }}/{{ .gtk.obmenuIconSize }}/apps/system-restart.{{ .gtk.iconExt }}">
			<action name="Restart" />
		</item>
		<separator />
		<item label="Edit autostart" icon="/usr/share/icons/{{ .gtk.iconTheme }}/{{ .gtk.obmenuIconSize }}/actions/edit.{{ .gtk.iconExt }}">
			<action name="Execute"><execute>/bin/sh -e {{ joinPath .chezmoi.homeDir .mySystem.localLib }}/edit-conf-from-menu.sh ~/.config/openbox/autostart</execute></action>
		</item>
		<item label="Edit menu.xml" icon="/usr/share/icons/{{ .gtk.iconTheme }}/{{ .gtk.obmenuIconSize }}/actions/edit.{{ .gtk.iconExt }}">
			<action name="Execute"><execute>/bin/sh -e {{ joinPath .chezmoi.homeDir .mySystem.localLib }}/edit-conf-from-menu.sh ~/.config/openbox/menu.xml</execute></action>
		</item>
		<item label="Edit rc.xml" icon="/usr/share/icons/{{ .gtk.iconTheme }}/{{ .gtk.obmenuIconSize }}/actions/edit.{{ .gtk.iconExt }}">
			<action name="Execute"><execute>/bin/sh -e {{ joinPath .chezmoi.homeDir .mySystem.localLib }}/edit-conf-from-menu.sh ~/.config/openbox/rc.xml</execute></action>
		</item>
	</menu>
	<menu id="configuration" label="General configuration" icon="/usr/share/icons/{{ .gtk.iconTheme }}/{{ .gtk.obmenuIconSize }}/actions/settings-configure.{{ .gtk.iconExt }}">
		<item label="Restart conky" icon="/usr/share/icons/{{ .gtk.iconTheme }}/{{ .gtk.obmenuIconSize }}/apps/conky.{{ .gtk.iconExt }}">
			<action name="Execute"><execute>/bin/sh -e {{ joinPath .chezmoi.homeDir .mySystem.localBin }}/conky.sh restart</execute></action>
		</item>
		<item label="Restart tint2" icon="/usr/share/icons/{{ .gtk.iconTheme }}/{{ .gtk.obmenuIconSize }}/apps/tint2.{{ .gtk.iconExt }}">
			<action name="Execute"><execute>killall -SIGUSR1 tint2</execute></action>
		</item>
		<item label="Restart dunst" icon="/usr/share/icons/{{ .gtk.iconTheme }}/{{ .gtk.obmenuIconSize }}/apps/plugin-notification.{{ .gtk.iconExt }}">
			<action name="Execute"><execute>/bin/sh -e {{ joinPath .chezmoi.homeDir .mySystem.localLib }}/restart-dunst.sh</execute></action>
		</item>
		<separator />
		<item label="Reconfigure whole appearance" icon="/usr/share/icons/{{ .gtk.iconTheme }}/{{ .gtk.obmenuIconSize }}/apps/preferences-desktop-theme.{{ .gtk.iconExt }}">
			<action name="Execute"><execute>/bin/sh -e {{ joinPath .chezmoi.homeDir .mySystem.localBin }}/reconfigure-appearance.sh</execute></action>
		</item>
		<separator />
		<item label="Edit conky.conf" icon="/usr/share/icons/{{ .gtk.iconTheme }}/{{ .gtk.obmenuIconSize }}/actions/edit.{{ .gtk.iconExt }}">
			<action name="Execute"><execute>/bin/sh -e {{ joinPath .chezmoi.homeDir .mySystem.localLib }}/edit-conf-from-menu.sh ~/.config/conky/conky.conf</execute></action>
		</item>
		<item label="Edit tint2rc" icon="/usr/share/icons/{{ .gtk.iconTheme }}/{{ .gtk.obmenuIconSize }}/actions/edit.{{ .gtk.iconExt }}">
			<action name="Execute"><execute>/bin/sh -e {{ joinPath .chezmoi.homeDir .mySystem.localLib }}/edit-conf-from-menu.sh ~/.config/tint2/tint2rc</execute></action>
		</item>
		<item label="Edit dunstrc" icon="/usr/share/icons/{{ .gtk.iconTheme }}/{{ .gtk.obmenuIconSize }}/actions/edit.{{ .gtk.iconExt }}">
			<action name="Execute"><execute>/bin/sh -e {{ joinPath .chezmoi.homeDir .mySystem.localLib }}/edit-conf-from-menu.sh ~/.config/dunst/dunstrc</execute></action>
		</item>
		<item label="Edit .xsettingsd" icon="/usr/share/icons/{{ .gtk.iconTheme }}/{{ .gtk.obmenuIconSize }}/actions/edit.{{ .gtk.iconExt }}">
			<action name="Execute"><execute>/bin/sh -e {{ joinPath .chezmoi.homeDir .mySystem.localLib }}/edit-conf-from-menu.sh ~/.xsettingsd</execute></action>
		</item>
	</menu>
	<separator />
	<item label="Lock screen" icon="/usr/share/icons/{{ .gtk.iconTheme }}/{{ .gtk.obmenuIconSize }}/apps/system-lock-screen.{{ .gtk.iconExt }}">
		<action name="Execute"><execute>xdg-screensaver lock</execute></action>
	</item>
	<item label="Logout" icon="/usr/share/icons/{{ .gtk.iconTheme }}/{{ .gtk.obmenuIconSize }}/apps/system-log-out.{{ .gtk.iconExt }}">
		<action name="Exit">
			<prompt>yes</prompt>
		</action>
	</item>
	<item label="Shutdown" icon="/usr/share/icons/{{ .gtk.iconTheme }}/{{ .gtk.obmenuIconSize }}/apps/system-shut-down.{{ .gtk.iconExt }}">
		<action name="Execute"><execute>obsession-logout</execute></action>
	</item>
</menu>

</openbox_menu>
{{- end }}
