# chezmoi:template: left-delimiter=@'{# right-delimiter=#}'@
# Openbox autostart script

# --== Setting keyboard and mouse parameters ==--
xset mouse 20/10 10 r rate @'{# int .varia.kbdDelay #}'@ @'{# int .varia.kbdRepeat #}'@ b off

# --== XSettings daemon ==--
xsettingsd &

# --== Compositor ==--
picom --daemon &
#xcompmgr &

# --== Panel ==-- 
tint2 &

# --== Desktop Background ==--
@'{# if .theSystem.isDebBased -#}'@
# The --force-setter option is necessary in Debian/Devuan, otherwise the thing doesn't work
nitrogen --restore --force-setter=xwindows &
@'{#- else -#}'@
nitrogen --restore &
@'{#- end #}'@

# --== Varisous Stuff ==--
@'{# if .apps.emacsDaemon -#}'@
emacs --bg-daemon &
@'{#- end #}'@
udiskie --smart-tray --notify --automount &

# --== Screensaver ==--
xscreensaver --no-splash &

# --== Clipboard Manager ==--
clipit &

# --== Sound Volume Manager ==--
(sleep 2; volumeicon) &
#pnmixer &

# --== Conky System Monitor ==--
(sleep 1; conky --pause=@'{# int .conky.startupDelay #}'@ --daemonize) &

# --== Layout Switcher Indicator ==--
(sleep 2; gxkb) &
