# {{{ chezmoi:template: left-delimiter={@' right-delimiter='@} missing-key=invalid
{@'- if false -'@}{@'- /* Vim modeline */ -'@}
# vim: set ft=yaml:
{@'- end -'@}{@'- /* }}} */ -'@}
---
#
# Victor Brand's Dotfiles
# https://github.com/vbrand1984/dotfiles
#

{@'/* {{{ Host type initialization */ -'@}

{@'- $brandsKey := joinPath .chezmoi.homeDir ".config/age/vbd-age-chezmoi-key.txt" -'@}
{@'- $isBrandsPrivate := stat $brandsKey | not | not -'@}
{@'- $hostType := "Other" '@}

{@'- if $isBrandsPrivate -'@}
{@'-    $hostTypeList := list "DesktopRig" "OldLaptop" "NecroLaptop" "AlcoLaptop" "Other" '@}
{@'-    $hostType = promptChoiceOnce . "sys.hostType" "Host type?" $hostTypeList "Other" '@}
{@'- end '@}

{@'- /* }}} (Host type initialization) */'@}
{@'- /* {{{ Variable initialization */'@}

{@'- /* {{{ Source dir initialization and check */'@}

{@'- $defaultDotsDir := ".Dots" '@}
{@'- $defaultSourceDir := joinPath $defaultDotsDir "chezmoi" '@}

{@'- /* Check if it is the right chezmoi source dir that was specified */'@}
{@'- if ne (.chezmoi.sourceDir | dir) (joinPath .chezmoi.homeDir $defaultSourceDir) '@}
{@'-    writeToStdout "Please run chezmoi init for these dotfiles as following:\n" '@}
{@'-    writeToStdout "chezmoi init vbrand1984 --source " (joinPath "~" $defaultSourceDir) "\n" '@}
{@'-    exit 1 '@}
{@'- end -'@}

{@'- /* }}} (Source dir initialization) */'@}
{@'- /* {{{ Local directories */ -'@}

{@'- $dirLocalCache := joinPath $defaultDotsDir "cache" -'@}
{@'- $dirHelperScripts := joinPath (.chezmoi.sourceDir | dir) "helper-scripts" '@}
{@'- $dirUserDataDefault := "/home" -'@}

{@'- /* These variables MUST contain RELATIVE (to $HOME) paths */'@}
{@'- $dirLocalBin := joinPath $defaultDotsDir "bin" '@}
{@'- $dirLocalGames := joinPath $defaultDotsDir "games" '@}
{@'- $dirDownloaded := joinPath $defaultDotsDir "downloaded" '@}
{@'- $dirLocalScripts := joinPath $defaultDotsDir "scripts" '@}
{@'- $dirInclude := joinPath $dirLocalScripts "include" '@}
{@'- $dirTmuxMenus := joinPath $dirLocalScripts "tmux-menus" '@}
{@'- $dirLocalBackgrounds := ".local/share/backgrounds" '@}
{@'- $dirBrandsBackgrounds := joinPath $dirLocalBackgrounds "brands-desktop-wallpapers" '@}

{@'- $dirChezmoiEncrypted := joinPath .chezmoi.sourceDir ".chezmoiencrypted" '@}

{@'- /* }}} (Local directories) */'@}
{@'- /* {{{ Personal data initialization */'@}

{@'- /* Personal chassis flags */'@}

{@'- $sysIsDesktopRig := and $isBrandsPrivate (eq $hostType "DesktopRig") '@}
{@'- $sysIsOldLaptop := and $isBrandsPrivate (eq $hostType "OldLaptop") '@}
{@'- $sysIsNecroLaptop := and $isBrandsPrivate (eq $hostType "NecroLaptop") '@}
{@'- $sysIsAlcoLaptop := and $isBrandsPrivate (eq $hostType "AlcoLaptop") '@}

{@'- /* }}} (Personal data initialization) */'@}
{@'- /* {{{ Automatic system detection */'@}

{@'- /* General system flags */'@}
{@'- $sysIsVM := eq (output "/bin/sh" (joinPath $dirHelperScripts "is-virtual-machine.sh")) "yes" '@}
{@'- $sysHasSmallScreen := or $sysIsOldLaptop $sysIsAlcoLaptop $sysIsVM '@}

{@'- /* Distro detection */'@}
{@'- $sysIsDebian := and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "debian") '@}
{@'- $sysIsDevuan := and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "devuan") '@}
{@'- $sysIsVoid := and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "void") '@}
{@'- $sysIsGentoo := and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "gentoo") '@}
{@'- $sysIsDebianBased := or (eq .chezmoi.osRelease.id "debian") (and (hasKey .chezmoi.osRelease "idLike") (eq .chezmoi.osRelease.idLike "debian")) '@}

{@'- /* Initializing .cmd.sudo */'@}
{@'- $cmdSudo := "" '@}
{@'- if (lookPath "sudo") '@}
{@'-    $cmdSudo = lookPath "sudo" '@}
{@'- else if (lookPath "doas") '@}
{@'-    $cmdSudo = lookPath "doas" '@}
{@'- end '@}

{@'- /* Initializing .ansible.become */'@}
{@'- $ansibleBecome := "" '@}
{@'- if (eq $cmdSudo "sudo" "/usr/bin/sudo") '@}
{@'-    $ansibleBecome = "sudo" '@}
{@'- else '@}
{@'-    $ansibleBecome = "su" '@}
{@'- end '@}

{@'- /* }}} (Automatic system detection) */'@}
{@'- /* {{{ Varia */'@}

{@'- /* I can hardly remember the exact name of this gorgeous font... */'@}
{@'- $fontJetBrainsMono := "JetBrainsMonoNL Nerd Font Mono" '@}

{@'- /* }}} (Varia) */'@}

{@'- writeToStdout "Initializing chezmoi...\n" '@}

{@'- /* }}} (Variable initialization) */ -'@}

# {{{ General chezmoi config

# Encryption settings
encryption: age
age:
  identity: {@' $brandsKey | squote '@}
  recipient: 'age198nwpsvctf9f9xke4cy34sjpz4q55wpyup3pp2ahgamsvzv7kdzsxcdnvn'

# Output of the 'chezmoi data' in Yaml instead of JSON. It's more convenient and easy on the eyes.
format: yaml

# Redefine temporary directory for scripts in case of /tmp is mounted with the 'noexec' option
# See: https://www.chezmoi.io/user-guide/frequently-asked-questions/troubleshooting/#chezmoi-reports-chezmoi-forkexec-tmpxxxxxxxxxxxx-permission-denied-when-executing-a-script
scriptTempDir: {@' joinPath "/run/user" (toString .chezmoi.uid) | squote '@}

# Set chezmoi cache to be on disk in case of system cache is in memory
cacheDir: {@' joinPath .chezmoi.homeDir $dirLocalCache "chezmoi" | squote '@}

# The catalogue tree of this repo is configured to have chezmoi source directory as following:
sourceDir: {@' joinPath .chezmoi.homeDir $defaultSourceDir | squote '@}

update:
  # Don't apply changes automatically after running 'chezmoi update'
  # This is done because I change the '.chezmoi.toml.tmpl' file from time to time,
  # and it is necessary to run 'chezmoi init' before 'chezmoi apply' in certain cases
  apply: false

diff:
  pager: less
  pagerArgs: ['--quit-if-one-screen', '--LONG-PROMPT', '--mouse', '--tabs 4']
  scriptContents: true

# }}} (General chezmoi config)
data:
# {{{ .sys: General system flags

  sys:

    hostType: {@' $hostType | quote '@}

    # Host type flags
    isDesktopRig: {@' $sysIsDesktopRig | not | not '@}
    isOldLaptop: {@' $sysIsOldLaptop | not | not '@}
    isNecroLaptop: {@' $sysIsNecroLaptop | not | not '@}
    isAlcoLaptop: {@' $sysIsAlcoLaptop | not | not '@}


    # Whether to use Wayland (Sway) or Xorg (Openbox)
    # Currently, does not have much effect, WIP
    useWayland: {@' default true .misc.useWayland | not | not '@}

    # Following settings are automatically configured during chezmoi init.
    # No need to change them in {@' .chezmoi.configFile | replace .chezmoi.homeDir "~" | squote '@}, edit {@' joinPath (.chezmoi.sourceDir | replace .chezmoi.homeDir "~") "chezmoi.yaml.tmpl" | squote '@} instead.

    # Distribution autodetection flags
    isDebian: {@' $sysIsDebian | not | not '@}
    isDevuan: {@' $sysIsDevuan | not | not '@}
    isDebianBased: {@' $sysIsDebianBased | not | not '@}
    isVoid: {@' $sysIsVoid | not | not '@}
    isGentoo: {@' $sysIsGentoo | not | not '@}

    # Init system autodetection
    hasSystemd: {@' lookPath "systemctl" | not | not '@}

    # Virtual machine autodetection
    isVM: {@' $sysIsVM | not | not '@}

    # Small screen autodetection (VM or Old Laptop)
    # This affects default font sizes for certain widgets
    hasSmallScreen: {@' $sysHasSmallScreen | not | not '@}

    # True if this is Victor Brand's private PC
    isBrandsPrivate: {@' $isBrandsPrivate | not | not '@}

# }}} (.sys)
{@' if $isBrandsPrivate -'@} # {{{ .git: Name and email for git

  git:

    fullName: {@' default "Victor Brand" .git.fullName | squote '@}
    email: {@' default "58734964+vbrand1984@users.noreply.github.com" .git.email | squote '@}

{@' end -'@} # }}} (.git)
# {{{ .dir: Local directories

  dir:

    # Default for userData is /home
    # Do NOT change userDataDefault in your {@' .chezmoi.configFile | replace .chezmoi.homeDir "~" '@}
    # userData variable is configurable though
    {@'- $dirUserData := promptStringOnce . "dir.userData" "Where your personal data partition is mounted, is it /home or another directory" $dirUserDataDefault '@}
    userData: {@' $dirUserData | squote '@}
    userDataDefault: {@' $dirUserDataDefault | squote '@}

    # Various directories
    # Do NOT change these in your {@' .chezmoi.configFile | replace .chezmoi.homeDir "~" '@}
    # They are bound to the existing directory structure of the dotfiles
    # These variables MUST contain paths RELATIVE to $HOME
    localCache: {@' $dirLocalCache | squote '@}
    localBin: {@' $dirLocalBin | squote '@}
    localGames: {@' $dirLocalGames | squote '@}
    downloaded: {@' $dirDownloaded | squote '@}
    localScripts: {@' $dirLocalScripts | squote '@}
    include: {@' $dirInclude | squote '@}
    tmuxMenus: {@' $dirTmuxMenus | squote '@}

    # These variables MUST contain ABSOLUTE paths
    symlinked: {@' joinPath (.chezmoi.sourceDir | dir) "symlinked" | squote '@}
    helperScripts: {@' $dirHelperScripts | squote '@}
    chezmoiEncrypted: {@' $dirChezmoiEncrypted | squote '@}

    # Ansible-related
    # Do not change these in your {@' .chezmoi.configFile | replace .chezmoi.homeDir "~" '@}
    # These variables must contain paths relative to $HOME
    {@'- $ansibleHomeDir := joinPath $defaultDotsDir "ansible" '@}
    ansible:
      home: {@' $ansibleHomeDir | squote '@}
      tmp: {@' joinPath $ansibleHomeDir "tmp" | squote '@}
      library: {@' joinPath $ansibleHomeDir "library" | squote '@}
      roles: {@' joinPath $ansibleHomeDir "roles" | squote '@}

    desktop:
      localBackgrounds: {@' $dirLocalBackgrounds | squote '@}
      brandsBackgrounds: {@' $dirBrandsBackgrounds | squote '@}

# }}} (.dir)
# {{{ .xdg: XDG user directories and their locale

  xdg:

    # This will be written in the ~/.config/user-dirs.dirs file
    desktopDir: {@' default "Desktop" .xdg.desktopDir | squote '@}
    documentsDir: {@' default "Documents" .xdg.documentsDir | squote '@}
    downloadDir: {@' default "Downloads" .xdg.downloadDir | squote '@}
    musicDir: {@' default "Music" .xdg.musicDir | squote '@}
    picturesDir: {@' default "Pictures" .xdg.picturesDir | squote '@}
    publicshareDir: {@' default "Public" .xdg.publicshareDir | squote '@}
    templatesDir: {@' default "Templates" .xdg.templatesDir | squote '@}
    videosDir: {@' default "Videos" .xdg.videosDir | squote '@}

    # This will be written in the ~/.config/user-dirs.locale file
    userDirsLocale: {@' default "en_US" .misc.xdgUserDirsLocale | squote '@}

# }}} (.xdg)
# {{{ .gtk: Graphical settings: theme, font, icons, etc.

  gtk:

    # General theming
    themeName: {@' default "Greylooks" .gtk.themeName | squote '@}
    iconTheme: {@' default "Papirus-Dark" .gtk.iconTheme | squote '@}
    preferDarkTheme: {@' default false .gtk.preferDarkTheme | not | not '@}

    # Font settings
    font:
      family: {@' default "Roboto" .gtk.font.family | squote '@}
      weight: {@' default "Regular" .gtk.font.weight | squote '@}
      size: {@' default 11 .gtk.font.size | squote '@}

    # Mouse cursor
    cursorTheme: {@' default ($sysIsVM | ternary "mate" "Bibata-Original-Classic") .gtk.cursorTheme | squote '@}
    cursorSize: {@' default 24 .gtk.cursorSize | int '@}

    # Various GTK settings
    decorationLayout: {@' default "menu:minimize,maximize,close" .gtk.decorationLayout | squote '@}
    buttonImages: {@' default true .gtk.buttonImages | not | not '@}
    menuImages: {@' default true .gtk.menuImages | not | not '@}
    enableEventSounds: {@' default false .gtk.enableEventSounds | not | not '@}
    enableInputFeedbackSounds: {@' default false .gtk.enableInputFeedbackSounds | not | not '@}

    # See: https://docs.gtk.org/gtk3/enum.IconSize.html
    toolbarIconSize: {@' default "GTK_ICON_SIZE_SMALL_TOOLBAR" .gtk.toolbarIconSize | squote '@}

    # See: https://docs.gtk.org/gtk3/enum.ToolbarStyle.html
    toolbarStyle: {@' default "GTK_TOOLBAR_BOTH_HORIZ" .gtk.toolbarStyle | squote '@}

# }}} (.gtk)
# {{{ .xft: Fontconfig options: hinting, antialias, lcdfilter, etc.

  xft:

    dpi: {@' default 96 .xft.dpi | int '@}
    autohint: {@' default false .xft.autohint | not | not '@}
    autohintIfNoHinting: {@' default false .xft.autohintIfNoHinting | not | not '@}
    antialias: {@' default true .xft.antialias | not | not '@}
    hinting: {@' default true .xft.hinting | not | not '@}

    # Possible values: hintnone, hintslight, hintmedium, hintfull
    hintStyle: {@' default "hintslight" .xft.hintStyle | squote '@}

    # Possible values: rgb, bgr, vrgb, vbgr, none
    rgba: {@' default "rgb" .xft.rgba | squote '@}

    # Possible values: lcddefault, lcdlight, lcdlegacy, lcdnone
    lcdfilter: {@' default "lcddefault" .xft.lcdfilter | squote '@}

    # Possible values: yes, no, force
    bitmaps: {@' default "yes" .xft.bitmaps | squote '@}

    # If this is true, then '10-scale-bitmap-fonts.conf' will be enabled in system fontconfig configuration via ansible
    scaleBitmapFonts: {@' default true .xft.scaleBitmapFonts | not | not '@}

# }}} (.xft)
# {{{ .cmd: Settings for certain commands

  cmd:

    # If sudo is found in $PATH, then sudo, else if doas is found in $PATH, then doas, else ""
    sudo: {@' $cmdSudo | squote '@}

    terminalEmulator: {@' default "alacritty" .cmd.terminalEmulator | squote '@}

    {@' $cmdFirefox := $sysIsDebianBased | ternary "firefox-esr" "firefox" -'@}
    # Depending on a distro, it's either `firefox' or `firefox-esr'
    firefox: {@' default $cmdFirefox .cmd.firefox | squote '@}

    fileManager: {@' default "caja" .cmd.fileManager | squote '@}

    # A command to send notifications through scripts
    # This MUST be either "notify-send" OR "dunstify"
    notifier: {@' default "dunstify" .cmd.notifier | squote '@}

    manageService: {@' cat "/bin/sh -e" (joinPath .chezmoi.homeDir $dirLocalScripts "manage-service.sh") | squote '@}
    tmuxMenuEditConfigMain: {@' cat "/bin/sh -e" (joinPath .chezmoi.homeDir $dirTmuxMenus "tm-edit-config-main.sh") | squote '@}
    startRofi: {@' cat "/bin/sh -e" (joinPath .chezmoi.homeDir $dirLocalScripts "start-rofi.sh") | squote '@}
    takeScreenshotX: {@' cat "/bin/sh -e" (joinPath .chezmoi.homeDir $dirLocalScripts "take-screenshot-x.sh") | squote '@}
    takeScreenshot: {@' cat "/bin/sh -e" (joinPath .chezmoi.homeDir $dirLocalScripts "take-screenshot.sh") | squote '@}
    reconfigureAppearance: {@' cat "/bin/sh -e" (joinPath .chezmoi.homeDir $dirLocalScripts "reconfigure-appearance.sh") | squote '@}
    tinkerChezmoiConfig: {@' cat "/usr/bin/python3" (joinPath .chezmoi.homeDir $dirLocalScripts "tinker-chezmoi-config.py") | squote '@}

# }}} (.cmd)
# {{{ .app: Various applications settings

  app:

    ansible:
      become: {@' $ansibleBecome | squote '@}

    {@' $defaultTerminalFontSize := $sysHasSmallScreen | ternary "12.5" "13.5" -'@}
    # Terminal settings
    terminal:
      font:
        family: {@' default $fontJetBrainsMono .app.terminal.font.family | squote '@}
        size: {@' default $defaultTerminalFontSize .app.terminal.font.size | squote '@}
        weight:
          normal: {@' default "Medium" .app.terminal.font.weight.normal | squote '@}
          bold: {@' default "ExtraBold" .app.terminal.font.weight.bold | squote '@}
          boldItalic: {@' default "ExtraBold Italic" .app.terminal.font.weight.boldItalic | squote '@}
          italic: {@' default "Medium Italic" .app.terminal.font.weight.italic | squote '@}

# }}} (.xdg)
# {{{ .misc: (Miscellaneous settings for desktop)

  misc:

    papirusFoldersTheme: {@' default "yaru" .misc.papirusFoldersTheme | squote '@}

    # Icon sizes for various applications
    obmenuIconSize: {@' default 24 .misc.obmenuIconSize | int '@}
    dunstIconSize: {@' default 48 .misc.dunstIconSize | int '@}

    # Whether to autostart emacs daemon or not
    startEmacsDaemon: {@' default false (.misc.startEmacsDaemon | not | not) '@}

    # This font is so good
    fontJetBrainsMono: {@' $fontJetBrainsMono | squote '@}

    # Desktop wallpaper and/or background color
    background:

      # Whether to use background image or not (if false, solid background color is used)
      useImage: {@' default ($isBrandsPrivate | ternary true false) .misc.background.useImage | not | not '@}

      {@' $defaultBackground := $isBrandsPrivate | ternary (joinPath .chezmoi.homeDir $dirBrandsBackgrounds "greek-warrior-1920x1080.jpg") "/dev/null" -'@}
      # This MUST be an ABSOLUTE path (or an empty string)
      imagePath: {@' default $defaultBackground .misc.background.imagePath | squote '@} 

      # One of "stretch", "fill", "fit", "center", "tile"
      imageMode: {@' default "fill" .misc.background.imageMode | squote '@}

      # Background color to use when background image is not used
      # Also is specified as <fallback_color> in sway background image settings
      color: {@' default "#282828" .misc.background.color | squote '@}

    # Idle timeouts before locking the screen and turning off the monitor
    # In MINUTES, integer values
    idle:
      lockDelay: {@' default 6 .misc.idle.lockDelay | int '@}
      poweroffDelay: {@' default 15 .misc.idle.poweroffDelay | int '@}

    # Keyboard settings
    kbd:
      layout: {@' default "us,ru" .misc.kbd.layout | squote '@}
      variant: {@' default "," .misc.kbd.variant | squote '@}
      options: {@' default "grp:alt_shift_toggle,grp_led:scroll,numpad:microsoft" .misc.kbd.options | squote '@}
      delay: {@' default 200 .misc.kbd.delay | int '@}
      repeat: {@' default 35 .misc.kbd.repeat | int '@}

# }}} (.misc)
# {{{ .redShift: Redshift settings

  redShift:

    # See redshift(1), look at ~/.config/redshift.conf
    fade: {@' default false .redShift.fade | not | not '@}

    # See: redshift -m list
    adjustmentMethod: {@' default "randr" .redShift.adjustmentMethod | squote '@}

    # See: redshift -l list
    locationProvider: {@' default "manual" .redShift.locationProvider | squote '@}

    # Latitude and longitude of your location for redshift
    latitude: {@' default 60 .redShift.latitude | float64 '@}
    longitude: {@' default 30 .redShift.longitude | float64 '@}

    # Day temperature in K, default 6500
    tempDay: {@' default 6500 .redShift.tempDay | int '@}
    # Night temperature in K, default 4500
    tempNight: {@' default 4500 .redShift.tempNight | int '@}

# }}} (.redShift)
# {{{ .rofi

  rofi:
    font: {@' default (cat $fontJetBrainsMono ($sysHasSmallScreen | ternary "13" "14")) .rofi.font | squote '@}
    theme: {@' default "/usr/share/rofi/themes/gruvbox-dark-soft.rasi" .rofi.theme | squote '@}

# }}} (.rofi)
# {{{ .conky

  conky:

    # Startup delay in autostart script, seconds. It's the value of conky's "--pause=" argument
    # Mind that there is a delay of 1 sec before loading conky in Openbox autostart script
    startupDelay: {@' default (and $isBrandsPrivate (eq $dirUserData $dirUserDataDefault) | ternary 7 3) .conky.startupDelay | int '@}

    # Will conky be fully transparent, semi-transparent or non-transparent
    # Possible values: "Full", "Semi", "None"
    transparency: {@' default "Full" .conky.transparency | squote '@}

    # ARGB value is only used when conky is semi-transparent.
    # It has range 0 to 255. The more this value is, the less transparent is conky
    argbValue: {@' default 160 .conky.argbValue | int '@}

    # Palette to use with conky
    # Available default palettes: Catpuccin, Everforest, Gruvbox-Bright, Mixed
    palette: {@' default "Mixed" .conky.palette | squote '@}

# }}} (.conky)

{@'- /* {{{ Finalizing */ -'@}

{@'- writeToStdout "Finished.\n" -'@}

{@'- /* }}} */'@}
...
