# chezmoi:template:left-delimiter=##* right-delimiter=*##

##*- $desktopRigName := "saturn" -*##
##*- $oldLaptopName := "antares" -*##
##*- $privatePCs := list $desktopRigName $oldLaptopName -*##
##*- $personalUsername := "victor" -*##
##*- $defaultBaseDataDir := "/home" -*##

##*- $baseHomeDir := promptString "baseHomeDir" $defaultBaseDataDir -*##

# {{{ General chezmoi config

# Redefine the temporary directory for scripts in case of /tmp is mounted with the noexec option
# See: https://www.chezmoi.io/user-guide/frequently-asked-questions/troubleshooting/#chezmoi-reports-chezmoi-forkexec-tmpxxxxxxxxxxxx-permission-denied-when-executing-a-script
scriptTempDir = ##* joinPath "/run/user" (toString .chezmoi.uid) "chezmoi-scripts" | quote *##

# Set chezmoi cache to be on disk in case of system cache is in memory
cacheDir = ##* joinPath .chezmoi.homeDir ".cache/chezmoi" | quote *##

[scriptEnv]
    TMPDIR = ##* joinPath "/run/user" (toString .chezmoi.uid) | quote *##

[diff]
    scriptContents = false

# }}}
# {{{ Personal data

[data.personal]

    desktopRigName = ##* $desktopRigName | quote *##
    oldLaptopName = ##* $oldLaptopName | quote *##
    privatePCs = ##* $privatePCs | toToml *##
    username = ##* $personalUsername | quote *##
    gitFullName = "Victor Brand"

# }}}
# {{{ sysDirs

[data.sysDirs]
    # Default for this is /home
    baseDataDir = ##* $baseHomeDir | quote *##
    defaultBaseDataDir = ##* $defaultBaseDataDir | quote *##

# }}}
# {{{ gtk (Graphical settings: theme, font, icons, etc.)

[data.gtk]

    # General theming
    fontName = "Roboto Regular 11"
    themeName = "Greylooks"
    iconTheme = "Papirus-Light"

    # This setting is required for icons in Openbox menu and dunst
    iconExt = "svg"

    # Mouse cursor
    cursorTheme = ##* if eq .chezmoi.osRelease.id "void" "arch" "artix" -*## "Vanilla-DMZ" ##*- else -*## "DMZ-White" ##*- end *##
    cursorSize = 18

    # Various GTK settings 
    decorationLayout = "menu:minimize,maximize,close"
    buttonImages = true
    menuImages = true
    enableEventSounds = false
    enableInputFeedbackSounds = false

    # See: https://docs.gtk.org/gtk3/enum.IconSize.html
    toolbarIconSize = "GTK_ICON_SIZE_SMALL_TOOLBAR"

    # See: https://docs.gtk.org/gtk3/enum.ToolbarStyle.html
    toolbarStyle = "GTK_TOOLBAR_BOTH_HORIZ"

# }}}
# {{{ fontConfig (fontconfig options: hinting, antialias, lcdfilter, etc.)

[data.fontConfig]
    dpi = 96
    autohint = false
    antialias = true
    hinting = true
    hintStyle = "hintslight"
    rgba = "rgb"
    lcdfilter = "lcdlight"

# }}}
# {{{ theSystem

[data.theSystem]

    ##* $isDebBased := (or (eq .chezmoi.osRelease.id "debian" "ubuntu") (and (hasKey .chezmoi.osRelease "idLike") (eq .chezmoi.osRelease.idLike "debian" "ubuntu"))) -*##
    isDebBased = ##* $isDebBased *## 
    isVoid = ##* eq .chezmoi.osRelease.id "void" *##
    isGentoo = ##* eq .chezmoi.osRelease.id "gentoo" *##
    # True if this is my private PC
    isPrivate = ##* and (has .chezmoi.hostname $privatePCs) (eq .chezmoi.username $personalUsername) *## 
    hasSystemd = ##* lookPath "systemctl" | not | not *##
    # If a non-deb-based distro has doas in its $PATH, then "doas", else "sudo"
    suApp = ##* if and (not $isDebBased) (lookPath "doas") -*## "doas" ##*- else -*## "sudo" ##*- end *##

    # Default shell: bash or zsh
    # zsh configuration is not supported yet though
    defaultShell = "bash"

    terminalEmulator = "lxterminal"

    # Whether to autostart emacs daemon or not
    emacsDaemon = true

    # Xorg compositor: either picom or xcompmgr
    # Empty string to disable X compositor
    xCompositor = "picom"

    # Keyboard layout switcher
    # Supported options: either gkxb or xxkb
    kbdLayoutSwitcher = "gxkb"

# }}}
# {{{ varia (Various settings)

[data.varia]

    # Icon sizes for various applications
    obmenuIconSize = 24
    dunstIconSize = 48

    # Keyboard settings
    kbdDelay = 200
    kbdRepeat = 35

# }}}
# {{{ redshift

[data.redshift]

    # See redshift(1), look at ~/.config/redshift.conf
    fade = false

    # See: redshift -m list
    adjustmentMethod = "randr"

    # See: redshift -l list
    provider = "manual"

    # Latitude and longitude of your location for redshift
    lat = 60
    lon = 30

    # Day temperature in K, default 6500
    tempDay = 6500
    # Night temperature in K, default 4500
    tempNight = 4500

# }}}
# {{{ rofi

[data.rofi]

    font = "JetBrains Mono Medium 14"
    theme = "/usr/share/rofi/themes/gruvbox-dark-soft.rasi"

# }}}
# {{{ conky

[data.conky]

    # Startup delay in autostart script, seconds. It's the value of conky's '--pause=' argument
    # Mind that there is a delay of 1 sec before loading conky in Openbox autostart script
    startupDelay = ##* if and (eq .chezmoi.hostname $desktopRigName $oldLaptopName) (eq $baseHomeDir $defaultBaseDataDir) -*## 7 ##*- else -*## 3 ##*- end *##

    # Will conky be fully transparent, semi-transparent or non-transparent
    # Possible values: "Full", "Semi", "None"
    currentTransparency = "Full"

    # ARGB value is only used when conky is semi-transparent.
    # It has range 0 to 255. The more this value is, the less transparent is conky
    argbValue = 160

    # Palette to use with conky
    # Available default palettes: Catpuccin, Everforest, Gruvbox-Bright, Mixed
    currentPalette = "Mixed"

# }}}
# {{{ mySecrets

# Secrets are stored here
[data.mySecrets]
    # Git variables
    gitEmail = ""
    gitCredentials = ""
##*- if and (eq .chezmoi.hostname $desktopRigName) (eq .chezmoi.username $personalUsername) *##
    # appid from openweathermap.org
    weatherAppId = ""
    # City ID to be used with openweathermap.org in advanced conky weather widget
    weatherCityId = ""
##*- end *##

# }}}
