# chezmoi:template: left-delimiter={@' right-delimiter='@} missing-key=invalid
# vim: set ft=toml ts=4 sw=4 noet:
{@' if not (env .app.envIgnoreExternals) '@}
# {{{ General

# Vim plugin manager
[".vim/autoload/plug.vim"]
	type = "file"
	url = "https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim"
	refreshPeriod = "168h"

# }}}
# {{{ Themes

# Greylooks, GreylooksGreen, GreylooksHuman, GreylooksOk, GreylooksPurple, GreylooksSand
{@' range .misc.greylooksThemes '@}
[".local/share/themes/{@' . '@}"]
	type = "archive"
	url = "https://github.com/vbrand1984/greylooks/archive/master.zip"
	format = "zip"
	exact = true
	stripComponents = 2
	include = ["greylooks-master/{@' . '@}/**"]
	refreshPeriod = "1680h"
{@' end '@}

# Graphite GTK theme
[{@' joinPath .dir.downloaded (printf .file.graphite.gtk.pattern .file.graphite.gtk.ver) | quote '@}]
	type = "file"
	url = "https://github.com/vinceliuice/Graphite-gtk-theme/archive/refs/tags/{@' .file.graphite.gtk.ver '@}.tar.gz"
	refreshPeriod = 0

# Graphite KDE theme
[{@' joinPath .dir.downloaded (printf .file.graphite.kde.pattern .file.graphite.kde.ver) | quote '@}]
	type = "file"
	url = "https://github.com/vinceliuice/Graphite-kde-theme/archive/refs/tags/{@' .file.graphite.kde.ver '@}.tar.gz"
	refreshPeriod = 0

# }}}
# {{{ Desktop Backgrounds

# Hercules as default wallpaper
[{@' joinPath .dir.desktop.localBackgrounds .file.defaultWallpaper | quote '@}]
	type = "file"
	url = "https://images.squarespace-cdn.com/content/v1/5ce71504c7259600017b8c37/1663017845570-N437I6Y5NLT3G8LWGK4W/AdobeStock_300989887+(1).jpeg"
	checksum.sha512 = "16c79d418c6d27149cc7c9db5c31e69cd2171be5266e39ac5744cd7ab9cc1a06e1eafeeab231d3c522a2d69c73ff7b5cbd6f60b747d958332c4c8badb0871d55"
	checksum.size = 587384
	executable = false
	readonly = false
	private = false
	refreshPeriod = 0

{@' if .sys.isBrandsPrivate '@}
# Victor Brand's personal wallpapers
[{@' joinPath .dir.desktop.brandsBackgrounds | quote '@}]
	type = "archive"
	url = "https://drive.google.com/uc?export=download&id=1v1OQQq8HyKBEVGz4BO7tiJwacrc2_w2x"
	format = "tar.zst"
	stripComponents = 1
	exact = true
	include = ["brands-desktop-wallpapers/*"]
	checksum.sha512 = "fd0fa4cc92314d44006c4f1a33323fdd20d5df7abbfbe05f6c56ef51cbbd2d8002d0603b3cef41ccd0603afb76dcd9a1199919e05cc00d5520dcadd94830f86d"
	checksum.size = 2682067
	refreshPeriod = "1680h"
{@' end '@}

# }}}
# {{{ Fonts

# JetBrainsMonoNL and Ubuntu Nerd Font fonts
[".local/share/fonts/nerd-fonts"]
	type = "archive"
	url = "https://drive.google.com/uc?export=download&id=1v9Wldc35JyORC_IADhoTyCM3R1n009bB"
	format = "tar.zst"
	stripComponents = 1
	exact = true
	include = ["nerd-fonts/*.ttf"]
	checksum.sha512 = "68c85773eba99d55794d016cb8bc24f937e3e179fa43912ab8f067c3f3eaefa2cea3b6431323d4b8373b32f9901bb8f166e2eb7119039e21170adb471855ed38"
	checksum.size = 5253639
	refreshPeriod = "1680h"

# MS fonts
[".local/share/fonts/winfonts"]
	type = "archive"
	url = "https://drive.google.com/uc?export=download&id=1oqMz4-otLnuu3IgenYV5_IqJ7Mzc0kbh"
	format = "tar.zst"
	stripComponents = 1
	exact = true
	include = ["winfonts/*.tt?"]
	checksum.sha512 = "6b1b7440c03523eea3218bf8c07002000a890c82af5567473fca1dac15a28735e3309df4b855d934fea6d1425ac744e539eccd7b29182bb4c5f8ea825d371570"
	checksum.size = 16195257
	refreshPeriod = "1680h"

{@' if and .sys.isBrandsPrivate .sys.isDesktopRig '@}
# Font with weather icons which is used in my python-powered conky weather widget
# Only used on my desktop rig
[".local/share/fonts/weathericons-regular-webfont.ttf"]
	type = "file"
	url = "https://github.com/erikflowers/weather-icons/raw/master/font/weathericons-regular-webfont.ttf"
	executable = false
	refreshPeriod = 0
{@' end '@}

# }}}
# {{{ Distro-specific

{@' if .sys.isDebianBased '@}

# papirus-folders package for Debian-based installations
# https://github.com/PapirusDevelopmentTeam/papirus-folders
[{@' joinPath .dir.downloaded (printf .file.papirusFolders.pattern .file.papirusFolders.ver) | quote '@}]
	type= "file"
	url = "https://github.com/PapirusDevelopmentTeam/papirus-folders/archive/v{@' .file.papirusFolders.ver '@}.tar.gz"
	checksum.sha512 = {@' .file.papirusFolders.sha512 | quote '@}
	checksum.size = {@' .file.papirusFolders.size '@}
	refreshPeriod = 0

{@' end '@}

{@' if not .sys.isDevuan '@}

#
# Devuan keyring package for non-Devuan installations.
# The keyring is needed when installing Devuan via debootstrap
# in order to verify the package files.
#
# Info on Devuan keyrings:
# https://www.devuan.org/os/keyring
# https://pkginfo.devuan.org/cgi-bin/policy-query.html??c=package&q=devuan-keyring
#
# Keyring for excalibur:
# https://pkginfo.devuan.org/cgi-bin/package-query.html?c=package&q=devuan-keyring=2025.08.09
#
# Keyring for freia:
# https://pkginfo.devuan.org/cgi-bin/package-query.html?c=package&q=devuan-keyring=2026.01.13
#

{@' $devuanCurrent := (get .file.devuanKeyring .file.devuanKeyring.current) '@}
[{@' joinPath .dir.downloaded (printf .file.devuanKeyring.pattern $devuanCurrent.ver) | quote '@}]
	type = "file"
	url = "http://deb.devuan.org/merged/pool/DEVUAN/main/d/devuan-keyring/devuan-keyring_{@' $devuanCurrent.ver '@}_all.deb"
	checksum.sha256 = {@' $devuanCurrent.sha256 | quote '@}
	checksum.size = {@' $devuanCurrent.size | int '@}
	refreshPeriod = 0

{@' end '@}

{@' if .sys.isVoid '@}
# Bibata cursor theme for Void Linux
[".local/share/icons"]
	type = "archive"
	url = "https://github.com/ful1e5/Bibata_Cursor/releases/download/v2.0.7/Bibata-Original-Classic.tar.xz"
	checksum.sha512 = "7ea3759da3628e9daa3ed5b1f92d778b73146a22e8cd74747df6b2ca534a2d00ca3604e02152b4924b755e5f1cd413b7b2cca363938362f1d3033c3a52f70135"
	checksum.size = 1871780
	refreshPeriod = 0
{@' end '@}

# }}}
{@' end '@}
