# chezmoi:template: left-delimiter={@' right-delimiter='@} missing-key=invalid
# vim: set ft=toml ts=4 sw=4 noet:
{@' if not (env .app.envIgnoreExternals) '@}
# {{{ General

# Vim plugin manager
[".vim/autoload/plug.vim"]
	type = "file"
	url = "https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim"
	refreshPeriod = "168h"

# }}}
# {{{ Themes

# Our default GTK and Openbox themes:
# Greylooks, GreylooksGreen, GreylooksHuman, GreylooksOk, GreylooksPurple, GreylooksSand
{@' range .misc.greylooksThemes '@}
[".local/share/themes/{@' . '@}"]
	type = "archive"
	url = "https://github.com/vbrand1984/greylooks/archive/master.zip"
	format = "zip"
	exact = true
	stripComponents = 2
	include = ["greylooks-master/{@' . '@}/**"]
	refreshPeriod = "1680h"
{@' end '@}

# }}}
# {{{ Desktop Backgrounds

# Hercules as default wallpaper
[{@' joinPath .dir.desktop.localBackgrounds .file.defaultWallpaper | quote '@}]
	type = "file"
	url = "https://images.squarespace-cdn.com/content/v1/5ce71504c7259600017b8c37/1663017845570-N437I6Y5NLT3G8LWGK4W/AdobeStock_300989887+(1).jpeg"
	checksum.sha512 = "16c79d418c6d27149cc7c9db5c31e69cd2171be5266e39ac5744cd7ab9cc1a06e1eafeeab231d3c522a2d69c73ff7b5cbd6f60b747d958332c4c8badb0871d55"
	checksum.size = 587384
	executable = false
	readonly = false
	private = false
	refreshPeriod = 0

{@' if .sys.isBrandsPrivate '@}
# Victor Brand's personal wallpapers
[{@' joinPath .dir.desktop.localBackgrounds "brands-desktop-wallpapers" | quote '@}]
	type = "archive"
	url = "https://drive.google.com/uc?export=download&id=1v1OQQq8HyKBEVGz4BO7tiJwacrc2_w2x"
	format = "tar.zst"
	stripComponents = 1
	exact = true
	include = ["brands-desktop-wallpapers/*"]
	checksum.sha512 = "f03c0b707970a503398216ec7701cf445d1b280d7cc037489cd92b9b9b553e99d9922ec33aa5508510d7454de4f60f8100567636d6bb2df02d1888744fa09b54"
	checksum.size = 1686856
	refreshPeriod = "1680h"
{@' end '@}

# }}}
# {{{ Fonts

# JetBrainsMonoNL and Ubuntu Nerd Font Propo fonts
[".local/share/fonts/nerd-fonts"]
	type = "archive"
	url = "https://drive.google.com/uc?export=download&id=1v9Wldc35JyORC_IADhoTyCM3R1n009bB"
	format = "tar.zst"
	stripComponents = 1
	exact = true
	include = ["nerd-fonts/*.ttf"]
	checksum.sha512 = "fb46cc27f4e734d628cb5967799f1019c5c352359f9dc531fd00e7974a992230c20fad9bd2c944cfb54e3854ee4583f719b9ee8b814b48e58b51deb371afa648"
	checksum.size = 3896650
	refreshPeriod = "1680h"

# MS fonts
[".local/share/fonts/winfonts"]
	type = "archive"
	url = "https://drive.google.com/uc?export=download&id=1oqMz4-otLnuu3IgenYV5_IqJ7Mzc0kbh"
	format = "tar.zst"
	stripComponents = 1
	exact = true
	include = ["winfonts/*.tt?"]
	checksum.sha512 = "6b1b7440c03523eea3218bf8c07002000a890c82af5567473fca1dac15a28735e3309df4b855d934fea6d1425ac744e539eccd7b29182bb4c5f8ea825d371570"
	checksum.size = 16195257
	refreshPeriod = "1680h"

{@' if and .sys.isBrandsPrivate .sys.isDesktopRig '@}
# Font with weather icons which is used in my python-powered conky weather widget
# Only used on my desktop rig
[".local/share/fonts/weathericons-regular-webfont.ttf"]
	type = "file"
	url = "https://github.com/erikflowers/weather-icons/raw/master/font/weathericons-regular-webfont.ttf"
	executable = false
	refreshPeriod = 0
{@' end '@}

# }}}
# {{{ Distro-specific

{@' if .sys.isDebBased '@}
# Obmenu-generator script
[{@' joinPath .dir.downloadedScripts .file.debiansObmenuGeneratorName | quote '@}]
	type= "archive-file"
	url = "https://github.com/trizen/obmenu-generator/archive/refs/tags/{@' .app.obmenuGeneratorVersion '@}.tar.gz"
	stripComponents = 1
	format = "tar.gz"
	path = "obmenu-generator"
	filter.command = "sed"
	filter.args = [ "s/perl//g" ]
	executable = false
	readonly = true
	private = true
	refreshPeriod = 0
{@' end '@}

{@' if and .sys.isDebianBased (not .sys.hasSystemd) '@}
# Pipewire-launcher script from Gentoo to be installed and used in Devuan
[{@' joinPath .dir.downloadedScripts .file.devuansPipewireLauncher | quote '@}]
	type= "file"
	url = "https://gitweb.gentoo.org/repo/gentoo.git/plain/media-video/pipewire/files/gentoo-pipewire-launcher.in-r3"
	filter.command = "sed"
	filter.args = [ "s/@GENTOO_PORTAGE_EPREFIX@//g" ]
	refreshPeriod = 0
	executable = false
	readonly = true
	private = true
{@' end '@}

# }}}
{@' end '@}
