.bash_login
.conkyrc
.emacs
.gvimrc
.lesshst
.profile
.tmux.conf
.viminfo
.vimrc
.xsettingsd

{{ if .sys.isBrandsPrivate }}
	.git-credentials
	.gitconfig
	.local/bin
	bin
{{ end }}

# downloaded directory handling
#{{ .dir.downloaded }}/
#{{ if not .sys.isDevuan }}
#	!{{ joinPath .dir.downloaded (printf "devuan-keyring_%s_all.deb" .file.devuanKeyring.ver) }}
#{{ end }}
#{{ if .sys.isDebianBased }}
#	!{{ joinPath .dir.downloaded (printf .file.papirusFolders.pattern .file.papirusFolders.ver) }}
#{{ end }}
