gtk-theme-name={{ .gtk.themeName | quote }}
gtk-icon-theme-name={{ .gtk.iconTheme | quote }}
gtk-font-name={{ .gtk.fontName | quote }}
gtk-cursor-theme-name={{ .gtk.cursorTheme | quote }}
gtk-cursor-theme-size={{ .gtk.cursorSize }}
gtk-toolbar-style={{ .gtk.toolbarStyle }}
gtk-toolbar-icon-size={{ .gtk.toolbarIconSize }}
gtk-button-images={{ int .gtk.buttonImages }}
gtk-menu-images={{ int .gtk.menuImages }}
gtk-enable-event-sounds={{ int .gtk.enableEventSounds }}
gtk-enable-input-feedback-sounds={{ int .gtk.enableInputFeedbackSounds }}
gtk-xft-antialias={{ int .fontConfig.antialias }}
gtk-xft-hinting={{ int .fontConfig.hinting }}
gtk-xft-hintstyle={{ .fontConfig.hintStyle | quote }}
gtk-xft-rgba={{ .fontConfig.rgba | quote }}
