{{ includeTemplate .tmpl.msg.managedByChezmoi . | comment "! " }}

Xft.dpi: {{ .xft.dpi }}
Xft.autohint: {{ int .xft.autohint }}
Xft.antialias: {{ int .xft.antialias }}
Xft.hinting: {{ int .xft.hinting }}
Xft.hintstyle: {{ .xft.hintStyle }}
Xft.rgba: {{ .xft.rgba }}
Xft.lcdfilter: {{ .xft.lcdfilter }}
Xcursor.theme: {{ .gtk.cursorTheme }}
