{{ includeTemplate "managedMessage.tmpl" . | comment "# " }}

gtk-theme-name={{ .gtkThemeName | quote }}
gtk-icon-theme-name={{ .gtkIconTheme | quote }}
gtk-font-name={{ .gtkFontName | quote }}
gtk-cursor-theme-name={{ .gtkCursorTheme | quote }}
gtk-cursor-theme-size={{ .gtkCursorSize }}
gtk-toolbar-style={{ .gtkToolbarStyle }}
gtk-toolbar-icon-size={{ .gtkToolbarIconSize }}
gtk-button-images={{ int .gtkButtonImages }}
gtk-menu-images={{ int .gtkMenuImages }}
gtk-enable-event-sounds={{ int .gtkEnableEventSounds }}
gtk-enable-input-feedback-sounds={{ int .gtkEnableInputFeedbackSounds }}
gtk-xft-antialias={{ int .fcAntialias }}
gtk-xft-hinting={{ int .fcHinting }}
gtk-xft-hintstyle={{ .fcHintStyle | quote }}
gtk-xft-rgba={{ .fcRgba | quote }}
