Xft.dpi: {{ .fontConfig.dpi }}
Xft.autohint: {{ int .fontConfig.autohint }}
Xft.antialias: {{ int .fontConfig.antialias }}
Xft.hinting: {{ int .fontConfig.hinting }}
Xft.hintstyle: {{ .fontConfig.hintStyle }}
Xft.rgba: {{ .fontConfig.rgba }}
Xft.lcdfilter: {{ .fontConfig.lcdfilter }}
Xcursor.theme: {{ .gtk.cursorTheme }}
