# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@' includeTemplate .templates.msgManagedByChezmoi . | comment "# " '@}

# {{{ Generic intro

# ~/.bashrc: executed by bash(1) for non-login shells.
# see /usr/share/doc/bash/examples/startup-files (in the package bash-doc)
# for examples

# If not running interactively, don't do anything
case $- in
    *i*) ;;
      *) return;;
esac

# }}}
# {{{ HISTCONTROL and other various settings

# don't put duplicate lines or lines starting with space in the history.
# See bash(1) for more options
HISTCONTROL='ignoreboth:erasedups'

# append to the history file, don't overwrite it
shopt -s histappend

# for setting history length see HISTSIZE and HISTFILESIZE in bash(1)
HISTSIZE=10000
HISTFILESIZE=5000

# check the window size after each command and, if necessary,
# update the values of LINES and COLUMNS.
shopt -s checkwinsize

# If set, the pattern "**" used in a pathname expansion context will
# match all files and zero or more directories and subdirectories.
#shopt -s globstar

# make less more friendly for non-text input files, see lesspipe(1)
#[ -x /usr/bin/lesspipe ] && eval "$(SHELL=/bin/sh lesspipe)"

# I just sometimes love tabs btw
tabs -4

# }}}
# {{{ PS1: Command line prompt configuration

# See: https://www.learnlinux.tv/10-linux-terminal-tips-and-tricks-to-enhance-your-workflow/

{@'- /* {{{ Template variables definition */'@}

{@'- /* These escape-sequences are only needed for PS1 */'@}
{@'- $escStart := `\[` '@}
{@'- $escEnd := `\]` '@}

{@'- /* Terminal color codes */'@}
{@'- /* See: https://misc.flogisoft.com/bash/tip_colors_and_formatting */'@}
{@'- $coloRed := `\033[01;31m` '@}
{@'- $coloGreen := `\033[01;32m` '@}
{@'- $coloYellow := `\033[01;33m` '@}
{@'- $coloBlue := `\033[01;34m` '@}
{@'- $coloMagenta := `\033[01;35m` '@}
{@'- $coloCyan := `\033[01;36m` '@}
{@'- $coloWhite := `\033[01;37m` '@}
{@'- $coloDefault := `\033[00m` '@}

{@'- /* Terminal color codes to be used in PS1 */'@}
{@'- $colourGreen := print $escStart $coloGreen $escEnd '@}
{@'- $colourYellow := print $escStart $coloYellow $escEnd '@}
{@'- $colourBlue := print $escStart $coloBlue $escEnd '@}
{@'- $colourMagenta := print $escStart $coloMagenta $escEnd '@}
{@'- $colourCyan := print $escStart $coloCyan $escEnd '@}
{@'- $colourWhite := print $escStart $coloWhite $escEnd '@}
{@'- $colourDefault := print $escStart $coloDefault $escEnd '@}

{@'- /* These color codes (without $escStart and $escEnd) are used in our function in printf */'@}
{@'- $lineColo := $coloGreen '@}
{@'- $bracketColo := $coloGreen '@}
{@'- $branchCleanColo := $coloBlue '@}
{@'- $branchDirtyColo := $coloRed '@}

{@'- /* These color codes (with $escStart and $escEnd) are used in PS1 directly */'@}
{@'- $lineColour := print $escStart $lineColo $escEnd '@}
{@'- $bracketColour := print $escStart $bracketColo $escEnd '@}
{@'- $clockColour := $colourBlue '@}
{@'- $jobColour := $colourBlue '@}
{@'- $pathColour := $colourBlue '@}
{@'- $distroColour := $colourCyan '@}
{@'- $usernameColour := $colourCyan '@}
{@'- $endCharacterColour := $colourGreen '@}

{@'- /* Box characters to be used in the prompt */'@}
{@'- $lineBottomCorner := `\342\224\224` '@}
{@'- $lineUpperCorner := `\342\224\214` '@}
{@'- $lineStraight := `\342\224\200` '@}

{@'- /* Special symbols */'@}
{@'- $endCharacter := `\$` '@}
{@'- $gitBranchSymbol := `` '@}

{@'- /* }}} */'@}

# If inside a git working tree, print current git branch in the bottom line of the command prompt
function print_git_branch() {
    if git rev-parse --is-inside-work-tree 1>/dev/null 2>&1 ; then 
        local branch_colo
        # Check if there are changes in the local repo and choose color of the branch name accordingly
        # See: https://stackoverflow.com/a/5148851
        if git diff-files --quiet --ignore-submodules 1>/dev/null 2>&1 ; then
            # No changes in the repository. The repo is "clean".
            branch_colo={@' $branchCleanColo | squote '@}
        else
            # Untracked changes are present. The repo is "dirty".
            branch_colo={@' $branchDirtyColo | squote '@}
        fi
        printf {@' print `"` $bracketColo "[" "${branch_colo}" $gitBranchSymbol "$(git branch --show-current)" $bracketColo "]" $lineColo $lineStraight `"` '@}
    fi
}

PS1={@' print $lineColour $lineUpperCorner $lineStraight $lineStraight $bracketColour "[" $distroColour .chezmoi.osRelease.id $bracketColour "]" $lineColour $lineStraight $bracketColour "[" $usernameColour `\u@\h ` $pathColour `\w` $bracketColour "]" $colourDefault `\n` $lineColour $lineBottomCorner $lineStraight $lineStraight "$(print_git_branch)" $bracketColour "[" $jobColour `\j` $bracketColour "]" $lineColour $lineStraight $bracketColour "[" $clockColour `\t` $bracketColour "]" $lineColour $lineStraight $endCharacterColour $endCharacter $escStart "$(tput sgr0)" $escEnd " " | squote '@}

{@' if false -'@}
# Old variant of PS1 used to be used in Void Linux
#PS1='\[\e[01;32m\][\u@\h \[\e[01;34m\]\w\[\e[01;32m\]]\$\[\e[00m\] '
{@'- end -'@}

# If this is a graphical terminal, then set the window title to 'user@host: dir'
# The list of conditions is borrowed from Gentoo's global bash config
case "$TERM" in
    alacritty     |\
    foot*         |\
    rxvt-unicode* |\
    screen*       |\
    st-256color   |\
    tmux*         |\
    xterm*        )
        PS1="\[\e]0;\u@\h: \w\a\]$PS1"
        ;;
    *)
        ;;
esac

# }}}
# {{{ Aliases

# {{{ Generic aliases

# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    # We do not have the ~/.dircolors file
    #test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    alias dir='dir --color=auto'
    alias vdir='vdir --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

# some more ls aliases
alias ll='ls -l'
alias la='ls -Al'
alias l='ls -CF'

# Wrap the following commands for interactive use to avoid accidental file overwrites.
rm() { command rm -i "${@}"; }
cp() { command cp -i "${@}"; }
mv() { command mv -i "${@}"; }

# }}}
# {{{ Various handy aliases

# Quick clear screen
alias c='clear'

# Weather conditions and forecast
alias wtf='curl https://wttr.in/?M'

{@' if not .sysIsGentoo -'@}
# Coloured man pages for non-Gentoo distros
alias man="env LESS_TERMCAP_mb=\$'\e[1;36m' LESS_TERMCAP_md=\$'\e[1;36m' LESS_TERMCAP_me=\$'\e[0m' LESS_TERMCAP_se=\$'\e[0m' LESS_TERMCAP_so=\$'\e[30m\e[47m' LESS_TERMCAP_me=\$'\e[0m' LESS_TERMCAP_ue=\$'\e[0m' LESS_TERMCAP_us=\$'\e[4;33m' man"

{@' end -'@}

# }}}
# {{{ chezmoi aliases

{@'- /* If this is not a "Brands private PC", the "--exclude=encrypted" suffix will be added to the aliases */'@}
{@'- $excludeSuffix := .sysIsBrandsPrivate | ternary "" "--exclude=encrypted" '@}

# chezmoi apply
alias Ca={@' cat .chezmoi.executable "apply" $excludeSuffix | trim | squote '@}

# chezmoi diff
alias Cd={@' cat .chezmoi.executable "diff" $excludeSuffix | trim | squote '@}

# chezmoi edit --apply
alias Ce={@' cat .chezmoi.executable "edit --apply" $excludeSuffix | trim | squote '@}

# chezmoi status
alias Cs={@' cat .chezmoi.executable "status" $excludeSuffix | trim | squote '@}

# chezmoi update
alias Cu={@' cat .chezmoi.executable "update" $excludeSuffix | trim | squote '@}

# }}}
# {{{ git aliases

# Git messages to be always in English no matter what locale is
alias git='LC_MESSAGES=C git'

# }}}
# {{{ Ansible aliases

# Disable writing byte code for python, 
# i.e. creating ``__pycache__`` subdirectories in module directories
# when running ``ansible-lint``
alias ansible-lint='/usr/bin/env PYTHONDONTWRITEBYTECODE=1 ansible-lint'

# ansible-lint alias
alias Al='/usr/bin/env PYTHONDONTWRITEBYTECODE=1 ansible-lint'

# }}}
# {{{ Aliases for package manager. Supported distros only.

{@' if .sysIsDebBased -'@}

alias av='aptitude versions'
alias i='{@' .cmdSu '@} aptitude -R install'
alias r='{@' .cmdSu '@} aptitude purge'
alias s='aptitude search'
alias S='aptitude show'
alias upd='{@' .cmdSu '@} aptitude update'
alias upg='{@' .cmdSu '@} aptitude upgrade'

{@'- else if .sysIsVoid -'@}

alias i='{@' .cmdSu '@} xbps-install -S'
alias s='xbps-query -Rs'
alias S='xbps-query -RS'
alias upg='{@' .cmdSu '@} xbps-install -Su'

{@'- else if .sysIsGentoo -'@}

alias i='{@' .cmdSu '@} emerge --ask --verbose'
alias s='emerge --search'
alias d='{@' .cmdSu '@} emerge --depclean --ask --verbose'
alias upd='{@' .cmdSu '@} emaint --allrepos sync'
alias upg='{@' .cmdSu '@} emerge --update --verbose --deep --ask --newuse --keep-going @world'

{@'- else -'@}

# The distro is not supported with this config.
# ...Just use the right distro btw

{@'- end '@}

# }}}

# }}}
{@'- if .sysIsDebBased '@}
# {{{ Bash-completion configuration from default Deb-based distros skel

# enable programmable completion features (you don't need to enable
# this, if it's already enabled in /etc/bash.bashrc and /etc/profile
# sources /etc/bash.bashrc).
if ! shopt -oq posix; then
    if [ -f /usr/share/bash-completion/bash_completion ]; then
        . /usr/share/bash-completion/bash_completion
    elif [ -f /etc/bash_completion ]; then
        . /etc/bash_completion
    fi
fi

# }}}
{@'- end '@}
# {{{ Export variables

### GPG options ###
GPG_TTY=$(tty)
export GPG_TTY

### Editor ###
EDITOR='/usr/bin/vim'
VISUAL="${EDITOR}"
export EDITOR
export VISUAL

### Firefox options ###
export MOZ_WEBRENDER=1
export MOZ_X11_EGL=1

### Graphical Gtk and Qt options ###
export QT_QPA_PLATFORMTHEME=qt5ct
# Turn off accessibility bus
export NO_AT_BRIDGE=1
# Do not hide scrollbars in Gtk applications
# See: https://bbs.archlinux.org/viewtopic.php?id=196118
# See: https://docs.gtk.org/gtk4/property.Settings.gtk-overlay-scrolling.html
export GTK_OVERLAY_SCROLLING=0

### Compressors options ###

# Zstd. See: https://wiki.gentoo.org/wiki/Zstd#Configuration
# See: https://lists.archlinux.org/pipermail/arch-dev-public/2019-March/029520.html
ZSTD_CLEVEL=16
ZSTD_NBTHREADS=0

# Xz. See https://wiki.gentoo.org/wiki/Xz-utils#Configuration
# -T0: compress and decompress with the number of cores available
# -9: use maximum compression level (but not extreme)
XZ_DEFAULTS="-9 -T0"

{@' if not .sysIsGentoo -'@}
# Colored GCC warnings and errors
export GCC_COLORS='error=01;31:warning=01;35:note=01;36:caret=01;32:locus=01:quote=01'
{@'- end '@}

# }}}
