# chezmoi:template: left-delimiter=@'{% right-delimiter=%}'@
# ~/.bashrc: executed by bash(1) for non-login shells.
# see /usr/share/doc/bash/examples/startup-files (in the package bash-doc)
# for examples

# If not running interactively, don't do anything
case $- in
    *i*) ;;
      *) return;;
esac

# {{{ HISTCONTROL and other various settings

# don't put duplicate lines or lines starting with space in the history.
# See bash(1) for more options
HISTCONTROL='ignoreboth:erasedups'

# append to the history file, don't overwrite it
shopt -s histappend

# for setting history length see HISTSIZE and HISTFILESIZE in bash(1)
HISTSIZE=10000
HISTFILESIZE=5000

# check the window size after each command and, if necessary,
# update the values of LINES and COLUMNS.
shopt -s checkwinsize

# If set, the pattern "**" used in a pathname expansion context will
# match all files and zero or more directories and subdirectories.
#shopt -s globstar

# make less more friendly for non-text input files, see lesspipe(1)
#[ -x /usr/bin/lesspipe ] && eval "$(SHELL=/bin/sh lesspipe)"

# I just sometimes love tabs btw
tabs -4

# }}}
# {{{ Command line prompt configuration: PS1 and PROMPT_COMMAND

# See: https://www.learnlinux.tv/10-linux-terminal-tips-and-tricks-to-enhance-your-workflow/

# These escape-sequences are only needed for PS1 and not for PROMPT_COMMAND
esc_start='\['
esc_end='\]'

# Terminal color codes
# See: https://misc.flogisoft.com/bash/tip_colors_and_formatting
colo_green='\033[01;32m'
colo_blue='\033[01;34m'
colo_white='\033[01;37m'
default_colo='\033[0m'
default_colour="${esc_start}${default_colo}${esc_end}"

# Colors for certain elements of the prompt
line_colo=$colo_white
line_colour="${esc_start}${line_colo}${esc_end}"
bracket_colo=$colo_green
bracket_colour="${esc_start}${bracket_colo}${esc_end}"
branch_colo=$colo_blue
clock_colour="${esc_start}${colo_blue}${esc_end}"
job_colour="${esc_start}${colo_blue}${esc_end}"
path_colour="${esc_start}${colo_blue}${esc_end}"
distro_colour="${esc_start}${colo_green}${esc_end}"
username_colour="${esc_start}${colo_green}${esc_end}"
end_character_colour="${default_colour}"

# Box characters to be used in the prompt
line_bottom='\342\224\200'
line_bottom_corner='\342\224\224'
line_straight='\342\224\200'
line_upper_corner='\342\224\214'

# Special symbols
end_character='\$'
git_branch_symbol=''

# In Gentoo, PROMPT_COMMAND is already initialized as an array via the global bash config
# We do the same here
[[ -z "$PROMPT_COMMAND" ]] && PROMPT_COMMAND=()

# This command prints the top-left corner of the box and also the name of the current git branch, if applicable
PROMPT_COMMAND+=("/bin/sh -c 'printf \"${line_colo}${line_upper_corner}${line_straight}${line_straight}\" ; git rev-parse --is-inside-work-tree 1>/dev/null 2>&1 && printf \"${bracket_colo}[${branch_colo}${git_branch_symbol}\$(git branch --show-current)${bracket_colo}]${line_colo}${line_straight}\"'")

PS1="${bracket_colour}[${job_colour}\j${bracket_colour}]${line_colour}${line_straight}${bracket_colour}[${username_colour}\u@\h \]${path_colour}\w${bracket_colour}]${default_colour}\n${line_colour}${line_bottom_corner}${line_straight}${line_bottom}${bracket_colour}[${distro_colour}@'{% .chezmoi.osRelease.id %}'@${bracket_colour}]${line_colour}${line_straight}${bracket_colour}[${clock_colour}\t${bracket_colour}]${line_colour}${line_straight}${end_character_colour}${end_character}\[$(tput sgr0)\] "

@'{% if false -%}'@
# Old variant of PS1 used to be used in Void Linux
#PS1='\[\e[01;32m\][\u@\h \[\e[01;34m\]\w\[\e[01;32m\]]\$\[\e[00m\] '
@'{%- end -%}'@

# Clear all unneeded variables
unset esc_start esc_end colo_green colo_blue colo_white default_colo default_colour line_colo line_colour bracket_colo bracket_colour branch_colo clock_colour job_colour path_colour distro_colour username_colour end_character_colour line_bottom line_bottom_corner line_straight line_upper_corner end_character git_branch_symbol  

# If this is a graphical terminal, then set the window title to 'user@host: dir'
# The list of conditions is borrowed from Gentoo's global bash config
case "$TERM" in
    alacritty     |\
    foot*         |\
    rxvt-unicode* |\
    screen*       |\
    st-256color   |\
    tmux*         |\
    xterm*        )
        PS1="\[\e]0;\u@\h: \w\a\]$PS1"
        ;;
    *)
        ;;
esac

# }}}
# {{{ Aliases

# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    # We do not have the ~/.dircolors file
    #test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    alias dir='dir --color=auto'
    alias vdir='vdir --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

# some more ls aliases
alias ll='ls -l'
alias la='ls -Al'
alias l='ls -CF'

# Git messages to be always in English no matter what locale is
alias git='LC_MESSAGES=C git'

# Wrap the following commands for interactive use to avoid accidental file overwrites.
rm() { command rm -i "${@}"; }
cp() { command cp -i "${@}"; }
mv() { command mv -i "${@}"; }

### Various handy aliases ###

@'{% if not .sysIsGentoo -%}'@
# Coloured man pages for non-Gentoo distros
alias man="env LESS_TERMCAP_mb=\$'\e[1;36m' LESS_TERMCAP_md=\$'\e[1;36m' LESS_TERMCAP_me=\$'\e[0m' LESS_TERMCAP_se=\$'\e[0m' LESS_TERMCAP_so=\$'\e[30m\e[47m' LESS_TERMCAP_me=\$'\e[0m' LESS_TERMCAP_ue=\$'\e[0m' LESS_TERMCAP_us=\$'\e[4;33m' man"

@'{% end -%}'@

# chezmoi edit file
alias ce='@'{% .chezmoi.executable %}'@ edit --apply'

# Quick clear screen
alias c='clear'

# Aliases for package manager. Supported distros only.
@'{% if .sysIsDebBased -%}'@

alias i='@'{% .cmdSu %}'@ aptitude -R install'
alias r='@'{% .cmdSu %}'@ aptitude purge'
alias s='aptitude search'
alias S='aptitude show'
alias upd='@'{% .cmdSu %}'@ aptitude update'
alias upg='@'{% .cmdSu %}'@ aptitude upgrade'

@'{%- else if .sysIsVoid -%}'@

alias i='@'{% .cmdSu %}'@ xbps-install -S'
alias s='xbps-query -Rs'
alias upg='@'{% .cmdSu %}'@ xbps-install -Su'

@'{%- else if .sysIsGentoo -%}'@

alias i='@'{% .cmdSu %}'@ emerge --ask --verbose'
alias s='emerge -s'
alias d='@'{% .cmdSu %}'@ emerge --depclean --ask --verbose'
alias upd='@'{% .cmdSu %}'@ emaint --allrepos sync'

@'{%- else -%}'@

# The distro is not supported with this config.
# ...Just use the right distro btw

@'{%- end %}'@

# }}}
@'{%- if .sysIsDebBased %}'@
# {{{ Bash-completion configuration from default Deb-based distros skel

# enable programmable completion features (you don't need to enable
# this, if it's already enabled in /etc/bash.bashrc and /etc/profile
# sources /etc/bash.bashrc).
if ! shopt -oq posix; then
    if [ -f /usr/share/bash-completion/bash_completion ]; then
        . /usr/share/bash-completion/bash_completion
    elif [ -f /etc/bash_completion ]; then
        . /etc/bash_completion
    fi
fi

# }}}
@'{%- end %}'@
# {{{ Export variables

GPG_TTY=$(tty)
export GPG_TTY

@'{% if not .sysIsGentoo -%}'@
# colored GCC warnings and errors
export GCC_COLORS='error=01;31:warning=01;35:note=01;36:caret=01;32:locus=01:quote=01'
@'{%- end %}'@

# }}}
