{{ includeTemplate .templates.msgManagedByChezmoi . | comment "! " }}

Xft.dpi: {{ .fcDpi }}
Xft.autohint: {{ int .fcAutohint }}
Xft.antialias: {{ int .fcAntialias }}
Xft.hinting: {{ int .fcHinting }}
Xft.hintstyle: {{ .fcHintStyle }}
Xft.rgba: {{ .fcRgba }}
Xft.lcdfilter: {{ .fcLcdfilter }}
Xcursor.theme: {{ .gtkCursorTheme }}
