{{- if false -}}

This template inserts a dumb shebang for /bin/sh scripts.

chezmoi variable to store relative path to this template: .tmpl.shebang.dumbSh

{{- end -}}

#!/bin/echo {{ .message.dumbShebang }} /bin/sh -e

{{- /* This deletes an empty line after the template */ -}}
