# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if false -'@}
# vim: set ft=yaml:
{@'- end -'@}
{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

{@'- if .sys.isDebianBased '@}
{@'- /* {{{ Debian-based */'@}

- name: Office apps | Install packages (backports)
  tags: [packages, desktop, applications, office]
  become: true
  ansible.builtin.apt:
    package: "{{ vbd_applications_pkgs_video.backports }}"
    default_release: "{{ ansible_facts['distribution_release'] }}-backports"
    state: latest
    install_recommends: false

{@'- /* }}} */'@}
{@'- else if .sys.isVoid '@}
{@'- /* {{{ Void */'@}

- name: Office apps | Install packages (xbps)
  tags: [packages, desktop, applications, office]
  become: true
  community.general.xbps:
    package: "{{ vbd_applications_pkgs_office.xbps }}"
    state: present

{@'- /* }}} */'@}
{@'- end '@}

...
{@'- end '@}
