# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if false -'@}
# vim: set ft=yaml:
{@'- end -'@}
{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

{@'- if .sys.isDebianBased '@}
{@'- /* {{{ Debian-based */'@}

- name: Office apps | Install packages
  tags: [packages, desktop, applications, office]
  become: true
  when: ansible_facts['os_family'] == 'Debian'
  block:

    - name: Office apps | Install packages (stable)
      ansible.builtin.apt:
        package: "{{ vbd_applications_pkgs_office.deb_stable }}"
        state: latest
        install_recommends: false

    - name: Office apps | Install packages (backports)
      ansible.builtin.apt:
        package: "{{ vbd_applications_pkgs_office.deb_backports }}"
        default_release: "{{ ansible_facts['distribution_release'] }}-backports"
        state: latest
        install_recommends: false

{@'- /* }}} */'@}
{@'- else if .sys.isVoid '@}
{@'- /* {{{ Void */'@}

- name: Office apps | Install packages (xbps)
  tags: [packages, desktop, applications, office]
  become: true
  community.general.xbps:
    package: "{{ vbd_applications_pkgs_office.xbps }}"
    state: present
  when: ansible_facts['distribution'] == 'Void'

{@'- /* }}} */'@}
{@'- end '@}

...
{@'- end '@}
