# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if false -'@}
# vim: set ft=yaml:
{@'- end -'@}
{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

- name: Install Flatpak and its stuff
  tags: [packages, desktop, applications, flatpak]
  become: true
  block:

{@'- if .sys.isDebianBased '@}

    - name: Flatpak | Install flatpak and flatseal (stable)
      ansible.builtin.apt:
        package:
          - flatpak
          - flatseal
        state: latest
      when: ansible_facts['os_family'] == 'Debian'

{@'- else if .sys.isVoid '@}

    - name: Flatpak | Install flatpak and flatseal (xbps)
      community.general.xbps:
        package:
          - flatpak
          - flatseal
        state: present
      when: ansible_facts['distribution'] == 'Void'

{@'- end '@}

    - name: Flatpak | Add ``flathub'' remote repository
      community.general.flatpak_remote:
        name: flathub
        flatpakrepo_url: 'https://flathub.org'
      failed_when: false

    - name: Flatpak | Install flatpak packages
      community.general.flatpak:
        name: "{{ vbd_applications_flatpak_packages }}"
        state: present
      failed_when: false

...
{@'- end '@}
