# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if false -'@}
# vim: set ft=yaml:
{@'- end -'@}
{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

{@'- if .sys.isDebianBased '@}
{@'- /* {{{ Debian-based */'@}

- name: Network apps | Install packages
  tags: [packages, desktop, applications, network_apps]
  become: true
  block:

    - name: Network apps | Install packages (stable)
      ansible.builtin.apt:
        package: "{{ vbd_applications_pkgs_network_apps.stable }}"
        state: latest
        install_recommends: false

    - name: Network apps | Install packages (backports)
      ansible.builtin.apt:
        package: "{{ vbd_applications_pkgs_network_apps.backports }}"
        default_release: "{{ ansible_facts['distribution_release'] }}-backports"
        state: latest
        install_recommends: false

{@'- /* }}} */'@}
{@'- else if .sys.isVoid '@}
{@'- /* {{{ Void */'@}

- name: Network apps | Install packages (xbps)
  tags: [packages, desktop, applications, network_apps]
  become: true
  community.general.xbps:
    package: "{{ vbd_applications_pkgs_network_apps.xbps }}"
    state: present

{@'- /* }}} */'@}
{@'- end '@}

...
{@'- end '@}
