# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if false -'@}
#
# This is my palette for wlogout dialogue.
#
# chezmoi variable to store relative path to this template: .tmpl.palette.wlogout
#
{@'- end -'@}
---

# Foreground color for button text and images
fgColor: '#d9d6ce'

# Generic button
button:
  bg: '#353331'
  border: '#484746'

# Button when hovered
buttonHover:
  bg: '#434241'
  border: '#4f4e4d'

# Active button
buttonActive:
  bg: '#545352'
  border: '#626160'

...
