# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@'- if false -'@}
# vim: set ft=yaml:
{@'- end -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

vbd_utilities_pkgs_system_monitors:
{@'- if .sys.isDebianBased '@}
{@'- /* {{{ Debian-based */'@}

  stable:
    - btop
    - glances
    - htop
    - iotop

{@'- /* }}} */'@}
{@'- else if .sys.isVoid '@}
{@'- /* {{{ Void */'@}

  xbps:
    - btop
    - glances
    - htop
    - iotop

{@'- /* }}} */'@}
{@'- end '@}

...
{@'- end '@}
