# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@'- if false -'@}
# vim: set ft=yaml:
{@'- end -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

vbd_utilities_pkgs_network:
{@'- if .sys.isDebianBased '@}
{@'- /* {{{ Debian-based */'@}

  stable:
    - bind9-dnsutils
    - curl
    - inetutils-ping
    - iperf3
#    - nmap # backported
    - rfkill
    - tcpdump
    - traceroute
    - wget

  backports:
    - nmap

{@'- /* }}} */'@}
{@'- else if .sys.isVoid '@}
{@'- /* {{{ Void */'@}

  xbps:
    - bind-utils
    - curl
    - nmap
    - tcpdump
    - traceroute
    - wget

{@'- /* }}} */'@}
{@'- end '@}

...
{@'- end '@}
