# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@'- if false -'@}
# vim: set ft=yaml:
{@'- end -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

vbd_utilities_pkgs_rtfm:
{@'- if .sys.isDebianBased '@}
{@'- /* {{{ Debian-based */'@}

  stable:
    - freebsd-manpages
    - info
    - man-db
    - manpages
    - manpages-dev
    - manpages-posix
    - manpages-posix-dev
    - manpages-ru

{@'- /* }}} */'@}
{@'- else if .sys.isVoid '@}
{@'- /* {{{ Void */'@}

  xbps:
    - man-db
    - man-pages
    - man-pages-devel
    - man-pages-posix
    - manpages-ru
    - texinfo

{@'- /* }}} */'@}
{@'- end '@}

...
{@'- end '@}
