# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@'- if false -'@}
# vim: set ft=yaml:
{@'- end -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

vbd_utilities_pkgs_productivity:
{@'- if .sys.isDebianBased '@}
{@'- /* {{{ Debian-based */'@}

  deb_stable:
    - git
    - lf
    - mc
    - rsync
    - tmux
    - vim-gtk3
    - vim-syntax-gtk

{@'- /* }}} */'@}
{@'- else if .sys.isVoid '@}
{@'- /* {{{ Void */'@}

  xbps:
    - git
    - lf
    - mc
    - rsync
    - tmux
    - vim-huge

{@'- /* }}} */'@}
{@'- end '@}

...
{@'- end '@}
