# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if false -'@}
# vim: set ft=yaml:
{@'- end -'@}
{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

{@'- if .sys.isDebianBased '@}

vbd_www_browsers_pkgs:
  stable:
    - chromium
    - chromium-l10n
    - chromium-sandbox
    - firefox-esr
    - firefox-esr-l10n-de
    - firefox-esr-l10n-ru

vbd_www_browsers_repo_data:
  opera:
    repo:
      suite: 'stable'
      component: 'non-free'
      filename: '/etc/apt/sources.list.d/opera-stable.list'
      url: 'https://deb.opera.com/opera-stable/'
    key:
      filename: '/etc/apt/keyrings/opera-stable.gpg'
      url: 'https://deb.opera.com/archive.key'


{@'- else if .sys.isVoid '@}

vbd_www_browsers_pkgs:
  xbps:
    - chromium
    - firefox-esr
    - firefox-esr-i18n-de
    - firefox-esr-i18n-ru
    - opera
    - vivaldi

{@'- end '@}

...
{@'- end '@}
