# chezmoi:template: left-delimiter=[@ right-delimiter=@]
[@ includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " @]
#
# Read `man 5 sway` for a complete reference.

# {{{ Variables

# Logo key. Use Mod1 for Alt.
set $mod Mod4

# Home row direction keys, like vim
set $left h
set $down j
set $up k
set $right l

# Default terminal emulator
set $term [@ .cmd.terminalEmulator | quote @]

# Preferred application launcher
# Note: pass the final command to swaymsg so that the resulting window can be opened
# on the original workspace that the command was run on.
#set $menu dmenu_path | dmenu | xargs swaymsg exec --
#set $menu wofi --show run
#set $dmenu wofi --show drun
set $menu [@ cat .cmd.startRofi "run" @]
set $dmenu [@ cat .cmd.startRofi "drun" @]

# Sound volume commands
set $cmd_volume_up [@ .cmd.volumeUp @]
set $cmd_volume_down [@ .cmd.volumeDown @]
set $cmd_volume_mute_toggle [@ .cmd.volumeMute @]

# }}} (Variables)
# {{{ Various settings

# Desktop background
[@ if and .misc.background.useImage (ne .misc.background.imagePath "/dev/null") (stat .misc.background.imagePath) (lookPath "swaybg") -@]
output * bg [@ .misc.background.imagePath | quote @] [@ .misc.background.imageMode @] [@ .misc.background.color | quote @] 
[@- else -@]
output * bg [@ .misc.background.color | quote @] solid_color
[@- end @]

#
# Example configuration:
#
#	output HDMI-A-1 resolution 1920x1080 position 1920,0
#
# You can get the names of your outputs by running: swaymsg -t get_outputs

# Various stuff
focus_follows_mouse no
workspace_layout tabbed

# Keyboard layout and configuration
input "type:keyboard" {
	xkb_layout [@ .misc.kbd.layout | quote @] 
	xkb_variant [@ .misc.kbd.variant | quote @]
	xkb_options [@ .misc.kbd.options | quote @]
	repeat_delay [@ .misc.kbd.delay | int @]
	repeat_rate [@ .misc.kbd.repeat | int @] 
}

# }}}
# {{{ Autostart

# Update environment variables
exec_always dbus-update-activation-environment [@ if .sys.hasSystemd -@] --systemd [@ end -@] XDG_SESSION_TYPE WAYLAND_DISPLAY SWAYSOCK XDG_CURRENT_DESKTOP=sway

# Desktop Portal
exec_always /usr/libexec/xdg-desktop-portal -r

# Gammastep: Redshift alternative for wayland
exec gammastep-indicator

# Network Manager applet
exec nm-applet --indicator

# Per-window keyboard layout
exec swaykbdd

exec swayosd-server >/dev/null 2>&1

# Conky system monitor
exec sleep 1 && conky -p [@ int .conky.startupDelay @] -d

# Udiskie
exec udiskie --smart-tray --notify --automount

# Clipboard manager
exec CLIPBOARD_STATE=sensitive wl-paste --watch cliphist store

#exec dunst

# }}} (Autostart)
# {{{ Idle configuration

# As of now (?), swaylock doesn't hide mouse cursor after blanking the screen
# See:
# https://github.com/swaywm/swaylock/issues/103
# https://github.com/swaywm/sway/issues/8342
#
# This is a temporary solution for that:
seat * hide_cursor [@ mul (sub (mul .misc.idle.lockDelay 60) 1) 1000 | int @]

# The command to lock the screen
set $lock swaylock -f -c 000000

# Idle configuration
exec swayidle -w \
	timeout [@ mul .misc.idle.lockDelay 60 | int @] '$lock' \
	timeout [@ mul .misc.idle.poweroffDelay 60 | int @] 'swaymsg "output * power off"' \
		resume 'swaymsg "output * power on"; /bin/sh [@ joinPath .chezmoi.homeDir .dir.localScripts "sway-workarounds-after-resume.sh" @]; sleep 1; swaymsg focus' \
	before-sleep '$lock'

# }}} (Idle configuration)
# {{{ Key bindings
# {{{ Basics

# Kill focused window
bindsym --to-code $mod+q kill

# Start your launcher
bindsym $mod+Return exec $menu
bindsym $mod+Shift+Return exec $dmenu

# Drag floating windows by holding down $mod and left mouse button.
# Resize them with right mouse button + $mod.
# Despite the name, also works for non-floating windows.
# Change normal to inverse to use left mouse button for resizing and right
# mouse button for dragging.
floating_modifier $mod normal

# Reload the configuration file
bindsym --to-code $mod+Shift+c reload, exec notify-send --urgency=low --icon='openbox' 'Sway config reloaded'

bindsym --to-code $mod+Shift+w exec killall -SIGUSR2 waybar, exec notify-send --urgency=low 'Waybar config reloaded'

# Exit sway (logs you out of your Wayland session)
bindsym --to-code $mod+Shift+e exec swaynag -t warning -m 'You pressed the exit shortcut. Do you really want to exit sway? This will end your Wayland session.' -B 'Yes, exit sway' 'swaymsg exit'

# }}}
# {{{ Applications

# Default browser: Firefox
bindsym --to-code $mod+Ctrl+b exec firefox-esr

# Start a terminal
bindsym --to-code $mod+Ctrl+t exec $term -e [@ joinPath .chezmoi.homeDir .dir.localBin "enter-default-tmux-session.sh" @]

# }}}
# {{{ Volume control

# Volume up
bindsym $mod+equal exec $cmd_volume_up
bindsym $mod+KP_Add exec $cmd_volume_up
bindsym XF86AudioRaiseVolume exec $cmd_volume_up

# Volume down
bindsym $mod+minus exec $cmd_volume_down
bindsym $mod+KP_Subtract exec $cmd_volume_down
bindsym XF86AudioLowerVolume exec $cmd_volume_down

# Toggle mute
bindsym $mod+backspace exec $cmd_volume_mute_toggle
bindsym XF86AudioMute exec $cmd_volume_mute_toggle

# }}}
# {{{ Moving around

# Move your focus around
bindsym --to-code {
	$mod+$left focus left
	$mod+$down focus down
	$mod+$up focus up
	$mod+$right focus right
}

# Or use $mod+[up|down|left|right]
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

# Move the focused window with the same, but add Shift
bindsym --to-code {
	$mod+Shift+$left move left
	$mod+Shift+$down move down
	$mod+Shift+$up move up
	$mod+Shift+$right move right
}

# Ditto, with arrow keys
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

# }}}
# {{{ Workspaces

# Switch to workspace
bindsym $mod+1 workspace number 1
bindsym $mod+2 workspace number 2
bindsym $mod+3 workspace number 3
bindsym $mod+4 workspace number 4
bindsym $mod+5 workspace number 5
bindsym $mod+6 workspace number 6
bindsym $mod+7 workspace number 7
bindsym $mod+8 workspace number 8
bindsym $mod+9 workspace number 9
bindsym $mod+0 workspace number 10

# Move focused container to workspace
bindsym $mod+Shift+1 move container to workspace number 1; workspace number 1
bindsym $mod+Shift+2 move container to workspace number 2; workspace number 2
bindsym $mod+Shift+3 move container to workspace number 3; workspace number 3
bindsym $mod+Shift+4 move container to workspace number 4; workspace number 4
bindsym $mod+Shift+5 move container to workspace number 5; workspace number 5
bindsym $mod+Shift+6 move container to workspace number 6; workspace number 6
bindsym $mod+Shift+7 move container to workspace number 7; workspace number 7
bindsym $mod+Shift+8 move container to workspace number 8; workspace number 8
bindsym $mod+Shift+9 move container to workspace number 9; workspace number 9
bindsym $mod+Shift+0 move container to workspace number 10; workspace number 10
# Note: workspaces can have any name you want, not just numbers.
# We just use 1-10 as the default.

bindsym $mod+Ctrl+Left move container to workspace prev, workspace prev
bindsym $mod+Ctrl+Right move container to workspace next, workspace next

bindsym $mod+Shift+Tab workspace back_and_forth

# }}}
# {{{ Layout control
#
# You can "split" the current object of your focus with
# $mod+b or $mod+v, for horizontal and vertical splits
# respectively.
bindsym $mod+b splith
bindsym $mod+v splitv

# Switch the current container between different layout styles
bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split

# Make the current focus fullscreen
bindsym $mod+f fullscreen

# Toggle the current focus between tiling and floating mode
bindsym $mod+Shift+space floating toggle

# Swap focus between the tiling area and the floating area
bindsym $mod+space focus mode_toggle

# Move focus to the parent container
bindsym $mod+a focus parent

# }}}
# {{{ Clipboard control

# Super+` - Show clipboard history
bindsym --to-code $mod+grave exec /bin/sh [@ joinPath .chezmoi.homeDir .dir.localScripts "clipboard-select.sh" @]

# }}}
# {{{ Scratchpad

	# Sway has a "scratchpad", which is a bag of holding for windows.
	# You can send windows there and get them back later.

	# Move the currently focused window to the scratchpad
	bindsym $mod+Shift+minus move scratchpad

	# Show the next scratchpad window or hide the focused scratchpad window.
	# If there are multiple scratchpad windows, this command cycles through them.
	# bindsym $mod+minus scratchpad show

# }}}
# {{{ Resizing containers

mode "resize" {
	# left will shrink the containers width
	# right will grow the containers width
	# up will shrink the containers height
	# down will grow the containers height
	bindsym $left resize shrink width 10px
	bindsym $down resize grow height 10px
	bindsym $up resize shrink height 10px
	bindsym $right resize grow width 10px

	# Ditto, with arrow keys
	bindsym Left resize shrink width 10px
	bindsym Down resize grow height 10px
	bindsym Up resize shrink height 10px
	bindsym Right resize grow width 10px

	# Return to default mode
	bindsym Return mode "default"
	bindsym Escape mode "default"
}
bindsym $mod+r mode "resize"

# }}}
# }}} (Key bindings)
# {{{ Application rules

for_window [app_id="gsimplecal"] floating enable, border none, move position 100 ppt 0 px, move left 255
for_window [app_id="conky"] floating enable, border none

default_floating_border normal 2
for_window [window_type="dialog"] floating enable, border normal

# }}} (Theme setup)
# {{{ Theme setup

#font pango: DejaVu Sans Condensed 11
font pango: Ubuntu Nerd Font 12

# Window title configuration
titlebar_padding 5 3
title_align left

set $win_title_text <span font_weight='medium'>%title</span>

# Generic window
for_window [title="."] title_format "󰣆 $win_title_text %class"

# Browsers
for_window [app_id="firefox-esr"] inhibit_idle fullscreen, title_format "<span color='#ff7f1f'>󰈹</span> $win_title_text"
for_window [app_id="chromium"] inhibit_idle fullscreen, title_format "<span color='#6199f6'></span> $win_title_text"
for_window [app_id="vivaldi"] inhibit_idle fullscreen, title_format "<span color='#ef3939'>󰕷</span> $win_title_text"
for_window [app_id="Opera"] inhibit_idle fullscreen, title_format "<span color='#f23845'></span> $win_title_text"

# Terminal emulators
set $symbol_terminal <span color='#8ec07c'></span> 
for_window [app_id="Alacritty"] title_format "$symbol_terminal $win_title_text"
for_window [app_id="foot"] title_format "$symbol_terminal $win_title_text"

# Office
for_window [app_id="libreoffice-startcenter"] title_format "<span color='#d9d6ce'></span> $win_title_text"
for_window [app_id="libreoffice-base"] title_format "<span color='#8b3ea7'></span> $win_title_text"
for_window [app_id="libreoffice-calc"] title_format "<span color='#4ba425'></span> $win_title_text"
for_window [app_id="libreoffice-draw"] title_format "<span color='#f3ae16'></span> $win_title_text"
for_window [app_id="libreoffice-impress"] title_format "<span color='#e96412'></span> $win_title_text"
for_window [app_id="libreoffice-math"] title_format "<span color='#da477d'></span> $win_title_text"
for_window [app_id="libreoffice-writer"] title_format "<span color='#1b83d4'></span> $win_title_text"

# Varia
for_window [app_id="gammastep"] title_format "<span color='#d9d6ce'></span> $win_title_text"

# Internet
for_window [app_id="telegram"] title_format "<span color='#28a4e2'></span> $win_title_text"
for_window [app_id="amule"] title_format "<span color='#c78b52'></span> $win_title_text"
for_window [app_id="wireshark"] title_format "<span background='#4e91d9' color='#343434'></span> $win_title_text"


# Multimedia
for_window [app_id="deadbeef"] title_format "󰝚 $win_title_text"
for_window [app_id="mpv"] inhibit_idle fullscreen, title_format "<span color='#a579a5'></span> $win_title_text"
for_window [app_id="vlc"] inhibit_idle fullscreen, title_format "<span color='#ffac4d'>󰕼</span> $win_title_text"
for_window [class="vlc"] inhibit_idle fullscreen, title_format "<span color='#ffac4d'>󰕼</span> $win_title_text"

# Image viewers
for_window [app_id="eom"] title_format " $win_title_text"
for_window [app_id="geeqie"] title_format " $win_title_text"

# Image editors
for_window [app_id="gimp"] title_format "<span color='#e99012'></span> $win_title_text"

# File managers
for_window [class="Caja"] title_format "<span color='#eeca8f'></span> $win_title_text"

# Text editors
for_window [app_id="emacs"] title_format "<span color='#a5a3d0'></span> $win_title_text"
for_window [app_id="geany"] title_format "<span color='#fabd2f'></span> $win_title_text"

# GTK theme, icons and system font
set $gnome-schema org.gnome.desktop.interface
exec_always {
	gsettings set $gnome-schema gtk-theme [@ .gtk.themeName | squote @]
	gsettings set $gnome-schema icon-theme [@ .gtk.iconTheme | squote @]
	gsettings set $gnome-schema cursor-theme [@ .gtk.cursorTheme | squote @]
	gsettings set $gnome-schema cursor-size [@ int .gtk.cursorSize @]
	gsettings set $gnome-schema font-name [@ cat .gtk.font.family .gtk.font.weight .gtk.font.size | squote @]
}

seat * xcursor_theme [@ .gtk.cursorTheme @] [@ int .gtk.cursorSize @]

hide_edge_borders smart
#smart_borders on

# Status Bar:
bar {
	swaybar_command waybar
}

# }}} (Theme setup)
# {{{ Color scheme

set $selected_fg #f0ede5
set $selected_bg #53504e
set $border_color #6c6b6a

# https://thomashunter.name/i3-configurator/

# class					border			bground			text			indicator	child_border
client.focused			$border_color	$selected_bg	$selected_fg	#7b7a7a		#7f7e7d
client.unfocused		#4a4948			#353331			#a29f98			#3b5b4c		#1a2a22
client.focused_inactive	#464544			#252321			#8b8589			#3b5b4c		#1a2a22

### Window Colors – Chameleon Grove Green Palette
# -------------------------
# Active window
#client.focused #57886C #334d3f #FFFFFF #57886C #334d3f
#
## Inactive window
#client.focused_inactive #334d3f #1a2a22 #CCCCCC #445c4e #1a2a22
#
## Visible but unfocused
#client.unfocused #2a3b33 #1a2a22 #AAAAAA #3b5b4c #1a2a22
#
## Urgent window
#client.urgent #78bfa1 #445c4e #FFFFFF #78bfa1 #334d3f
#
## Split container placeholders
#client.placeholder #445c4e #1a2a22 #AAAAAA #445c4e #1a2a22
#
## Background / special tagged windows
#client.background #1a2a22 #1a2a22 #888888 #1a2a22 #1a2a22

# }}}

include /etc/sway/config.d/*

