# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if false -'@}
# vim: set ft=yaml:
{@'- end -'@}
{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

vbd_applications_pkgs_desktop_utils:
{@'- if .sys.isDebianBased '@}
{@'- /* {{{ Debian-based */'@}

  deb_stable:
    - alacritty
    - caja
    - conky-std
    - dconf-editor
    - dunst
    - emacs-pgtk
    - engrampa
    - firejail
    - firejail-profiles
    - geany
    - gsimplecal
    - network-manager-applet
    - qalculate-gtk
    - rofi
    - udiskie

    # IDK whether it should be here
    # But nothing pulls it automatically for whatever reason
    - libnotify-bin

    # Debian-based-specific
    - gdebi
    - lintian

{@'- /* }}} */'@}
{@'- else if .sys.isVoid '@}
{@'- /* {{{ Void */'@}

  xbps:
    - alacritty
    - caja
    - dconf-editor
    - emacs-pgtk
    - engrampa
    - firejail
    - geany
    - gsimplecal-gtk3
    - network-manager-applet
    - qalculate-gtk
    - rofi
    - rofi-calc
    - udiskie

{@'- /* }}} */'@}
{@'- end '@}

...
{@'- end '@}
