# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if false -'@}
# vim: set ft=yaml:
{@'- end -'@}
{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

vbd_applications_pkgs_wayland_specific:
{@'- if .sys.isDebianBased '@}

  stable:
    - qt6-wayland
    - qtwayland5

{@'- else if .sys.isVoid '@}

  xbps:
    - qt6-wayland
    - qt5-wayland

{@'- end '@}

...
{@'- end '@}
