# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if false -'@}
# vim: set ft=yaml:
{@'- end -'@}
{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

vbd_applications_pkgs_image_handling:
{@'- if .sys.isDebianBased '@}
{@'- /* {{{ Debian-based */'@}

  stable:
    - eom
    - gimp
    - geeqie
    - imagemagick
    - inkscape
    - kolourpaint

{@'- /* }}} */'@}
{@'- else if .sys.isVoid '@}
{@'- /* {{{ Void */'@}

  xbps:
    - ImageMagick
    - eom
    - geeqie
    - gimp
    - inkscape
    - kolourpaint

{@'- /* }}} */'@}
{@'- end '@}

...
{@'- end '@}
