# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if false -'@}
# vim: set ft=yaml:
{@'- end -'@}
{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

vbd_applications_pkgs_office:
{@'- if .sys.isDebianBased '@}
{@'- /* {{{ Debian-based */'@}

  deb_stable:

    # Dictionaries
    - hunspell
    - hunspell-de-de
    - hunspell-en-gb
    - hunspell-ru

    # Image handling
    - eom
    - gimp
    - geeqie
    - imagemagick
    - inkscape
    - kolourpaint

    # Document viewers
    - atril
    - djview4
    - foliate
    - okular
    - okular-extra-backends
    - okular-mobile
    - zathura

    # Network apps
    - amule
    # - qbittorrent

  deb_backports:

    # Libreoffice
    - libreoffice
    - libreoffice-gtk3
    - libreoffice-l10n-ru

    # Network
    - qbittorrent

{@'- /* }}} */'@}
{@'- else if .sys.isVoid '@}
{@'- /* {{{ Void */'@}

  xbps:

    # Dictionaries
    - hunspell
    - hunspell-de
    - hunspell-en
    - hunspell-ru_RU-ieyo

    # Image handling
    - ImageMagick
    - eom
    - geeqie
    - gimp
    - inkscape
    - kolourpaint

    # Document viewers
    - atril
    - djview
    - foliate
    - okular
    - zathura

    # Network
    - qbittorrent
    - telegram-desktop

    # Libreoffice
    - libreoffice
    - libreoffice-i18n-ru

{@'- /* }}} */'@}
{@'- end '@}

...
{@'- end '@}
