# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- /* vim: set ft=yaml fdm=marker: */ -'@}

{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

vbd_system_base_pkgs_base_tools:
{@'- /* {{{ Debian-based */'@}
{@'- if .sys.isDebianBased '@}

  deb_stable:
    - hdparm
    - patch

    # Filesystem tools
#    - btrfs-progs # backported
    - dosfstools
    - e2fsprogs
    - e2fsprogs-l10n
    - exfatprogs
    - ntfs-3g

  deb_backports:
    - btrfs-progs

{@'- /* }}} */'@}
{@'- /* {{{ Void */'@}
{@'- else if .sys.isVoid '@}

  xbps:
    - hdparm
    - patch

    # Filesystem tools
    - btrfs-progs
    - dosfstools
    - e2fsprogs
    - exfatprogs
    - ntfs-3g

{@'- end '@} {@'- /* }}} */'@}

...
{@'- end '@}
