-- chezmoi:template: left-delimiter={@' right-delimiter='@}
{@' if false -'@}
-- vim: ft=lua
{@'- end -'@}

package.path = package.path .. {@' printf ";%s" (joinPath .chezmoi.homeDir .dir.luaModules "?.lua") | squote '@}
local obmenu = require("obmenu")

{@' $themesNames := list -'@}
{@' range .misc.greylooksThemes -'@}
{@' $themesNames = append $themesNames ( . | squote) -'@}
{@' end -'@}
local greylooks_variants = { {@'- $themesNames | join ", " -'@} }

for k in pairs(greylooks_variants) do
	local variant_name = greylooks_variants[k]
	local icon_name, the_command

	if variant_name == {@' .gtk.themeName | quote '@} then
		the_command = "{@' .cmd.notifier '@} 'Current GTK theme: {@' .gtk.themeName '@}'"
		icon_name = {@' .misc.menuSymbols.radioChecked | squote '@}
	else
		the_command = [[/bin/sh -e {@' joinPath .chezmoi.homeDir .dir.localScripts "set-gtk-and-openbox-theme.sh" | quote '@} ']] .. variant_name .. "'"
		icon_name = {@' .misc.menuSymbols.radioUnchecked | squote '@}
	end

	local item = obmenu:add_menuitem(variant_name, icon_name)
	item:add_action_execute(the_command)

end

io.write(tostring(obmenu))
