-- chezmoi:template: left-delimiter={@' right-delimiter='@}
{@' if false -'@}
-- vim: ft=lua
{@'- end -'@}

package.path = package.path .. {@' printf ";%s" (joinPath .chezmoi.homeDir .dir.luaModules "?.lua") | squote '@}
local obmenu = require('obmenu')

for argb_value = 120, 240, 10 do
	local icon_name, the_command, second_command

	if argb_value == {@' .conky.argbValue '@} then
		the_command = "{@' .cmd.notifier '@} --icon='conky' 'Current conky ARGB value: {@' .conky.argbValue '@}'"
		second_command = ''
		icon_name = 'emblem-ok-symbolic'
	else
		the_command=[[{@' .cmd.tinkerChezmoiConfig '@} 'data.conky.argbValue' ']] ..
			tostring(argb_value) .. "' 'doapply'"
		second_command = "{@' .cmd.notifier '@} --icon='conky' \"Changing conky's ARGB value to " .. tostring(argb_value) .. "\" 'Please wait a little bit...' "
		icon_name=''
	end    

	local item = obmenu:add_menuitem(tostring(argb_value), icon_name)
	item:add_action_execute(the_command)

	if second_command ~= '' then
		item:add_action_execute(second_command)
	end

end

io.write(tostring(obmenu))
