#!/usr/bin/lua
-- chezmoi:template: left-delimiter={@' right-delimiter='@}
-- vim: ft=lua

{@'/* Template which adds the lookup_icon function and initializes Gtk */ -'@}
{@' includeTemplate .templates.funcGtkLookupIcon . '@}

local greylooks_variants = {'Greylooks', 'GreylooksGreen', 'GreylooksHuman', 'GreylooksOk'}

io.write("<openbox_pipe_menu>\n")

for k in pairs(greylooks_variants) do
    local variant_name = greylooks_variants[k]
    local icon_name, the_command

    if variant_name == {@' .gtkThemeName | quote '@} then
        the_command = "{@' .cmdNotifier '@} 'Current GTK theme: {@' .gtkThemeName '@}'"
        icon_name = " icon='" .. tostring(lookup_icon(Gtk, gtk_icon_theme, 'emblem-ok-symbolic', {@' .miscObmenuIconSize '@})) .. "'"
    else
        the_command = "/bin/sh {@' .dirLocalScripts '@}/set-gtk-and-openbox-theme.sh '" .. variant_name .. "'"
        icon_name = ""
    end

    io.write("<item label='", variant_name, "'", icon_name, [[>
    <action name='Execute'>
        <execute><command><![CDATA[]], the_command, ']]', [[></command></execute>
    </action>
</item>
]]);
end

io.write("</openbox_pipe_menu>\n")

