{{ if and (not .sysHasSystemd) (not .sysIsGentoo) -}}
{{ includeTemplate .templates.msgManagedByChezmoi . | comment "# " }}
#
# In non-systemd distros (which are not Gentoo), we need a way to launch pipewire
# We grab this thing from Gentoo

[Desktop Entry]
Version=1.0
Name[de]=PipeWire Mediensystem
Name=PipeWire Media System
Comment[de]=Das PipeWire Mediensystem starten
Comment=Start the PipeWire Media System
Exec={{ if .sysIsDebianBased }}/bin/sh -e {{ joinPath .dirLocalScripts .apps.devuansPipewireLauncher | quote }}{{ else }}pipewire{{ end }}
Terminal=false
Type=Application
X-GNOME-HiddenUnderSystemd=true
X-KDE-HiddenUnderSystemd=true
X-systemd-skip=true
Hidden=false
{{ end -}}
