# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

{@' if .sys.isDebianBased -'@}

- name: Desktop Install | Upgrade Apt
  become: true
  become_user: root
  ansible.builtin.apt:
    upgrade: 'safe'
    update-cache: true
    install_recommends: false
    autoclean: false
    autoremove: false
  diff: true
  tags: always

{@'- else if .sys.isVoid -'@}

- name: Desktop Install | Upgrade Xbps
  become: true
  become_user: root
  community.general.xbps:
    update_cache: true
    upgrade: true
    upgrade_xbps: true
  diff: true
  tags: always

{@'- end '@}

...
{@'- end '@}
