# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if false -'@}
# vim: set ft=yaml:
{@'- end -'@}
{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

{@'- if .sys.isDebianBased '@}
{@'- /* {{{ Debian-based */'@}

- name: Icons | Install packages (stable)
  tags: [packages, desktop, appearance, icons]
  become: true
  ansible.builtin.apt:
    package: "{{ vbd_appearance_pkgs_icons.deb_stable }}"
    state: latest
    install_recommends: false
  when: ansible_facts['os_family'] == 'Debian'

- name: Icons | papirus-folders
  tags: [packages, desktop, appearance, icons, papirus_folders]
  when: >
    ansible_facts['os_family'] == 'Debian' and
    (ansible_local.vbd_papirus_folders.installed_version is not defined or
    ansible_local.vbd_papirus_folders.installed_version != vbd_appearance_papirus_folders.ver)
  block:

    - name: Icons | papirus-folders | Delete papirus-folders package (apt)
      become: true
      ansible.builtin.apt:
        package: papirus-folders
        state: absent
        purge: true

    - name: Icons | papirus-folders | Create temporary directory
      ansible.builtin.tempfile:
        state: directory
      register: vbd_appearance_temp_dir

    - name: Icons | papirus-folders | Unarchive papirus-folders installer
      ansible.builtin.unarchive:
        src: "{{ vbd_appearance_papirus_folders.archive }}"
        dest: "{{ vbd_appearance_temp_dir.path }}"

    - name: Icons | papirus-folders | Install papirus-folders
      become: true
      ansible.builtin.command:
        chdir: "{{ vbd_appearance_temp_dir.path }}/papirus-folders-{{ vbd_appearance_papirus_folders.ver }}"
        cmd: /bin/sh install.sh
      environment:
        TAG: "v{{ vbd_appearance_papirus_folders.ver }}"
        PREFIX: '/usr/local'
      changed_when: true

    - name: Icons | papirus-folders | Delete temporary directory
      ansible.builtin.file:
        path: "{{ vbd_appearance_temp_dir.path }}"
        state: absent

    - name: "Icons | papirus-folders | Set fact | Installed version: {{ vbd_appearance_papirus_folders.ver }}"
      become: true
      ansible.builtin.copy:
        dest: /etc/ansible/facts.d/vbd_papirus_folders.fact
        content: "{ \"installed_version\": \"{{ vbd_appearance_papirus_folders.ver }}\" }"
        owner: root
        group: root
        mode: '0644'

{@'- /* }}} */'@}
{@'- else if .sys.isVoid '@}
{@'- /* {{{ Void */'@}

- name: Icons | Install packages (xbps)
  tags: [packages, desktop, appearance, icons]
  become: true
  community.general.xbps:
    package: "{{ vbd_appearance_pkgs_icons.xbps }}"
    state: present
  when: ansible_facts['distribution'] == 'Void'

{@'- /* }}} */'@}
{@'- end '@}
{@'- /* {{{ Common ground */'@}

- name: "Icons | Check that papirus-folders theme is {{ vbd_appearance_papirus_folders_theme }}"
  tags: [packages, desktop, appearance, icons, papirus_folders]
  ansible.builtin.shell:
    cmd: |
      set -o pipefail
      papirus-folders -l | grep ">" | sed "s/[^[:alpha:]]//g"
  args:
    executable: /bin/bash
  register: vbd_appearance_shell_result
  changed_when: vbd_appearance_shell_result.stdout != vbd_appearance_papirus_folders_theme
  notify: Set papirus-folders theme

{@'- /* }}} */'@}
...
{@'- end '@}
