# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if false -'@}
# vim: set ft=yaml:
{@'- end -'@}
{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

vbd_appearance_graphite:
  gtk:
    archive: {@' joinPath .chezmoi.homeDir .dir.downloaded (printf .file.graphite.gtk.pattern .file.graphite.gtk.ver) | squote '@}
    ver: {@' .file.graphite.gtk.ver | squote '@}

vbd_appearance_pkgs_themes:
{@'- if .sys.isDebianBased '@}
{@'- /* {{{ Debian-based */'@}

  stable:
    - gnome-themes-extra
    - gtk-3-examples
    - gtk-4-examples
    - gtk2-engines
    - gtk2-engines-murrine
    - mate-themes
    - qt-style-kvantum
    - qt-style-kvantum-l10n
    - qt-style-kvantum-themes
    - qt5-gtk-platformtheme
    - qt5ct
    - qt6ct
    - sassc

{@'- /* }}} */'@}
{@'- else if .sys.isVoid '@}
{@'- /* {{{ Void */'@}

  xbps:
    - gtk2-engines
    - kvantum
    - mate-themes
    - qt5-styleplugins
    - qt5ct
    - qt6ct
    - sassc

{@'- /* }}} */'@}
{@'- end '@}

...
{@'- end '@}
