# {{{ chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if false -'@}
# vim: set ft=yaml:
{@'- end -'@} {@'- /* }}} */ -'@}
{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

# Default color theme for papirus-folders
vbd_appearance_papirus_folders_theme: {@' .misc.papirusFoldersTheme | squote '@}

{@'- if .sys.isDebianBased '@} {@'- /* {{{ Debian-based */'@}

vbd_appearance_papirus_folders:
  ver: {@' .file.papirusFolders.ver | squote '@}
  archive: {@' joinPath .chezmoi.homeDir .dir.downloaded (printf "papirus-folders-%s.tar.gz" .file.papirusFolders.ver) | squote '@}

vbd_appearance_pkgs_icons:
  deb_stable:
    - bibata-cursor-theme
    - breeze-icon-theme
    - gnome-extra-icons
    - gnome-icon-theme
    - papirus-icon-theme

{@'- /* }}} */'@} {@'- else if .sys.isVoid '@}
{@'- /* {{{ Void */'@}

vbd_appearance_pkgs_icons:
  xbps:
    - breeze-icons
    - gnome-icon-theme
    - gnome-icon-theme-extras
    - papirus-folders
    - papirus-icon-theme

{@'- end '@} {@'- /* }}} */'@}

...
{@'- end '@}
