# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---
{@' if .sys.isBrandsPrivate -'@}

# - name: Establish local symlinks
#   hosts: all
#   roles:
#     - file_manager
#   vars_files:
#     - vars/local-symlinks.yml
#   become: false
#   gather_facts: false
#   tags:
#     - local
#     - symlinks

{@'- end '@}

{@' if or .sys.isDebianBased .sys.isVoid -'@}

- name: General system configuration
  hosts: localhost

  pre_tasks:

    - name: Create /etc/ansible/facts.d
      tags: always
      become: true
      ansible.builtin.file:
        path: /etc/ansible/facts.d
        state: directory
        owner: root
        group: root
        mode: '0755'

    - name: Upgrade package manager
      tags: always
      ansible.builtin.import_tasks: tasks/upgrade_package_manager.yml

  roles:

    # System
    - vbd_utilities

    # Desktop
    - vbd_desktop_base
    - vbd_appearance
    - vbd_applications
    - vbd_www_browsers
{@'- if .sys.isDesktopRig '@}
    - vbd_virtual_machines
{@'- end '@}

{@'- end '@}

- name: System Fontconfig Configuration
  hosts: all
  vars_files:
    - vars/fontconfig-config.yml

  roles:
    - vbd_sys_conf
...
