# chezmoi:template: left-delimiter={@' right-delimiter='@}
#!/bin/sh
# vim: ft=sh

# Automatically reconfigure Openbox if its configuration has been changed

# See: https://www.chezmoi.io/user-guide/use-scripts-to-perform-actions/#run-a-script-when-the-contents-of-another-file-changes
{@'- if stat (joinPath .chezmoi.homeDir ".config/openbox/menu.xml") | not | not '@}
# menu.xml hash: {@' include ( joinPath .chezmoi.homeDir ".config/openbox/menu.xml" ) | sha256sum '@}
{@'- end '@}
{@'- if stat (joinPath .chezmoi.homeDir ".config/openbox/rc.xml") | not | not '@}
# rc.xml hash: {@' include ( joinPath .chezmoi.homeDir ".config/openbox/rc.xml" ) | sha256sum '@}
{@'- end '@}

# Reconfiugre openbox if it is running
if pgrep --count openbox 1>/dev/null 2>&1 ; then
    echo -n "Reconfiguring Openbox... "
    openbox --reconfigure
    echo "Done."
fi
