#!/bin/sh -e
# chezmoi:template: left-delimiter={@' right-delimiter='@}
#
# Automatically reconfigure Openbox if its configuration has been changed
#

{@'/* {{{ Include stuff */ -'@}

{@'/* Include the ``print_message*'' functions */ -'@}
{@' includeTemplate .tmpl.sh.funcPrintMessage . '@}

{@'/* Print the name of this script */ -'@}
{@' includeTemplate .tmpl.msg.printRunningScriptName . '@}

{@'/* }}} */ -'@}

# Reconfiugre openbox if it is running
if pgrep --count openbox 1>/dev/null 2>&1 ; then
    print_message_no_linebreak "Reconfiguring Openbox... "
    openbox --reconfigure
    print_message "Done."
    {@' .cmd.notifier '@} --urgency=low --icon='openbox' "Openbox reconfigured"
else
    print_message "Openbox is not running. Doing nothing."
fi

{@'/* {{{ Include hashes of the files */ -'@}

{@'/* Generate file list */ -'@}
{@' $theList := list -'@}
{@' $baseDir := joinPath .chezmoi.homeDir ".config/openbox" -'@}
{@' range list "rc.xml" "menu.xml" "applications.xml" "keybindings.xml" -'@}
	{@'- $theList = append $theList (joinPath $baseDir .) -'@}
{@' end -'@}

{@'/* This template will include hashes for the files listed */ -'@}
{@' includeTemplate .tmpl.listFileHashes $theList | comment "# " -'@}

{@'- /* }}} */ -'@}
