# chezmoi:template: left-delimiter={@' right-delimiter='@}
#!/bin/sh
# vim: ft=sh

# Automatically reconfigure Openbox if its configuration has been changed

# See: https://www.chezmoi.io/user-guide/use-scripts-to-perform-actions/#run-a-script-when-the-contents-of-another-file-changes
{@'- if stat (joinPath .chezmoi.homeDir ".config/openbox/menu.xml") | not | not '@}
# menu.xml hash: {@' include ( joinPath .chezmoi.homeDir ".config/openbox/menu.xml" ) | sha256sum '@}
{@'- end '@}
{@'- if stat (joinPath .chezmoi.homeDir ".config/openbox/rc.xml") | not | not '@}
# rc.xml hash: {@' include ( joinPath .chezmoi.homeDir ".config/openbox/rc.xml" ) | sha256sum '@}
{@'- end '@}
{@'- if stat (joinPath .chezmoi.homeDir ".config/openbox/applications.xml") | not | not '@}
# rc.xml hash: {@' include ( joinPath .chezmoi.homeDir ".config/openbox/applications.xml" ) | sha256sum '@}
{@'- end '@}
{@'- if stat (joinPath .chezmoi.homeDir ".config/openbox/keybindings.xml") | not | not '@}
# rc.xml hash: {@' include ( joinPath .chezmoi.homeDir ".config/openbox/keybindings.xml" ) | sha256sum '@}
{@'- end '@}

{@'/* Include the "print_message" and "print_message_no_linebreak" functions */ -'@}
{@' includeTemplate .templates.funcPrintMessage . '@}

{@'/* Print the name of this script */ -'@}
{@' includeTemplate .templates.msgRunningScript . '@}

# Reconfiugre openbox if it is running
if pgrep --count openbox 1>/dev/null 2>&1 ; then
    print_message_no_linebreak "Reconfiguring Openbox... "
    openbox --reconfigure
    print_message "Done."
else
    print_message "Openbox is not running. Doing nothing."
fi
