# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if false -'@}
# vim: ft=sh
{@'- end -'@}
{@'- if and .sys.isDebBased (not (lookPath "aptitude")) -'@}
#!/bin/sh
#
# This script installs aptitude if it is not installed yet
#

{@'/* Include the ``ensure_sudo_is_working'' function */ -'@}
{@' includeTemplate .tmpl.sh.funcEnsureSudoIsWorking . '@}

{@'/* Include the ``print_message*'' functions */ -'@}
{@' includeTemplate .tmpl.sh.funcPrintMessage . '@}

{@'/* Print the name of the script */ -'@}
{@' includeTemplate .tmpl.msg.printRunningScriptName . '@}

print_message "\nPreparing to install aptitude. Updating apt..."
ensure_sudo_is_working {@' .cmd.sudo | squote '@} && {@' .cmd.sudo '@} apt update

print_message "\nUpgrading apt..."
ensure_sudo_is_working {@' .cmd.sudo | squote '@} && {@' .cmd.sudo '@} apt-get --assume-yes --no-install-recommends upgrade

print_message "\nInstalling aptitude..."
ensure_sudo_is_working {@' .cmd.sudo | squote '@} && {@' .cmd.sudo '@} apt-get --assume-yes --no-install-recommends install aptitude

{@'- end '@}
