#!/bin/sh
# vim ft=sh:fm=marker
# chezmoi:template:left-delimiter={{* right-delimiter=*}}

# Write basic config files for programs that are not managed by chezmoi

echo 'Writing basic configuration for programs that are not manages with chezmoi...'

# {{{ nitrogen config

if [ ! -f {{* joinPath .chezmoi.homeDir ".config/nitrogen/bg-saved.cfg" | squote *}} ] || [ ! -f {{* joinPath .chezmoi.homeDir ".config/nitrogen/nitrogen.cfg" | squote *}} ] ; then

    echo -n 'Writing configuration for nitrogen... '

    # Create the ~/.config/nitrogen directory, if it doesn't exist
    [ -d {{* joinPath .chezmoi.homeDir ".config/nitrogen" | squote *}} ] || mkdir --parents {{* joinPath .chezmoi.homeDir ".config/nitrogen" | squote *}}

    # Primary configuration file of nitrogen
    cat > {{* joinPath .chezmoi.homeDir ".config/nitrogen/nitrogen.cfg" | squote *}} <<- EOF
[geometry]
posx=432
posy=54
sizex=463
sizey=503

[nitrogen]
view=list
recurse=true
sort=alpha
icon_caps=false
dirs={{* .chezmoi.homeDir *}}/.local/share/backgrounds;
EOF

    # Set the default background
    cat > {{* joinPath .chezmoi.homeDir ".config/nitrogen/bg-saved.cfg" *}} <<- EOF
[:0.0]
file={{* .chezmoi.homeDir *}}/.local/share/backgrounds/nature-sepia-1920x1200.jpg
mode=5
bgcolor=#000000
EOF

    echo 'Done.'

else
    echo 'Configuration for nitrogen already exists, doing nothing.'
fi

# }}}
# {{{ volumeicon config

if [ ! -f {{* joinPath .chezmoi.homeDir ".config/volumeicon/volumeicon" | squote *}} ] ; then

    echo -n 'Writing configuration for volumeicon... '

    # Create the ~/.config/volumeicon directory, if it doesn't exist
    [ -d {{* joinPath .chezmoi.homeDir ".config/volumeicon" | squote *}} ] || mkdir --parents {{* joinPath .chezmoi.homeDir ".config/volumeicon" | squote *}}

    cat > {{* joinPath .chezmoi.homeDir ".config/volumeicon/volumeicon" | squote *}} <<- EOF
[Alsa]
card=default
{{* if .theSystem.isDebBased -*}}
logarithmic_scale=true
{{*- end *}}

[Notification]
show_notification=true
notification_type=0

[StatusIcon]
stepsize=2
onclick=pavucontrol --tab=3
theme=Default
use_panel_specific_icons=false
reverse_scroll_direction=false
lmb_slider=true
mmb_mute=true
use_horizontal_slider=true
show_sound_level=true
use_transparent_background=false

[Hotkeys]
up_enabled=true
down_enabled=true
mute_enabled=true
up=<Super>equal
down=<Super>minus
mute=<Super>0
EOF
    echo 'Done.'

else
    echo 'Configuration for volumeicon already exists, doing nothing.'
fi

# }}}
