# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if false -'@}
# vim: ft=sh
{@'- end -'@}
#!/bin/sh -e
#
# This script updates fonts cache when downloaded fonts are changed
# (or downloaded for the first time)
#

{@'/* Include the ``print_message*'' functions */ -'@}
{@' includeTemplate .tmpl.sh.funcPrintMessage . '@}

{@'/* Print the name of this script */ -'@}
{@' includeTemplate .tmpl.msg.printRunningScriptName . '@}

{@' $fontsBaseDir := joinPath .chezmoi.homeDir ".local/share/fonts" -'@}

print_message "Updating fonts cache..."
fc-cache --force --verbose {@' $fontsBaseDir | quote '@}

{@'/* {{{ Include hashes of the files */ -'@}

{@'/* Generate file list */ -'@}
{@' $theList := list -'@}
{@' range list "nerd-fonts" "winfonts" "weathericons-regular-webfont.ttf" -'@}
	{@'- $theList = append $theList (joinPath $fontsBaseDir .) -'@}
{@' end -'@}

{@'/* This template will include hashes for the files listed */ -'@}
{@' includeTemplate .tmpl.listFileHashes $theList | comment "# " -'@}

{@'- /* }}} */ -'@}
