# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- /* vim: set ft=sh: */ -'@}

{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}

# This file is sourced by bash for login shells.  The following line
# runs your .bashrc and is recommended by the bash info pages.
[[ -r "${HOME}/.bashrc" ]] && source "${HOME}/.bashrc"

# set PATH so it includes user's private bin if it exists
[[ -d {@' joinPath .chezmoi.homeDir .dir.localBin | squote '@} ]] && PATH="${PATH}:{@' joinPath .chezmoi.homeDir .dir.localBin '@}"
{@'- if .sys.isBrandsPrivate '@}
[[ -d {@' joinPath .chezmoi.homeDir .dir.localGames | squote '@} ]] && PATH="${PATH}:{@' joinPath .chezmoi.homeDir .dir.localGames '@}"
{@'- end '@}
