# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@' if false -'@}
# vim: ft=sh
#
# This template is used in scripts from the .chezmoiscripts directory.
# It prints the name of the running script in color.
#
# ATTENTION: the file ``func-print-message.sh'' MUST be sourced BEFORE
# including this template.
#
# chezmoi variable to store relative path to this template: .tmpl.msg.printRunningScriptName
#
{@'- end -'@}

print_message_header "Running {@' base .chezmoi.sourceFile '@}..."

{@'- /* This deletes an empty line after the template */ -'@}
