# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- /* {{{ Vim modeline for the template (YAML) */ -'@}
{@'- if false -'@}
# vim: set ft=yaml:
{@'- end -'@} {@'- /* }}} */ -'@}

{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

vbd_desktop_base_pkgs_wayland_base:
{@'- /* {{{ Debian-based */'@}
{@'- if .sys.isDebianBased '@}

  deb_stable:
    - cliphist
    - foot
{@'- if not .sys.isVM '@}
    - gammastep
{@'- end '@}
    # The following is needed for gammastep and IDK for what else:
    - gir1.2-ayatanaappindicator3-0.1
    - grim
    - jq
    - nwg-displays
    - slurp
    - sway
    - swaybg
    - swayidle
    - swaykbdd
    - swaylock
    - swayosd
    - waybar
    - wl-clipboard
    - wlogout
    - wlr-randr

    # XWayland stuff
    - x11-xserver-utils
    - xwayland

{@'- /* }}} */'@}
{@'- /* {{{ Void */'@}
{@'- else if .sys.isVoid '@}

  xbps:
    - cliphist
    - foot
    - gammastep
    - gammastep-indicator
    - grim
    - jq
    - slurp
    - sway
    - swaybg
    - swayidle
    - swaykbdd
    - swaylock
    - SwayOSD
    - Waybar
    - wl-clipboard
    - wlogout
    - wlr-randr

    # XWayland stuff
    - xlsclients
    - xorg-server-xwayland

{@'- end '@} {@'- /* }}} */'@}

...
{@'- end '@}
