# chezmoi:template: left-delimiter={@' right-delimiter='@}
# vim: set ft=sh ts=4 sw=4:
#
# This file is intended to be sourced in scripts from
# the .chezmoiscripts directory and others
#
# It adds following functions to print coloured messages:
#
# print_message <message> - prints a message with newline
# print_message_no_linebreak <message> - prints a message without newline
# print_message_header <message> - prints a message in a bold color starting from a newline
#

{@' $colorDefault := "\\033[00m" -'@}
{@' $colorMessage := "\\033[00;36m" -'@}
{@' $colorHeader := "\\033[01;35m" -'@}

print_message_no_linebreak() {
    printf "{@' $colorMessage '@}${1}{@' $colorDefault '@}"
}

print_message() {
	print_message_no_linebreak "${1}"
	printf "\n"
}

print_message_header() {
	printf "\n{@' $colorHeader '@}${1}{@' $colorDefault '@}\n"
}
