# chezmoi:template: left-delimiter={@' right-delimiter='@}
# See: http://uploads.mitechie.com/books/tmux_p1_1.pdf
# See: https://www.learnlinux.tv/learn-tmux-part-5-how-to-customize-tmux-and-make-it-your-own/

# {{{ General config

set-option -g default-terminal "xterm-256color"
set-option -ag terminal-overrides ",xterm-256color:Tc"
# See: https://gist.github.com/andersevenrud/015e61af2fd264371032763d4ed965b6
#set-option -ag terminal-overrides ",xterm-256color:RGB"


# set-option the base-index to 1 rather than 0
set-option -g base-index 1
set-window-option -g pane-base-index 1

# Renumber windows when a window is closed
set-option -g renumber-windows on

# Window title configuration
set-option -g set-titles on
#set-window-option -g automatic-rename on
#set-option -g set-titles-string "#S / #W"
set-option -g set-titles-string "#T"

# Timeout for displaying messages in milliseconds
set-option -g display-time 2000

set-option -sg escape-time 1

# Enable mouse
set-option -g mouse on

# }}}
# {{{ Keybindings

set-window-option -g mode-keys vi

# Ctrl-Space: A new PREFIX
unbind C-b
set-option -g prefix M-Space
bind M-Space send-prefix


# Ctrl-PgUp, Ctrl-PgDown: Switch between windows
bind -n C-PgUp previous-window
bind -n C-PgDn next-window

# PREFIX Ctrl-h and PREFIX Ctrl-l: Switch between windows
bind -r C-h previous-window
bind -r C-l next-window


# Creating and killing windows
# Alt-Ins: New window
bind -n M-Insert new-window
# Alt-Delete: Kill window
bind -n M-Delete kill-window -t ''

# PREFIX z: Kill window
bind z kill-window -t ''

# Use Tab to switch to last window
bind Tab last-window


# CTRL-SHIFT-PgUp/PgDn: Reorder windows
bind -n C-S-PgUp swap-window -d -s '' -t -1
bind -n C-S-PgDn swap-window -d -s '' -t +1

# PREFIX Ctrl-j and PREFIX Ctrl-k: Reorder windows
bind -r C-j swap-window -d -s '' -t -1
bind -r C-k swap-window -d -s '' -t +1

# Shift-arrows: Reorder windows
#bind -n S-Left swap-window -t -1
#bind -n S-Right swap-window -t +1

# Use Alt-arrow keys without prefix key to switch panes
bind -n M-Left select-pane -L
bind -n M-Right select-pane -R
bind -n M-Up select-pane -U
bind -n M-Down select-pane -D

# set-option easier window split keys
bind v split-window -h
bind b split-window -v


# Easy reload of config
bind r source-file {@' .chezmoi.targetFile | quote '@} \; display-message "tmux.conf reloaded."


# Edit configuration
bind e new-window -n 'tmux.conf' "/bin/sh -c 'chezmoi edit --apply {@' .chezmoi.targetFile '@} && tmux source {@' .chezmoi.targetFile '@} && tmux display \"{@' .chezmoi.targetFile | replace .chezmoi.homeDir "~" '@} sourced\"'"


# }}}
# {{{ Theming

{@'- $greenBg := "#303d2c" '@}
{@'- $greenFg := "#a9b665" '@}
{@'- $greenFgMedium := "#8aad6d" '@}
{@'- $greenFgDark := "#515c38" '@}
{@'- $greenbg2 := "#3a5c6e" '@} {@'- /* "#3e4537"*/'@}
{@'- $myblack := "#1d2021" '@}
{@'- /* yellowfg="#b57614" #"#d79921"*/'@}
{@'- /* green2="#98971a"*/'@}
{@'- $mywhite := "#d3c6aa" '@} {@'- /* "#d3c6aa" */'@}

# Status bar configuration
set-option -g status-position top
set-option -g status-justify centre
set-option -g status-bg {@' $greenBg | quote '@}
set-option -g status-fg {@' $greenFg | quote '@}
#set-option -g status-fg color15

# Theme
set-option -g status-left-length 16
set-option -g status-left "#[bg=#{@' $greenBg '@}#,fg=#{@' $greenFg '@}] %R [#S] "
set-option -g status-right "#[bg=#{@' $greenBg '@}#,fg=#{@' $greenFg '@}] #T"

set-window-option -g window-status-style bg={@' $greenBg | quote '@},fg={@' $greenFg | quote '@}
set-window-option -g window-status-current-style bright,bg="#515c38",fg={@' $mywhite | quote '@}
set-option -g window-status-activity-style fg={@' $mywhite | quote '@},italics
set-option -g message-style bg="#96a0ae",fg=black
set-window-option -g mode-style bg=cyan,fg=black
set-option -g pane-border-style fg={@' $mywhite | quote '@}
set-option -g pane-active-border-style fg={@' $greenFg | quote '@}

# Clock configuration
set-option -g clock-mode-colour {@' $greenFgMedium | quote '@}
set-option -g clock-mode-style 24

# Highlight a tab when activity occurs
set-window-option -g monitor-activity on


# Do NOT reset-option the color of the tab after activity stops occuring
set-window-option -g monitor-silence 0


# Disable bell
set-window-option -g monitor-bell off


# Disable visual text box when activity occurs
set-option -g visual-activity off


# }}}

