<?xml version="1.0" encoding="utf-8"?>
<!--
{{ includeTemplate .tmpl.msg.managedByChezmoi . }}
-->
<openbox_menu xmlns="https://openbox.org/"
  xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="https://openbox.org/">
  <menu id="root-menu" label="obmenu-generator" execute="{{ includeTemplate .tmpl.shellCmd.obmenuGenerator . }} -i" />
</openbox_menu>
