# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

{@' if .sys.isDebianBased -'@}

- name: Video base | Install packages
  tags: [packages, desktop, video_base]
  become: true
  ansible.builtin.apt:
    package: "{{ vbd_desktop_base_pkgs_video_base.deb_stable }}"
    state: latest
    install_recommends: false
  when: ansible_facts['os_family'] == 'Debian'

{@'- else if .sys.isVoid -'@}

- name: Video base | Install packages
  tags: [packages, desktop, video_base]
  become: true
  community.general.xbps:
    name: "{{ vbd_desktop_base_pkgs_video_base.xbps }}"
    state: present
  when: ansible_facts['distribution'] == 'Void'

{@'- end '@}

...
{@'- end '@}
