# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

{@' if .sys.isDebianBased -'@}

- name: XDG | Install packages (stable)
  tags: [packages, desktop, desktop_base, xdg]
  become: true
  ansible.builtin.apt:
    package: "{{ vbd_desktop_base_pkgs_xdg.deb_stable }}"
    state: latest
    install_recommends: false
  when: ansible_facts['os_family'] == 'Debian'

{@'- else if .sys.isVoid -'@}

- name: XDG | Install packages (xbps)
  tags: [packages, desktop, desktop_base, xdg]
  become: true
  community.general.xbps:
    package: "{{ vbd_desktop_base_pkgs_xdg.xbps }}"
    state: present
  when: ansible_facts['distribution'] == 'Void'

{@'- end '@}

...
{@'- end '@}
