/*
{{ includeTemplate .templates.msgManagedByChezmoi . }}
*/
configuration {
    font: {{ .rofiFont | quote }};
    cache-dir: {{ joinPath .dirLocalCache "rofi" | quote }};
}
@theme {{ .rofiTheme | quote }}
