# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if false -'@}
# vim: set ft=sh:
#
# This template inserts a dumb shebang for /bin/sh scripts.
#
# chezmoi variable to store relative path to this template: .tmpl.shebang.dumbSh
#
{@'- end -'@}

#!/usr/bin/echo {@' cat .message.dumbShebang "/bin/sh -e" | quote '@}

{@'- /* This deletes an empty line after the template */ -'@}
