# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- /* {{{ Vim modeline for the template (YAML) */ -'@}
{@'- if false -'@}
# vim: set ft=yaml:
{@'- end -'@} {@'- /* }}} */ -'@}

{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

vbd_applications_pkgs_multimedia:
{@'- /* {{{ Debian-based */'@}
{@'- if .sys.isDebianBased '@}

  deb_stable:
    - audacious
    - cheese
    # - gstreamer1.0-plugins-bad
    # - gstreamer1.0-plugins-ugly
    - mpv
    - pavucontrol-qt
    - pavucontrol-qt-l10n

{@'- /* }}} */'@}
{@'- /* {{{ Void */'@}
{@'- else if .sys.isVoid '@}

  xbps:
    - audacious
    - cheese
    - mpv
    - pavucontrol-qt

{@'- end '@} {@'- /* }}} */'@}

...
{@'- end '@}
