window {
	background-color: #32302f;
}

button {
	color: #282828;
	background-color: #ebdbb2;
/*	background-color: #282828;*/
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20%;
}

#shutdown {
	/*background-image: url("/usr/share/wlogout/assets/shutdown.svg");*/
	background-image: url("assets/shutdown.svg");
	/*-webkit-mask-image: url("/usr/share/wlogout/assets/shutdown.svg");*/
	/*mask-image: url("/usr/share/wlogout/assets/shutdown.svg");*/
}
