# chezmoi:template: left-delimiter={@ right-delimiter=@}
{@ includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " @}
---
{@/* List of the files unconditionally needed in our Fonconfig configuration */@}
{@- $fcOptions := includeTemplate "ansible/fontconfigSystemConfiguration.yaml" . | fromYaml @}

{@- $theResult := dict 
    "antialias"               .xft.antialias
    "autohint"                .xft.autohint
    "autohint_if_no_hinting"  .xft.autohintIfNoHinting
    "hinting"                 .xft.hinting
    "hintstyle"               .xft.hintStyle
    "lcdfilter"               .xft.lcdfilter
    "rgba"                    .xft.rgba
    "bitmaps"                 .xft.bitmaps
    "scale_bitmap_fonts"      .xft.scaleBitmapFonts
    "conf_needed"             $fcOptions.conf_needed
    "conf_avail"              $fcOptions.conf_avail
    "conf_d"                  $fcOptions.conf_d
@}

{@- $theResult = dict "fontconfig_config" $theResult @}

{@- $theResult | toYaml -@}
...
