# chezmoi:template: left-delimiter={@ right-delimiter=@}
{@ includeTemplate .templates.msgManagedByChezmoi . | comment "# " @}
---
{@/* {{{ Global variables initialization */@}

{@- /* Get list of available fontconfig configuration files from the two possible system directories */@}
{@- $confAvail := concat (glob "/etc/fonts/conf.avail/*.conf") (glob "/usr/share/fontconfig/conf.avail/*.conf") @}

{@- /* List of the files unconditionally needed in our Fonconfig configuration */@}
{@- /* We will append items to this list depending on our configuration in the code down below */@}
{@- $confNeeded := includeTemplate "ansible/fontconfigSystemConfiguration.yaml" . | fromYaml @}

{@- /* }}} */@}
{@- /* {{{ Antialias options adjustment */@}

{@- if .fcAntialias @}
    {@- $confNeeded = append $confNeeded "10-yes-antialias.conf" @}
{@- else @}
    {@- $confNeeded = append $confNeeded "10-no-antialias.conf" @}
{@- end @}

{@- /* }}} */@}
{@- /* {{{ Autohint options adjustment */@}

{@- if .fcAutohint @}
    {@- $confNeeded = append $confNeeded "10-autohint.conf" @}
{@- end @}

{@- if .fcAutohintIfNoHinting @}
    {@- $confNeeded = append $confNeeded "10-autohint-if-no-hinting.conf" @}
{@- end @}

{@- /* }}} */@}
{@- /* {{{ Hintstyle options adjustment */@}

{@- /* Check if hinting is enabled at all*/@}
{@- if .fcHinting @}

    {@- $fcHintStyle := .fcHintStyle @}

    {@- $hintingOpts := fromYaml `
- 10-hinting-full.conf
- 10-hinting-medium.conf
- 10-hinting-none.conf
- 10-hinting-slight.conf
` @}

    {@- range $hintingOpts @}
        {@- if contains (print "-" (trimPrefix "hint" $fcHintStyle) ".") . @}
            {@- $confNeeded = append $confNeeded . @}
        {@- end @}
    {@- end @}

{@- end @}

{@- /* }}} */@}
{@- /* {{{ Lcdfilter options adjustment */@}

{@- $fcLcdfilter := .fcLcdfilter @}

{@- $lcdfilterOpts := fromYaml `
- 11-lcdfilter-default.conf
- 11-lcdfilter-legacy.conf
- 11-lcdfilter-light.conf
` @}

{@- range $lcdfilterOpts @}
    {@- if contains (print "-" (trimPrefix "lcd" $fcLcdfilter) ".") . @}
        {@- $confNeeded = append $confNeeded . @}
    {@- end @}
{@- end @}

{@- /* }}} */@}
{@- /* {{{ Rgba options adjustment */@}

{@- $fcRgba := .fcRgba @}

{@- $rgbaOpts := fromYaml `
- 10-sub-pixel-bgr.conf
- 10-sub-pixel-rgb.conf
- 10-sub-pixel-vbgr.conf
- 10-sub-pixel-vrgb.conf
` @}

{@- $rgbaAdjusted := false @}

{@- range $rgbaOpts @}
    {@- if contains (print "-" $fcRgba ".conf") . @}
        {@- $confNeeded = append $confNeeded . @}
        {@- $rgbaAdjusted = true @}
    {@- end @}
{@- end @}

{@- if not $rgbaAdjusted @}
    {@- $confNeeded = append $confNeeded "10-no-sub-pixel.conf" @}
{@- end @}

{@- /* }}} */@}
{@- /* {{{ Bitmaps options adjustment */@}

{@- $fcBitmaps := .fcBitmaps @}

{@- $bitmapsOpts := fromYaml `
- 70-force-bitmaps.conf
- 70-no-bitmaps.conf
- 70-yes-bitmaps.conf
` @}

{@- range $bitmapsOpts @}
    {@- if contains (print "-" $fcBitmaps "-bitmaps.conf") . @}
        {@- $confNeeded = append $confNeeded . @}
    {@- end @}
{@- end @}

{@- if and (ne $fcBitmaps "no") .fcScaleBitmapFonts @}
    {@- $confNeeded = append $confNeeded "10-scale-bitmap-fonts.conf" @}
{@- end @}

{@- /* }}} */@}
{@- /* {{{ Put everything together */@}

{@- $theFiles := list @}

{@- range $confAvail @}

    {@- $baseFileName := base . @}
    {@- $srcFile := . @}
    {@- $destFile := joinPath "/etc/fonts/conf.d" $baseFileName @}

    {@- if has $baseFileName $confNeeded @}
        {@- $theRecord := dict "dest" $destFile "src" $srcFile "state" "link" "owner" "root" "group" "root" @}
        {@- $theFiles = append $theFiles $theRecord @}
    {@- else @}
        {@- $theRecord := dict "dest" $destFile "state" "absent" @}
        {@- $theFiles = append $theFiles $theRecord @}
    {@- end @}

{@- end @}

{@- $fileList := dict "file_list" $theFiles @}

{@- $fileList | toYaml @}

{@- /* }}} */ -@}
...
