# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

{@' if .sys.isDebianBased -'@}

- name: Apt | Upgrade system
  become: true
  ansible.builtin.apt:
    upgrade: 'yes'
    update-cache: true
    install_recommends: false
    autoclean: false
    autoremove: false
  diff: true

{@'- else if .sys.isVoid -'@}

- name: Xbps | Copy config file (list of ignored packages)
  become: true
  ansible.builtin.copy:
    src: files/10-vbd-xbps-ignore.conf
    dest: /etc/xbps.d/10-vbd-xbps-ignore.conf
    owner: root
    group: root
    mode: '644'

- name: Xbps | Upgrade system
  become: true
  community.general.xbps:
    update_cache: true
    upgrade: true
    upgrade_xbps: true

{@'- end '@}

...
{@'- end '@}
