{{/* This template prints absolute path to the obmenu-generator script */ -}}
{{/* Relative path to this template is stored in the '.templates.pathObmenuGenerator' chezmoi variable */ -}}
{{ joinPath .dirDownloadedScripts .apps.debiansObmenuGeneratorName -}}
