{{/* This template print absolute path to the obmenu-generator script (it is stored in different directories in different distros) */ -}}
{{/* Relative path to this template is stored in the '.templates.pathObmenuGenerator' chezmoi variable */ -}}
{{ if .sysIsDebBased }}{{ joinPath .dirDownloadedScripts .apps.debiansObmenuGeneratorName }}{{ else }}obmenu-generator{{ end -}}
