# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---
{@' if .sys.isDebianBased -'@}

- name: Browsers | Vivaldi
  ansible.builtin.import_tasks:
    file: deb_vivaldi.yml

- name: Browsers | Opera
  ansible.builtin.import_tasks:
    file: deb_opera.yml

- name: Browsers | Librewolf
  ansible.builtin.import_tasks:
    file: deb_librewolf.yml

- name: Browsers | Installing packages (stable)
  become: true
  ansible.builtin.apt:
    package: "{{ browsers_pkgs.stable }}"
    state: latest
    install_recommends: false
  tags: [packages, desktop, browsers]

- name: Browsers | Copy chromium flags config file
  become: true
  ansible.builtin.copy:
    dest: '/etc/chromium.d/my-own-chromium-flags'
    src: 'my-own-chromium-flags'
    owner: root
    group: root
    mode: '644'
  tags: [packages, desktop, browsers]

{@'- else if .sys.isVoid -'@}

- name: Browsers | Installing packages
  become: true
  community.general.xbps:
    package: "{{ browsers_pkgs.xbps }}"
    state: present
  tags: [packages, desktop, browsers]

{@'- end '@}

- name: Browsers | Set default browser
  ansible.builtin.import_tasks:
    file: set_default_browser.yml

...
{@'- end '@}
