# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- includeTemplate .tmpl.shebang.dumbSh . '@}
#
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
#
# Autostart conky in sway
#

# Clean up any dead instances
if pgrep --euid="${USER}" --count conky >/dev/null 2>&1 ; then
	# We *MUST* KILL it, otherwise the thing doesn't do the job
	killall --euid="${USER}" -KILL conky >/dev/null 2>&1
	wait
fi

# Start our gizmo after a delay
conky --pause={@' int .conky.startupDelay '@} --daemonize

