# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if not .sys.hasSystemd -'@}
{@'- if false -'@}
# vim: set ft=sh ts=4 sw=4:
{@'- end -'@}
# Autostart pipewire

# Clean up any dead instances
#pkill --exact -9 pipewire pipewire-pulse wireplumber 2>/dev/null || :
killall --euid="${USER}" pipewire pipewire-pulse wireplumber 2>/dev/null || :
wait

{@'- if .sys.isVoid '@}

exec pipewire

{@'- else '@}

# Start components one by one
/usr/bin/pipewire &
sleep 1
/usr/bin/pipewire-pulse &
sleep 1
/usr/bin/wireplumber &

{@'- end '@}

{@'- end '@}

