# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if false -'@}
# vim: set ft=yaml:
{@'- end -'@}
{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

vbd_desktop_base_pkgs_video_base:
{@'- if .sys.isDebianBased '@}
{@'- /* {{{ Debian-based */'@}

  deb_stable:

    # See: https://wiki.debian.org/HardwareVideoAcceleration
    {@'- if .sys.isDesktopRig '@}
    - mesa-va-drivers
    {@'- else if .sys.isAlcoLaptop '@}
    - i965-va-driver-shaders
    {@'- else if or .sys.isOldLaptop .sys.isNecroLaptop '@}
    - intel-media-va-driver-non-free
    {@'- end '@}

    - libvulkan1
    - mesa-utils
    - mesa-vulkan-drivers
    - vainfo
    - vulkan-tools

{@'- /* }}} */'@}
{@'- else if .sys.isVoid '@}
{@'- /* {{{ Void */'@}

  xbps:

    # Machine-specific packages
    {@'- if .sys.isDesktopRig '@}
    # See: https://docs.voidlinux.org/config/graphical-session/graphics-drivers/amd.html
    - mesa-vulkan-radeon
    - mesa-vaapi
    {@'- else if or .sys.isAlcoLaptop .sys.isNecroLaptop .sys.isOldLaptop '@}
    # See: https://docs.voidlinux.org/config/graphical-session/graphics-drivers/intel.html
    {@'- if .sys.isAlcoLaptop '@}
    - libva-intel-driver
    {@'- else '@}
    - intel-media-driver
    {@'- end '@} {@'- /* if .sys.isAlcoLaptop */'@}
    - mesa-vulkan-intel
    {@'- else '@} {@'- /* else if or ... */'@}
    # No specific machine configuration, install everything
    - intel-media-driver
    - libva-intel-driver
    - mesa-vaapi
    - mesa-vulkan-intel
    - mesa-vulkan-radeon
    {@'- end '@}

    # Common ground
    - libva-utils # vainfo is here
    - mesa-demos
    - mesa-dri
    - vulkan-loader
    - Vulkan-Tools

{@'- /* }}} */'@}
{@'- end '@}

...
{@'- end '@}
