# chezmoi:template: left-delimiter=##* right-delimiter=*##
##*- if and .theSystem.isBrandsPrivate (ne .sysDirs.baseDataDir .sysDirs.defaultBaseDataDir) -*##
personal_symlinks:
  - '.local/share/Paradox Interactive'
  - .config/VirtualBox
  - .config/openmw
  - .config/unity3d
  - .local/share/PillarsOfEternity
  - .local/share/PillarsOfEternityII
  - .local/share/openmw
  - .paradoxlauncher
  - .wine
  - Documents
  - Downloads
  - Games
  - Public
  - Templates
  - VirtualMachines
##*- end *##
