# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if false -'@}
# vim: set ft=yaml:
{@'- end -'@}
{@'- if .sys.isDebianBased -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

- name: Librewolf | Installation
  tags: [packages, desktop, www_browsers, www_browser_librewolf]
  become: true
  when: ansible_facts['os_family'] == 'Debian'
  block:

    - name: Librewolf | Install extrepo package
      ansible.builtin.apt:
        package: extrepo
        state: present
        install_recommends: false

    - name: Librewolf | Enable Librewolf repository
      ansible.builtin.command:
        cmd: 'extrepo enable librewolf'
      args:
        creates: '/etc/apt/sources.list.d/extrepo_librewolf.sources'

    - name: Librewolf | Update extrepo data for Librewolf
      ansible.builtin.command:
        cmd: 'extrepo update librewolf'
      changed_when: false

    - name: Librewolf | Install Librewolf package (apt)
      ansible.builtin.apt:
        package: librewolf
        state: present
        install_recommends: false
        update_cache: true

...
{@'- end '@}
