# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if false -'@}
# vim: set ft=yaml:
{@'- end -'@}
{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---
{@'- if .sys.isDebianBased '@}

- name: Vivaldi
  ansible.builtin.import_tasks: deb_vivaldi.yml

- name: Opera
  ansible.builtin.import_tasks: deb_opera.yml

# - name: Desktop | Browsers | Librewolf
#   ansible.builtin.import_tasks: deb_librewolf.yml

- name: Browsers installation and configuration
  tags: [packages, desktop, www_browsers]
  become: true
  block:

    - name: Install browsers (stable)
      ansible.builtin.apt:
        package: "{{ vbd_www_browsers_pkgs.stable }}"
        state: latest
        install_recommends: false

    - name: Copy my-own-chromium-flags config file to /etc/chromium.d
      ansible.builtin.copy:
        dest: '/etc/chromium.d/my-own-chromium-flags'
        src: 'my-own-chromium-flags'
        owner: root
        group: root
        mode: '644'

{@'- else if .sys.isVoid '@}

- name: Install browsers (xbps)
  tags: [packages, desktop, www_browsers]
  become: true
  community.general.xbps:
    package: "{{ vbd_www_browsers_pkgs.xbps }}"
    state: present

{@'- end '@}

- name: Set default browser
  ansible.builtin.import_tasks: set_default_browser.yml

...
{@'- end '@}
