# {{{ chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if false -'@}
# vim: set ft=yaml:
{@'- end -'@} {@'- /* }}} */ -'@}
{@'- if or .sys.isVoid .sys.isDebianBased -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

{@'- if .sys.isDebianBased '@}

- name: "Update-alternatives | Set default browser to {{ vbd_www_browsers_default_browser }}"
  tags: [packages, desktop, www_browsers, set_default_browser]
  become: true
  community.general.alternatives:
    name: "{{ item }}"
    link: "/usr/bin/{{ item }}"
    path: "/usr/bin/{{ vbd_www_browsers_default_browser }}"
    state: selected
  loop:
    - gnome-www-browser
    - x-www-browser
  when: ansible_facts['os_family'] == 'Debian'

{@'- end '@}

- name: "Xdg-mime | Set default browser to {{ vbd_www_browsers_default_browser }}"
  tags: [packages, desktop, www_browsers, set_default_browser]
  community.general.xdg_mime:
    handler: "{{ vbd_www_browsers_default_browser }}.desktop"
    mime_types:
      - x-scheme-handler/http
      - x-scheme-handler/https
      - text/html
      - text/xml
      - application/xml

...
{@'- end '@}
