# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- /* vim: set ft=yaml fdm=marker: */ -'@}

{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

# Default color theme for papirus-folders
vbd_appearance_papirus_folders_theme: {@' .misc.papirusFoldersTheme | squote '@}

# Mouse cursor theme
vbd_appearance_cursor_theme: {@' .gtk.cursorTheme | squote '@}

{@'- /* {{{ Debian-based */'@}
{@'- if .sys.isDebianBased '@}

# Archive with the papirus-folders utility installer
{@'- $pf := .file.papirusFolders '@}
vbd_appearance_papirus_folders:
  archive: {@' joinPath .chezmoi.homeDir .dir.downloaded (printf $pf.pattern $pf.ver) | squote '@}
  ver: {@' $pf.ver | squote '@}

vbd_appearance_pkgs_icons:
  deb_stable:
    - bibata-cursor-theme
    - breeze-icon-theme
    - gnome-extra-icons
    - gnome-icon-theme
    - mate-icon-theme
    - papirus-icon-theme

{@'- /* }}} */'@}
{@'- /* {{{ Void */'@}
{@'- else if .sys.isVoid '@}

# Archive with the Bibata cursor theme
{@'- $bct := .file.bibataCursorTheme '@}
vbd_appearance_bibata:
  archive: {@' joinPath .chezmoi.homeDir .dir.downloaded (printf $bct.pattern $bct.variant $bct.ver) | squote '@}
  variant: {@' $bct.variant | squote '@}
  ver: {@' $bct.ver | squote '@}

  # Where to install the theme
  dest_dir:
    path: /usr/local/share/icons
    owner: root
    group: root
    mode: '0755'

vbd_appearance_pkgs_icons:
  xbps:
    - breeze-icons
    - gnome-icon-theme
    - gnome-icon-theme-extras
    - mate-icon-theme
    - papirus-folders
    - papirus-icon-theme

{@'- end '@} {@'- /* }}} */'@}

...
{@'- end '@}
