# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- /* vim: set ft=yaml fdm=marker: */ -'@}

{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

vbd_appearance_graphite:
  gtk:
    archive: {@' joinPath .chezmoi.homeDir .dir.downloaded (printf .file.graphite.gtk.pattern .file.graphite.gtk.ver) | squote '@}
    ver: {@' .file.graphite.gtk.ver | squote '@}

vbd_appearance_pkgs_themes:
{@'- /* {{{ Debian-based */'@}
{@'- if .sys.isDebianBased '@}

  deb_stable:
    - gnome-themes-extra
    - gtk-3-examples
    - gtk-4-examples
    - gtk2-engines
    - gtk2-engines-murrine
    - mate-themes
    - qt-style-kvantum
    - qt-style-kvantum-l10n
    - qt-style-kvantum-themes
    - qt5-gtk-platformtheme
    - qt5ct
    - qt6-wayland
    - qt6ct
    - qtwayland5
    - sassc

{@'- /* }}} */'@}
{@'- /* {{{ Void */'@}
{@'- else if .sys.isVoid '@}

  xbps:
    - gtk+3-demo
    - gtk-engine-murrine
    - gtk2-engines
    - gtk4-demo
    - kvantum
    - mate-themes
    - qt5-styleplugins
    - qt5-wayland
    - qt5ct
    - qt6-wayland
    - qt6ct
    - sassc

{@'- end '@} {@'- /* }}} */'@}

...
{@'- end '@}
