# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if .sys.isDebianBased -'@}
---
deps:
  - meson
build:
  {@' if .sys.hasSystemd -'@}
  - libsystemd-dev
  {@'- else -'@}
  - libelogind-dev
  {@'- end '@}
  - libpulse-dev
  - pkgconf
...
{@'- end -'@}
