# chezmoi:template: left-delimiter=@'{# right-delimiter=#}'@
@'{#- if and .theSystem.isBrandsPrivate (ne .sysDirs.baseDataDir .sysDirs.defaultBaseDataDir) -#}'@
personal_symlinks:
  - .config/VirtualBox
  - .config/openmw
  - .config/unity3d
  - .local/share/Paradox Interactive
  - .local/share/PillarsOfEternity
  - .local/share/PillarsOfEternityII
  - .local/share/openmw
  - .paradoxlauncher
  - .wine
  - Documents
  - Downloads
  - Games
  - Public
  - Templates
  - VirtualMachines
@'{#- end #}'@
