// chezmoi:template: left-delimiter={@' right-delimiter='@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "// " '@}

{
// {{{ Main thing

	"layer": "top",
	"mode": "dock",
	"position": "top",
	"height": 29,
	"spacing": 2,
	"reload_style_on_change": true,
	"modules-left": ["sway/workspaces", "sway/mode"],
	"modules-center": [
		"sway/window"
	],
	"modules-right": ["tray", "pulseaudio", "idle_inhibitor", "sway/language", "clock"],

// }}}
// {{{ sway/workspaces

	"sway/workspaces": {
		"format": "{name}",
		"sort-by-number": true,
		"on-click": "activate",
		"cursor": false
	},

// }}}
// {{{ sway/mode

	"sway/mode": {
		"format": " {}",
		"cursor": false
	},

// }}}
// {{{ sway/window

	"sway/window": {
		"format": "{}",
		"max-length": 80,
		"icon": true,
		"separate-outputs": true
	},

// }}}
// {{{ wlr/taskbar

/*	"wlr/taskbar": {
		"format": "{icon}{title}",
		"icon-size": 16,
		"all-outputs": false,
		"tooltip-format": "{title}",
		"on-click": "activate",
		"on-click-middle": "close"
	},*/

// }}}
// {{{ tray

	"tray": {
		"icon-size": 24
	},

// }}}
// {{{ pulseaudio

	"pulseaudio": {
		"format": "{icon} {volume}%",
		"format-icons": {
			"default": ["\uf026", "\uf027", "\uf028"],
			"default-muted": "\ueee8"
		},
		"on-scroll-up": {@' .cmd.wayland.volumeUp | quote '@},
		"on-scroll-down": {@' .cmd.wayland.volumeDown | quote '@},
		"on-click": {@' .cmd.audioMixer | quote '@},
		"on-click-right": {@' .cmd.wayland.volumeMute | quote '@},
		"min-length": 7,
		"cursor": false
	},

// }}}
// {{{ idle_inhibitor

	"idle_inhibitor": {
		"format": "{icon}",
		"format-icons": {
			"activated": "\uf185",
			"deactivated": "\uf186"
		},
		"min-length": 2,
		"cursor": false
	},

// }}}
// {{{ sway/language

	"sway/language": {
		"format": "{}",
		"on-click": "swaymsg input type:keyboard xkb_switch_layout next",
		"on-scroll-up": "swaymsg input type:keyboard xkb_switch_layout next",
		"on-scroll-down": "swaymsg input type:keyboard xkb_switch_layout prev",
		"tooltip-format": "{long}",
		"cursor": false,
		"min-lenght": 2
	},

// }}}
// {{{ clock

	"clock": {
		"on-click": "gsimplecal",
		"cursor": false,
		"tooltip-format": "{:%A %e %B %Y}"
	}

// }}}
}
