#!/bin/sh -e
# chezmoi:template: left-delimiter={@' right-delimiter='@}
#
# Automatically restart dunst if its configuration has been changed
#

{@'/* {{{ Include stuff */ -'@}

{@'/* Include the ``print_message*'' functions */ -'@}
{@' includeTemplate .tmpl.sh.funcPrintMessage . '@}

{@'/* Print the name of this script */ -'@}
{@' includeTemplate .tmpl.msg.printRunningScriptName . '@}

{@'/* }}} */ -'@}

# Restart dunst if Xorg (namely Openbox) is running
if pgrep --count openbox 1>/dev/null 2>&1 ; then
    print_message_no_linebreak "Restarting dunst... "
	{@' .cmd.manageService '@} restart dunst
    print_message "Done."
else
    print_message "Xorg is not running. Doing nothing."
fi

{@'/* This template will include hashes for the files listed */ -'@}
{@' includeTemplate .tmpl.listFileHashes (list (joinPath .chezmoi.homeDir ".config/dunst/dunstrc")) | comment "# " -'@}
