# {{{ chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if false -'@}
# vim: set ft=sh:
{@'- end -'@} {@'- /* }}} */ -'@}
#!/bin/sh -e
#
# Automatically reconfigure Sway if its configuration has been changed
#

{@'/* {{{ Include stuff */ -'@}

{@'/* Print the name of the script... */ -'@}
{@'/* ...and also include the ``vbd_Print_Message*'' functions */ -'@}
{@' includeTemplate .tmpl.msg.printRunningScriptName . '@}

{@'/* }}} */ -'@}

# Reconfiugre sway if it is running
if pgrep --count '^sway$' >/dev/null 2>&1 ; then
    vbd_Print_Message_NLB "Reconfiguring Sway... "
    if swaymsg reload >/dev/null ; then
		vbd_Print_Message "Done."
		{@' .cmd.notifier '@} --urgency=low --icon='openbox' "Sway reconfigured"
	else
		vbd_Print_Message "Error! Couldn't reconfigure sway."
	fi
else
    vbd_Print_Message "Sway is not running. Doing nothing."
fi

{@'/* {{{ Include hash of the sway config file */ -'@}

{@'/* Generate file list */ -'@}
{@' $theList := list (joinPath .chezmoi.homeDir ".config/sway/config") -'@}

{@'/* This template will include hashes for the files listed */ -'@}
{@' includeTemplate .tmpl.listFileHashes $theList | comment "# " -'@}

{@'- /* }}} */ -'@}
