# {{{ chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if false -'@}
# vim: set ft=sh:
{@'- end -'@} {@'- /* }}} */ -'@}
{@'- if and .sys.isDebianBased (not (lookPath "aptitude")) -'@}
#!/bin/sh
#
# This script installs aptitude if it is not installed yet
#

{@'/* {{{ Include stuff */ -'@}

{@'/* Include the ``vbd_Sudo'' function */ -'@}
{@' includeTemplate .tmpl.sh.funcEnsureSudoIsWorking . '@}

{@'/* Print the name of the script... */ -'@}
{@'/* ...and also include the ``_PrintMessage*'' functions */ -'@}
{@' includeTemplate .tmpl.msg.printRunningScriptName . '@}

{@'/* }}} */ -'@}

vbd_Print_Message "\nPreparing to install aptitude. Updating apt..."
vbd_Sudo apt update

vbd_Print_Message "\nUpgrading apt..."
vbd_Sudo apt-get --assume-yes --no-install-recommends upgrade

vbd_Print_Message "\nInstalling aptitude..."
vbd_Sudo apt-get --assume-yes --no-install-recommends install aptitude

{@'- end '@}
