# {{{ chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if false -'@}
# vim: set ft=sh:
{@'- end -'@} {@'- /* }}} */ -'@}
{@'- if and (or .sys.isDebianBased .sys.isVoid) (env .app.envIgnoreExternals | not) -'@}
#!/bin/sh -e
#
# Install crucial packages before chezmoi builds its target tree
#

{@'/* {{{ Include stuff */ -'@}

{@'/* Include package manager functions */ -'@}
{@'/* (Alongside with the ``vbd_Sudo'' function */ -'@}
{@' includeTemplate .tmpl.sh.funcPkgManager . '@}

{@'/* Print the name of the script... */ -'@}
{@'/* ...and also include the ``_Print_Message*'' functions */ -'@}
{@' includeTemplate .tmpl.msg.printRunningScriptName . '@}

{@'- /* Initialize the list of the packages to install */ -'@}
{@'- $pkgList := includeTemplate .tmpl.pkgLists.preInstall . | fromYaml -'@}

{@'- /* }}} */'@}

# Update apt just for the case
vbd_Print_Message 'Updating the system...'
vbd_Update_System

vbd_Print_Message "\nInstalling the packages..."
vbd_Install_Pkg {@' $pkgList | join " " '@}

{@'- end -'@}
