# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- /* vim: set ft=yaml fdm=marker: */ -'@}

{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

- name: Appearance tasks
  tags: [packages, desktop, vbd_appearance]
  block:

    - name: Appearance | Icons
      tags: [icons]
      ansible.builtin.import_tasks: components/icons.yml

    - name: Appearance | Fonts
      tags: [fonts]
      ansible.builtin.import_tasks: components/fonts.yml

    - name: Appearance | Themes
      tags: [themes]
      ansible.builtin.import_tasks: components/themes.yml

# - name: Appearance | Graphite themes
#   ansible.builtin.import_tasks: components/graphite_themes.yml

...
{@'- end '@}
