# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- /* vim: set ft=yaml fdm=marker: */ -'@}

{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

- name: Desktop base | Installation
  tags: [packages, desktop, desktop_base]
  block:

    - name: Desktop base | Filesystems support
      tags: [filesystems_support]
      ansible.builtin.import_tasks: components/filesystems_support.yml

    - name: Desktop base | Audio base
      tags: [audio_base]
      ansible.builtin.import_tasks: components/audio_base.yml

    - name: Desktop base | Video base
      tags: [video_base]
      ansible.builtin.import_tasks: components/video_base.yml

    - name: Desktop base | Wayland base
      tags: [wayland_base]
      ansible.builtin.import_tasks: components/wayland_base.yml

    - name: Desktop base | XDG
      tags: [xdg]
      ansible.builtin.import_tasks: components/xdg.yml

...
{@'- end '@}
