# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- /* vim: set ft=yaml fdm=marker: */ -'@}

{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

{@'- /* {{{ Debian-based */'@}
{@'- if .sys.isDebianBased '@}

- name: Icons | Installation
  tags: [packages, desktop, appearance, icons]
  become: true
  when: ansible_facts['os_family'] == 'Debian'
  block:

    - name: Icons | Install packages (stable)
      ansible.builtin.apt:
        package: "{{ vbd_appearance_pkgs_icons.deb_stable }}"
        state: present
        install_recommends: false

    - name: "Icons | Update-alternatives | Set cursor theme to {{ vbd_appearance_cursor_theme }}"
      community.general.alternatives:
        name: x-cursor-theme
        path: "/usr/share/icons/{{ vbd_appearance_cursor_theme }}/cursor.theme"
        state: selected
      failed_when: false

    - name: Icons | papirus-folders
      when: >
        ansible_local.vbd_papirus_folders.installed_version is not defined or
        ansible_local.vbd_papirus_folders.installed_version != vbd_appearance_papirus_folders.ver
      block:

        - name: Icons | papirus-folders | Delete papirus-folders package (apt)
          become: true
          ansible.builtin.apt:
            package: papirus-folders
            state: absent
            purge: true

        - name: Icons | papirus-folders | Create temporary directory
          ansible.builtin.tempfile:
            state: directory
          register: vbd_appearance_temp_dir

        - name: Icons | papirus-folders | Unarchive papirus-folders installer
          ansible.builtin.unarchive:
            src: "{{ vbd_appearance_papirus_folders.archive }}"
            dest: "{{ vbd_appearance_temp_dir.path }}"

        - name: Icons | papirus-folders | Install papirus-folders
          become: true
          ansible.builtin.command:
            chdir: "{{ vbd_appearance_temp_dir.path }}/papirus-folders-{{ vbd_appearance_papirus_folders.ver }}"
            cmd: /bin/sh install.sh
          environment:
            TAG: "v{{ vbd_appearance_papirus_folders.ver }}"
            PREFIX: '/usr/local'
          changed_when: true

        - name: Icons | papirus-folders | Delete temporary directory
          ansible.builtin.file:
            path: "{{ vbd_appearance_temp_dir.path }}"
            state: absent

        - name: "Icons | papirus-folders | Set fact | Installed version: {{ vbd_appearance_papirus_folders.ver }}"
          become: true
          ansible.builtin.copy:
            dest: /etc/ansible/facts.d/vbd_papirus_folders.fact
            content: "{ \"installed_version\": \"{{ vbd_appearance_papirus_folders.ver }}\" }"
            owner: root
            group: root
            mode: '0644'

{@'- /* }}} */'@}
{@'- /* {{{ Void */'@}
{@'- else if .sys.isVoid '@}

- name: Icons | Installation
  tags: [packages, desktop, appearance, icons]
  become: true
  when: ansible_facts['distribution'] == 'Void'
  block:

    - name: Icons | Install packages (xbps)
      community.general.xbps:
        package: "{{ vbd_appearance_pkgs_icons.xbps }}"
        state: present

    - name: Icons | Bibata theme installation
      when: >
        ansible_facts['ansible_local']['vbd_bibata_cursor_theme'] is not defined or
        ansible_facts['ansible_local']['vbd_bibata_cursor_theme']['installed_version'] != vbd_appearance_bibata['ver'] or
        ansible_facts['ansible_local']['vbd_bibata_cursor_theme']['installed_variant'] != vbd_appearance_bibata['variant']
      block:

        - name: Icons | Bibata | Create destination directory
          ansible.builtin.file:
            path: "{{ vbd_appearance_bibata['dest_dir']['path'] }}"
            state: directory
            owner: "{{ vbd_appearance_bibata['dest_dir']['owner'] }}"
            group: "{{ vbd_appearance_bibata['dest_dir']['group'] }}"
            mode: "{{ vbd_appearance_bibata['dest_dir']['mode'] }}"

        - name: Icons | Bibata | Delete theme directory if it exists
          ansible.builtin.file:
            path: "{{ (vbd_appearance_bibata['dest_dir']['path'], vbd_appearance_bibata['variant']) | ansible.builtin.path_join }}"
            state: absent

        - name: Icons | Bibata | Unarchive theme
          ansible.builtin.unarchive:
            src: "{{ vbd_appearance_bibata['archive'] }}"
            dest: "{{ vbd_appearance_bibata['dest_dir']['path'] }}"
            owner: root
            group: root

        - name: "Icons | Bibata | Set fact | Installed: {{ '%s v%s' | format(vbd_appearance_bibata['variant'], vbd_appearance_bibata['ver']) }}"
          ansible.builtin.copy:
            dest: /etc/ansible/facts.d/vbd_bibata_cursor_theme.fact
            content: "{{ vbd_appearance_bibata_fact | ansible.builtin.to_nice_json }}"
            owner: root
            group: root
            mode: '0644'
          vars:
            vbd_appearance_bibata_fact:
              installed_version: "{{ vbd_appearance_bibata['ver'] }}"
              installed_variant: "{{ vbd_appearance_bibata['variant'] }}"

    - name: Icons | Create the ``/usr/share/icons/default'' directory
      ansible.builtin.file:
        path: '/usr/share/icons/default'
        state: directory
        owner: root
        group: root
        mode: '0755'

    - name: "Icons | Set system-wide default cursor theme to {{ vbd_appearance_cursor_theme }}"
      ansible.builtin.copy:
        dest: '/usr/share/icons/default/index.theme'
        content: |
          [Icon theme]
          Name=Default
          Comment=Default Cursor Theme
          Inherits={{ vbd_appearance_cursor_theme }}
        owner: root
        group: root
        mode: '0644'

{@'- end '@} {@'- /* }}} */'@}
{@'- /* {{{ Common ground: check papirus-folders theme */'@}

- name: "Icons | Check that papirus-folders theme is {{ vbd_appearance_papirus_folders_theme }}"
  tags: [packages, desktop, appearance, icons, papirus_folders]
  ansible.builtin.shell:
    cmd: |
      set -o pipefail
      papirus-folders --list | grep '>' | sed 's/[^[:alpha:]]//g'
  args:
    executable: /bin/bash
  register: vbd_appearance_shell_result
  changed_when: vbd_appearance_shell_result.stdout != vbd_appearance_papirus_folders_theme
  notify: Set papirus-folders theme

{@'- /* }}} */'@}

...
{@'- end '@}
