# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- /* {{{ Vim modeline for the template (YAML) */ -'@}
{@'- if false -'@}
# vim: set ft=yaml:
{@'- end -'@} {@'- /* }}} */ -'@}

{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

{@'- /* {{{ Debian-based */'@}
{@'- if .sys.isDebianBased '@}

- name: Fonts | Install packages (stable)
  tags: [packages, desktop, appearance, fonts]
  become: true
  ansible.builtin.apt:
    package: "{{ vbd_appearance_pkgs_fonts.deb_stable }}"
    state: present
    install_recommends: false
  when: ansible_facts['os_family'] == 'Debian'

{@'- /* }}} */'@}
{@'- /* {{{ Void */'@}
{@'- else if .sys.isVoid '@}

- name: Fonts | Install packages (xbps)
  tags: [packages, desktop, appearance, fonts]
  become: yes
  community.general.xbps:
    package: "{{ vbd_appearance_pkgs_fonts.xbps }}"
    state: present
  when: ansible_facts['distribution'] == 'Void'

{@'- end '@} {@'- /* }}} */'@}

...
{@'- end '@}
