# {{{ chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if false -'@}
# vim: set ft=yaml:
{@'- end -'@} {@'- /* }}} */ -'@}
{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

{@'- if .sys.isDebianBased '@} {@'- /* {{{ Debian-based */'@}

- name: Fonts | Install packages (stable)
  tags: [packages, desktop, appearance, fonts]
  become: true
  ansible.builtin.apt:
    package: "{{ vbd_appearance_pkgs_fonts.deb_stable }}"
    state: present
    install_recommends: false
  when: ansible_facts['os_family'] == 'Debian'

{@'- /* }}} */'@}
{@'- else if .sys.isVoid '@} {@'- /* {{{ Void */'@}

- name: Fonts | Install packages (xbps)
  tags: [packages, desktop, appearance, fonts]
  become: yes
  community.general.xbps:
    package: "{{ vbd_appearance_pkgs_fonts.xbps }}"
    state: present
  when: ansible_facts['distribution'] == 'Void'

{@'- end '@}
{@'- /* }}} */'@}

...
{@'- end '@}
