# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

{@' if .sys.isDebianBased -'@}

- name: Desktop Install | Wayland | Installing packages (stable)
  become: true
  ansible.builtin.apt:
    package: "{{ desktop_install_pkg_wayland.stable }}"
    state: latest
    install_recommends: false
  tags: [packages, wayland, sway]

{@'- else if .sys.isVoid -'@}

- name: Desktop Install | Wayland | Installing packages
  become: true
  community.general.xbps:
    name: "{{ desktop_install_pkg_wayland.xbps }}"
    state: present
  tags: [packages, wayland, sway]

{@'- end '@}

...
{@'- end '@}
