# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

{@' if .sys.isDebianBased -'@}

- name: Desktop Install | Appearance | Installing packages (stable)
  become: true
  ansible.builtin.apt:
    name: "{{ desktop_install_pkg_appearance.stable }}"
    state: present
    install_recommends: false
  tags: [packages, appearance]

{@' $papirusFoldersFileName := (printf .app.version.papirusFolders.filenamePattern .app.version.papirusFolders.ver .app.version.papirusFolders.ubuntuVer) -'@}
{@' $papirusFoldersDebPath := joinPath .chezmoi.homeDir .dir.downloadedDeb $papirusFoldersFileName -'@}
- name: Desktop Install | Appearance | Installing papirus-folders .deb package
  become: true
  ansible.builtin.apt:
    deb: {@' $papirusFoldersDebPath | squote '@}
  when: "{@' $papirusFoldersDebPath | squote '@} is file"
  tags: [packages, appearance]

{@'- else if .sys.isVoid -'@}

- name: Desktop Install | Appearance | Installing packages
  become: true
  community.general.xbps:
    name: "{{ desktop_install_pkg_appearance.xbps }}"
    state: present
  tags: [packages, appearance]

{@'- end '@}

...
{@'- end '@}
