# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

{@' if .sys.isDebianBased -'@}

- name: Desktop Install | Utilities | dpkg-reconfigure wireshark
  become: true
  ansible.builtin.debconf:
    pkg: wireshark-common
    question: wireshark-common/install-setuid
    value: true
    vtype: boolean
  register: desktop_install_wireshark_common_debconf
  tags: [packages, utilities]

- name: Desktop Install | Utilities | Installing packages (stable)
  become: true
  ansible.builtin.apt:
    package: "{{ desktop_install_pkg_utilities.stable }}"
    state: latest
    install_recommends: false
  tags: [packages, utilities]

- name: Desktop Install | Utilities | Installing packages (backports)
  become: true
  ansible.builtin.apt:
    package: "{{ desktop_install_pkg_utilities.backports }}"
    default_release: {@' .chezmoi.osRelease.versionCodename '@}-backports
    state: latest
    install_recommends: false
  tags: [packages, utilities]

- name: Desktop Install | Utilities | dpkg-reconfigure wireshark-common
  become: true
  ansible.builtin.command:
    cmd: dpkg-reconfigure -f noninteractive wireshark-common
  changed_when: true
  when: desktop_install_wireshark_common_debconf.changed
  tags: [packages, utilities]

- name: Desktop Install | Utilities | Adding the user to the `wireshark' group
  become: true
  ansible.builtin.user:
    user: {@' .chezmoi.username '@}
    groups: wireshark
    append: true
  tags: [packages, utilities, groups]

{@'- else if .sys.isVoid -'@}

- name: Desktop Install | Utilities | Installing packages
  become: true
  community.general.xbps:
    package: "{{ desktop_install_pkg_utilities.xbps }}"
    state: present
  tags: [packages, utilities]

{@'- end '@}

...
{@'- end '@}
