# {{{ chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if false -'@}
# vim: set ft=yaml:
{@'- end -'@} {@'- /* }}} */ -'@}
{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

- name: Applications | Desktop utils
  ansible.builtin.import_tasks: software/desktop_utils.yml

- name: Applications | Multimedia
  ansible.builtin.import_tasks: software/multimedia.yml

- name: Applications | Office
  ansible.builtin.import_tasks: software/office.yml

- name: Applications | Wireshark
  ansible.builtin.import_tasks: software/wireshark.yml

- name: Applications | Flatpak
  ansible.builtin.import_tasks: software/flatpak.yml

...
{@'- end '@}
