# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

{@' if .sys.isDebianBased -'@}

- name: Desktop Install | Audio Base | Installing packages (stable)
  become: true
  ansible.builtin.apt:
    package: "{{ vbd_audio_base_pkgs.stable }}"
    state: latest
    install_recommends: false
  tags: [packages, desktop, audio_base]

- name: Desktop Install | Audio Base | Ensure that Pulseaudio is not installed (apt)
  become: true
  ansible.builtin.apt:
    package: pulseaudio
    state: absent
    purge: true
  tags: [packages, desktop, audio_base]

{@'- else if .sys.isVoid -'@}

- name: Desktop Install | Audio Base | Installing packages
  become: true
  community.general.xbps:
    name: "{{ vbd_audio_base_pkgs.xbps }}"
    state: present
  tags: [packages, desktop, audio_base]

- name: Desktop Install | Audio Base | Ensure that Pulseaudio is not installed (xbps)
  become: true
  community.general.xbps:
    name: pulseaudio
    state: absent
  tags: [packages, desktop, audio_base]

{@'- end '@}

...
{@'- end '@}
