# chezmoi:template: left-delimiter={@' right-delimiter='@} format-indent="  "
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

{@' $filesList := includeTemplate "ansible/rootconfFilesList.yaml" . | fromYaml -'@}
{@'- $theData := list -'@}
{@'- $homeDir := .chezmoi.homeDir -'@}
{@'- $rootHome := "/root" -'@}

{@'- range $filesList.directories -'@}
    {@'- $theDict := dict "src" "" "dest" (joinPath $rootHome .) "state" "directory" -'@}
    {@'- $theData = append $theData $theDict -'@}
{@'- end -'@}

{@'- range $filesList.symlinks -'@}
    {@'- $theDict := dict "src" (joinPath $homeDir .) "dest" (joinPath $rootHome .) "state" "link" -'@}
    {@'- $theData = append $theData $theDict -'@}
{@'- end -'@}

{@'- range $filesList.remove -'@}
    {@'- $theDict := dict "src" "" "dest" (joinPath $rootHome .) "state" "absent" -'@}
    {@'- $theData = append $theData $theDict -'@}
{@'- end -'@}

{@'- /* $result := dict "sys_conf_symlinks" $theData */ -'@}
vbd_sys_conf_symlinks:
{@' $theData | toYaml | indent 2 | trimSuffix "  " '@}
...
