# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- /* vim: set ft=yaml fdm=marker: */ -'@}

{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

- name: Utilities | Installation
  tags: [packages, system, utilities]
  block:

    - name: Utilities | Archivers
      tags: [archivers]
      ansible.builtin.import_tasks: components/archivers.yml

    - name: Utilities | RTFM
      tags: [rtfm]
      ansible.builtin.import_tasks: components/rtfm.yml

    - name: Utilities | Common utils
      tags: [common_utils]
      ansible.builtin.import_tasks: components/common.yml

    - name: Utilities | Productivity
      tags: [productivity]
      ansible.builtin.import_tasks: components/productivity.yml

    - name: Utilities | Distro-specific
      tags: [distro_specific]
      ansible.builtin.import_tasks: components/distro_specific.yml

    - name: Utilities | Hardware utils
      tags: [hardware_utils]
      ansible.builtin.import_tasks: components/hardware_utils.yml

    - name: Utilities | Network utils
      tags: [network_utils]
      ansible.builtin.import_tasks: components/network_utils.yml

...
{@'- end '@}
