#!/bin/sh

# Graphical reconfiguration. With this setup, don't use programs like lxappearance to adjust graphical settings.
# Instead, edit the [gtk.data] section in ~/.config/chezmoi/chezmoi.toml,
# then run chezmoi apply, and after that execute this script
# 
# The script is bound to Super-Shift-A hotkey and also accessible from the Openbox menu

# restart dunst, xsettingsd, tint2
for the_service in 'dunst' 'xsettingsd' 'tint2' ; do
    /bin/sh -e {{ joinPath .dirLocalScripts "manage-service.sh" | quote }} restart "${the_service}"
done

# reconfigure openbox
openbox --reconfigure && notify-send --urgency=low 'Openbox reconfigured'
