# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if false -'@}
# vim: ft=sh
{@'- end -'@}
#!/bin/sh

{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}

cd {@' joinPath .chezmoi.homeDir .dir.ansible.home | quote '@}

PYTHONDONTWRITEBYTECODE=1
ANSIBLE_CONFIG={@' joinPath .chezmoi.homeDir .dir.ansible.home .file.ansible.config | quote '@}
export PYTHONDONTWRITEBYTECODE
export ANSIBLE_CONFIG

ansible-playbook -K {@' .file.ansible.localPlaybook | quote '@} ${@}
