# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if and .sys.isDesktopRig (ne .dir.userData .dir.userDataDefault) -'@}
{@'- if false -'@}
# vim: ft=sh
{@'- end -'@}
#!/bin/sh

{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}

game_dir="${HOME}/Games/SSD/BATTLETECH"
game_file="start.sh"

if [ ! -x "${game_dir}/${game_file}" ] ; then
	echo "There is no executable '${game_file}' in ${game_dir}! Exiting."
	exit 1
fi

cd "${game_dir}"

i=1
ncores=$(nproc)
cores_line=''

while [ $i -le $ncores ] ; do
    [ -n "${cores_line}" ] && cores_line="${cores_line},${i}" || cores_line="${i}"
    i=$(( i + 2 ))
done

taskset --cpu-list "${cores_line}" "./${game_file}"
{@'- end '@}
