# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if and .sysIsDesktopRig (ne .dirUserData .dirUserDataDefault) -'@}
#!/bin/sh
# vim: ft=sh

{@' includeTemplate "managedMessage.tmpl" . | comment "# " '@}

game_dir="${HOME}/Games/SSD/BATTLETECH"

if [ ! -x "${game_dir}/start.sh" ] ; then
	echo "There is no executable 'start.sh' in ${game_dir}! Exiting."
	exit 1
fi

cd "${game_dir}"

i=1
ncores=$(nproc)
cores_line=''

while [ $i -le $ncores ] ; do
    [ -n "${cores_line}" ] && cores_line="${cores_line},${i}" || cores_line="${i}"
    i=$(( i + 2 ))
done

taskset --cpu-list "${cores_line}" ./start.sh
{@'- end '@}
