# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if false -'@}
# vim: ft=sh
{@'- end -'@}
#!/bin/sh

{@' includeTemplate .templates.msgManagedByChezmoi . | comment "# " '@}

if ! tmux has-session -t {@' .apps.defaultTmuxSessionName | quote '@} ; then
    tmux new-session -s {@' .apps.defaultTmuxSessionName | quote '@} -d
fi

exec tmux attach -t {@' .apps.defaultTmuxSessionName | quote '@}
