#!/bin/sh

{{ includeTemplate .templates.msgManagedByChezmoi . | comment "# " }}

cd {{ .dirAnsible | quote }}

env ANSIBLE_CONFIG={{ joinPath .dirAnsible "ansible.cfg" | squote }} ansible-playbook -Kv local-chezmoi-playbook.yml "${@}"
