# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

- name: Packages | Appearance
  ansible.builtin.import_tasks:
    file: software/appearance.yml

...
{@'- end '@}
