# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

- name: Packages | Utilities
  ansible.builtin.import_tasks:
    file: software/utilities.yml

- name: Packages | Xorg
  ansible.builtin.import_tasks:
    file: software/xorg.yml

- name: Packages | Appearance
  ansible.builtin.import_tasks:
    file: software/appearance.yml

- name: Packages | Apps
  ansible.builtin.import_tasks:
    file: software/apps.yml

...
{@'- end '@}
