# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- /* vim: set ft=yaml fdm=marker: */ -'@}

{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

- name: Install Flatpak and its stuff
  become: true
  block:

{@'- /* {{{ Debian-based */'@}
{@'- if .sys.isDebianBased '@}

    - name: Flatpak | Install flatpak and flatseal (stable)
      ansible.builtin.apt:
        package:
          - flatpak
          - flatseal
        state: present
      when: ansible_facts['os_family'] == 'Debian'

{@'- /* }}} */'@}
{@'- /* {{{ Void */'@}
{@'- else if .sys.isVoid '@}

    - name: Flatpak | Install flatpak (xbps)
      community.general.xbps:
        package: flatpak
        state: present
      when: ansible_facts['distribution'] == 'Void'

{@'- end '@} {@'- /* }}} */'@}
{@'- /* {{{ Common ground: unlock flathub and install flatpak pgks */'@}

    - name: Flatpak | Add ``flathub'' remote repository
      community.general.flatpak_remote:
        name: flathub
        flatpakrepo_url: 'https://flathub.org'
      failed_when: false

    - name: Flatpak | Install flatpak packages
      community.general.flatpak:
        name: "{{ vbd_applications_flatpak_packages }}"
        state: present
      failed_when: false

{@'- /* }}} */'@}

...
{@'- end '@}
