# chezmoi:template: left-delimiter={@' right-delimiter='@}
shell_patterns=0
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
#
# See: https://softpanorama.org/OFM/MC/user_menu.shtml
# 
# {{{ mc maintenance

m   Edit ~/.config/mc/menu
	cd {@' joinPath .chezmoi.homeDir ".config/mc" '@}
	{@' .chezmoi.executable '@} edit --refresh-externals=never --exclude=externals,scripts,encrypted --apply {@' joinPath .chezmoi.homeDir ".config/mc/menu" | quote '@}

h   Edit mc directory hotlist
	{@' cat .cmd.editor (joinPath .dir.symlinked ".config/mc/hotlist") '@}

# }}}
# {{{ chezmoi stuff
# {{{ General chezmoi commands

u   Run `chezmoi update'
	{@' .chezmoi.executable '@} update

i   Run `chezmoi init'
	{@' .chezmoi.executable '@} init
	printf 'Press [Enter] to continue...'
	read -r _

y   Run `chezmoi apply'
	{@' .chezmoi.executable '@} apply

# }}} (General chezmoi commands)
# {{{ chezmoi edit commands

# `chezmoi edit' current file
+ t rl & d {@' .chezmoi.homeDir '@}/* & !d {@' .chezmoi.sourceDir | dir '@}/*
= t rl & d {@' .chezmoi.homeDir '@}/* & !d {@' .chezmoi.sourceDir | dir '@}/*
e   Run `chezmoi edit' with current file
	{@' .chezmoi.executable '@} edit --exclude=externals --apply "%f"

# `chezmoi edit-encrypted' current file
# when inside chezmoi source directory
+ t r & f .+\.age & d {@' .chezmoi.sourceDir | dir '@}/*
= t r & d {@' .chezmoi.sourceDir | dir '@}/*
e   Run `chezmoi edit-encrypted' with current file
	{@' .chezmoi.executable '@} edit-encrypted "%f"

# }}} (chezmoi edit commands)
# {{{ Add a file to chezmoi

# Add a regular file to chezmoi
+ t r & !t t & d {@' .chezmoi.homeDir '@}/* & !d {@' .chezmoi.sourceDir | dir '@}/*
a   Add current file to chezmoi
	{@' .chezmoi.executable '@} add "%f"

# Add a regular file + encrypt
+ t r & !t t & d {@' .chezmoi.homeDir '@}/* & !d {@' .chezmoi.sourceDir | dir '@}/*
A   Add current file to chezmoi + encrypt it
	{@' .chezmoi.executable '@} add --encrypt "%f"

# Add a regular file + template
+ t r & !t t & d {@' .chezmoi.homeDir '@}/* & !d {@' .chezmoi.sourceDir | dir '@}/*
t   Add current file to chezmoi + template it
	{@' .chezmoi.executable '@} add --template "%f"

# Add a regular file + encrypt + template
+ t r & !t t & d {@' .chezmoi.homeDir '@}/* & !d {@' .chezmoi.sourceDir | dir '@}/*
T   Add current file to chezmoi + template + encrypt it
	{@' .chezmoi.executable '@} add --encrypt --template "%f"

# }}} (Add a file to chezmoi)
# {{{ Add a directory to chezmoi

# Add a directory to chezmoi
+ t d & !t t & !f ^\.\.$ & d {@' .chezmoi.homeDir '@}/* & !d {@' .chezmoi.sourceDir | dir '@}/*
= t d & !t t & !f ^\.\.$ & d {@' .chezmoi.homeDir '@}/* & !d {@' .chezmoi.sourceDir | dir '@}/*
a   Add directory to chezmoi
	{@' .chezmoi.executable '@} add "%f"

# Add a directory with the `exact_' prefix
+ t d & !t t & !f ^\.\.$ & d {@' .chezmoi.homeDir '@}/* & !d {@' .chezmoi.sourceDir | dir '@}/*
A   Add directory to chezmoi with `exact_' prefix
	{@' .chezmoi.executable '@} add --exact "%f"

# }}} (Add a directory to chezmoi)
# }}} (chezmoi stuff)
# {{{ General commands

+ t r & T r
v   vimdiff files in both panels
	vimdiff "%d/%f" "%D/%F"

=
o   Open current directory in {@' .cmd.fileManager '@}
	{@' .cmd.fileManager '@} "%d" &

# }}}
# {{{ Compress target file or directory

+ t rd & !t t & !f [.][.]
x   Compress target (tar.xz)
	Pwd="%f"
	printf "Name of the compressed file (without archive extension) [${Pwd}]: "
	read archive_name
	[ -z "${archive_name}" ] && archive_name="${Pwd}"
	tar cJpvf "${archive_name}.tar.xz" -- "%f" && \
		echo "${archive_name}.tar.xz created."

+ t rd & !t t & !f [.][.]
g   Compress target (tar.gz)
	Pwd="%f"
	printf "Name of the compressed file (without archive extension) [${Pwd}]: "
	read archive_name
	[ -z "${archive_name}" ] && archive_name="${Pwd}"
	tar czpvf "${archive_name}.tar.gz" -- "%f" && \
		echo "${archive_name}.tar.gz created."

+ t rd & !t t & !f [.][.]
z   Compress target (tar.zst)
	Pwd="%f"
	printf "Name of the compressed file (without archive extension) [${Pwd}]: "
	read archive_name
	[ -z "${archive_name}" ] && archive_name="${Pwd}"
	tar cpvf "${archive_name}.tar.zst" -zstd -- "%f" && \
		echo "${archive_name}.tar.zst created."

+ t rd & !t t & !f [.][.]
Z   Compress target (zip)
	Pwd="%f"
	printf "Name of the compressed file (without archive extension) [${Pwd}]: "
	read archive_name
	[ -z "${archive_name}" ] && archive_name="${Pwd}"
	zip -r "${archive_name}.zip" -- "%f" && \
		echo "${archive_name}.zip created."

# }}}
# {{{ Compress selected targets

+ t t
x   Compress targets (tar.xz)
	Pwd="$(basename %d /)"
	[ "${Pwd}" = '/' ] && Pwd='archive'
	printf "Name of the compressed file (without extension) [${Pwd}]: "
	read archive_name
	[ -z "${archive_name}" ] && archive_name="${Pwd}"
	tar cJpvf "${archive_name}.tar.xz" -- %t && \
		echo "${archive_name}.tar.xz created."

+ t t
g   Compress targets (tar.gz)
	Pwd="$(basename %d /)"
	[ "${Pwd}" = '/' ] && Pwd='archive'
	printf "Name of the compressed file (without extension) [${Pwd}]: "
	read archive_name
	[ -z "${archive_name}" ] && archive_name="${Pwd}"
	tar czpvf "${archive_name}.tar.gz" -- %t && \
		echo "${archive_name}.tar.gz created."

+ t t
z   Compress targets (tar.zst)
	Pwd="$(basename %d /)"
	[ "${Pwd}" = '/' ] && Pwd='archive'
	printf "Name of the compressed file (without extension) [${Pwd}]: "
	read archive_name
	[ -z "${archive_name}" ] && archive_name="${Pwd}"
	tar cpvf "${archive_name}.tar.zst" --zstd -- %t && \
		echo "${archive_name}.tar.zst created."

+ t t
Z   Compress targets (zip)
	Pwd="$(basename %d /)"
	[ "${Pwd}" = '/' ] && Pwd='archive'
	printf "Name of the compressed file (without extension) [${Pwd}]: "
	read archive_name
	[ -z "${archive_name}" ] && archive_name="${Pwd}"
	zip -r "${archive_name}.zip" -- %t && \
		echo "${archive_name}.zip created."

# }}}
# {{{ Compress current subdirectory

+ !d ^/$
1   Compress current subdirectory (tar.xz)
	Pwd="$(basename %d /)"
	printf "Name of the compressed file (without extension) [${Pwd}]: "
	read archive_name
	[ -z "${archive_name}" ] && archive_name="${Pwd}"
	cd .. && \
		tar cJpvf "${archive_name}.tar.xz" -- "${Pwd}" && \
		echo "../${archive_name}.tar.xz created."

+ !d ^/$
2   Compress current subdirectory (tar.gz)
	Pwd="$(basename %d /)"
	printf "Name of the compressed file (without extension) [${Pwd}]: "
	read archive_name
	[ -z "${archive_name}" ] && archive_name="${Pwd}"
	cd .. && \
		tar czpvf "${archive_name}.tar.gz" -- "${Pwd}" && \
		echo "../${archive_name}.tar.gz created."

+ !d ^/$
3   Compress current subdirectory (tar.zst)
	Pwd="$(basename %d /)"
	printf "Name of the compressed file (without extension) [${Pwd}]: "
	read archive_name
	[ -z "${archive_name}" ] && archive_name="${Pwd}"
	cd .. && \
		tar cpvf "${archive_name}.tar.zst" --zstd -- "${Pwd}" && \
		echo "../${archive_name}.tar.zst created."

+ !d ^/$
4   Compress current subdirectory (zip)
	Pwd="$(basename %d /)"
	printf "Name of the compressed file (without extension) [${Pwd}]: "
	read archive_name
	[ -z "${archive_name}" ] && archive_name="${Pwd}"
	cd .. && \
		zip -r "${archive_name}.zip" -- "${Pwd}" && \
		echo "../${archive_name}.zip created."

# }}}
