shell_patterns=0

# See: https://softpanorama.org/OFM/MC/user_menu.shtml

{{ includeTemplate .templates.msgManagedByChezmoi . | comment "# " }}

m   Edit ~/.config/mc/menu
    cd ~/.config/mc
    {{ .chezmoi.executable }} edit --refresh-externals=never --exclude=externals,scripts,encrypted --apply {{ joinPath .chezmoi.homeDir ".config/mc/menu" | quote }}

h   Edit mc directory hotlist
    $EDITOR {{ .dirSymlinked }}/.config/mc/hotlist

+
= ! t rl
c   Edit chezmoi config
    {{ .chezmoi.executable }} edit-config

C   Edit chezmoi config template
    {{ .chezmoi.executable }} edit-config-template

{{ $alacrittyConfFileExt := .sysIsDebianBased | ternary "yml" "toml" -}}
a   Edit alacritty.{{ $alacrittyConfFileExt }}
    cd ~/.config/alacritty
    {{ .chezmoi.executable }} edit --apply alacritty.{{ $alacrittyConfFileExt }}

o   Edit conky.conf
    cd ~/.config/conky
    {{ .chezmoi.executable }} edit --exclude=externals,scripts,encrypted --apply conky.conf

r   Edit vimrc
    #cd ~/.vim
    {{ .chezmoi.executable }} edit --exclude=externals,scripts,encrypted --apply ~/.vim/vimrc

t   Edit tmux.conf
    cd ~/.config/tmux
    {{ .chezmoi.executable }} edit --exclude=externals,scripts,encrypted --apply tmux.conf

+ t rl
= t rl
e   Run chezmoi edit with current file
    {{ .chezmoi.executable }} edit --exclude=externals --apply %f

+ t r & T r
v   vimdiff files in both panels
    vimdiff "%d/%f" "%D/%F"

1   Compress the current subdirectory (tar.xz)
    Pwd=`basename %d /`
    echo -n "Name of the compressed file (without extension) [$Pwd]: "
    read archive_name
    [ "${archive_name}x" = "x" ] && archive_name="${Pwd}"
    cd .. && \
    tar cvf - "$Pwd" | xz -f > "${archive_name}.tar.xz" && \
    echo "../$archive_name.tar.xz created."

2   Compress the current subdirectory (tar.gz)
    Pwd=`basename %d /`
    echo -n "Name of the compressed file (without extension) [$Pwd]: "
    read tar
    [ "$tar"x = x ] && tar="$Pwd"
    cd .. && \
    tar cvf - "$Pwd" | gzip -f9 > "$tar.tar.gz" && \
    echo "../$tar.tar.gz created."

3   Compress the current subdirectory (tar.zst)
    Pwd=`basename %d /`
    echo -n "Name of the compressed file (without extension) [${Pwd}]: "
    read archive_name
    [ "${archive_name}x" = 'x' ] && archive_name="$Pwd"
    cd .. && \
    env ZSTD_CLEVEL=19 tar cvf "${archive_name}.tar.zst" --zstd "${Pwd}" && \
    echo "../${archive_name}.tar.zst created."

#    tar cJf "$archive_name.tar.xz" "${Pwd}" && \
