m   Edit ~/.config/mc/menu
    cd ~/.config/mc
    chezmoi edit --apply menu
h   Edit mc directory hotlist
    $EDITOR {{ .dirSymlinked }}/.config/mc/hotlist
=
c   Edit chezmoi config
    chezmoi edit-config
C   Edit chezmoi config template
    chezmoi edit-config-template
a   Edit alacritty.yml
    cd ~/.config/alacritty
    chezmoi edit --apply alacritty.yml
o   Edit conky.conf
    cd ~/.config/conky
    chezmoi edit --apply conky.conf
r   Edit vimrc
    cd ~/.vim
    chezmoi edit --apply vimrc
=+ t rl
e   Run chezmoi edit with current file
    chezmoi edit --apply %f
+ t r & T r
v   vimdiff files in both panels
    vimdiff %d/%f %D/%F
