# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

{@' if .sys.isDebianBased -'@}

- name: Desktop | Wayland base | Stable
  become: true
  ansible.builtin.apt:
    package: "{{ vbd_wayland_base_pkgs.stable }}"
    state: latest
    install_recommends: false
  tags: [packages, desktop, wayland_base]

{@'- else if .sys.isVoid -'@}

- name: Desktop | Wayland base | Xbps
  become: true
  community.general.xbps:
    package: "{{ vbd_wayland_base_pkgs.xbps }}"
    state: present
  tags: [packages, desktop, wayland_base]

{@'- end '@}

...
{@'- end '@}
