# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if false -'@}
# vim: set ft=sh:
{@'- end -'@}
{@'- if .sys.isDebianBased -'@}
{@'- includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
#

{@' $chromiumFlags := includeTemplate .tmpl.chromiumFlags (dict "app" "chromium" "userid" "$(id -u)" "useWayland" .sys.useWayland) | fromYaml | join " " -'@}

CHROMIUM_FLAGS="$CHROMIUM_FLAGS {@' $chromiumFlags -'@}"

export CHROMIUM_FLAGS

{@'- end '@}
