# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- /* vim: set ft=yaml fdm=marker: */ -'@}

{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

- name: System base | Installation
  tags: [packages, system]
  block:

    - name: System base | Base tools
      tags: [base_tools]
      ansible.builtin.import_tasks: components/base_tools.yml

    - name: System base | Network services
      tags: [network_services]
      ansible.builtin.import_tasks: components/network_services.yml

...
{@'- end '@}
