{{ includeTemplate "managedMessage.tmpl" . | comment "# " }}
#
# See: https://codeberg.org/derat/xsettingsd
# See: https://www.freedesktop.org/wiki/Specifications/XSettingsRegistry/

# Theme settings
Net/ThemeName {{ .gtkThemeName | quote }}
Net/IconThemeName {{ .gtkIconTheme | quote }}
Gtk/CursorThemeName {{ .gtkCursorTheme | quote }}
Gtk/FontName {{ .gtkFontName | quote }}
Gtk/DecorationLayout {{ .gtkDecorationLayout | quote }}
Net/EnableEventSounds {{ int .gtkEnableEventSounds }}
Net/EnableInputFeedbackSounds {{ int .gtkEnableInputFeedbackSounds }}

# The value must be 1024*DPI
Xft/DPI {{ mul .fcDpi 1024 }}

# Font settings
Xft/Antialias {{ int .fcAntialias }}
Xft/Hinting {{ int .fcHinting }}
Xft/HintStyle {{ .fcHintStyle | quote }}
Xft/RGBA {{ .fcRgba | quote }}
Xft/lcdfilter {{ .fcLcdfilter | quote }}
