# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if or .sys.isDebianBased -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

- name: Set papirus-folders theme
  tags: [packages, desktop, appearance, icons, papirus_folders]
  become: true
  ansible.builtin.command:
    cmd: "papirus-folders -C {{ vbd_appearance_papirus_folders_theme }}"
  changed_when: true

...
{@'- end '@}
