# {{{ chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if false -'@}
# vim: set ft=yaml:
{@'- end -'@} {@'- /* }}} */ -'@}
{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

- name: Set papirus-folders theme
  tags: always
  become: true
  ansible.builtin.command:
    cmd: "papirus-folders --color {{ vbd_appearance_papirus_folders_theme | quote }}"
  changed_when: true

...
{@'- end '@}
