# {{{ chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if false -'@}
# vim: set ft=yaml:
{@'- end -'@} {@'- /* }}} */ -'@}
{@'- if .sys.isDebianBased -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

- name: Vivaldi | Installation
  tags: [packages, desktop, www_browsers, www_browser_vivaldi]
  when: ansible_facts['os_family'] == 'Debian'
  block:

    - name: Vivaldi | Check for Vivaldi repo file
      ansible.builtin.stat:
        path: "{{ vbd_www_browsers_repo_data.vivaldi.repo.filename }}"
      register: vbd_vivaldi_repo_file

    - name: Vivaldi | Configure repository
      become: true
      when: not vbd_vivaldi_repo_file.stat.exists | bool
      block:

        - name: Vivaldi | Download package signing key
          ansible.builtin.get_url:
            url: "{{ vbd_www_browsers_repo_data.vivaldi.key.url }}"
            dest: "{{ vbd_www_browsers_repo_data.vivaldi.key.filename }}"
            owner: root
            group: root
            mode: '644'
            force: true

        - name: Vivaldi | Install repo file
          ansible.builtin.deb822_repository:
            name: "{{ vbd_www_browsers_repo_data.vivaldi.repo.filename | basename | splitext | first }}"
            architectures: amd64
            suites: "{{ vbd_www_browsers_repo_data.vivaldi.repo.suite }}"
            components: "{{ vbd_www_browsers_repo_data.vivaldi.repo.component }}"
            signed_by: "{{ vbd_www_browsers_repo_data.vivaldi.key.filename }}"
            uris: "{{ vbd_www_browsers_repo_data.vivaldi.repo.url }}"

    - name: Vivaldi | Install Vivaldi package (apt)
      become: true
      ansible.builtin.apt:
        package: vivaldi-stable
        state: present
        install_recommends: false
        update_cache: true

...
{@'- end '@}
