# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

- name: Opyt
  hosts: localhost
  tasks:
    - name: Opyt1
      ansible.builtin.tempfile:
        path: "/run/user/{{ ansible_real_user_id }}"
        prefix: "opyt"
        suffix: ".tempfile"
...
