# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@' includeTemplate .templates.msgManagedByChezmoi . | comment "# " '@}

default:
  hosts:
    localhost:
      ansible_connection: local
      ansible_become_method: {@' .cmdSu '@}
