# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}

default:
  hosts:
    localhost:
      ansible_connection: local

      # Regarding usage of doas as ansible become method on local connections, see:
      # https://github.com/ansible/ansible/issues/82337
      ansible_become_method: {@' .app.ansible.become '@}
