# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---
{@' if .sys.isBrandsPrivate -'@}

# - name: Establish local symlinks
#   hosts: all
#   roles:
#     - file_manager
#   vars_files:
#     - vars/local-symlinks.yml
#   become: false
#   gather_facts: false
#   tags:
#     - local
#     - symlinks

{@'- end '@}

{@' if or .sys.isDebianBased .sys.isVoid -'@}

- name: Desktop Package Management
  hosts: all
  pre_tasks:
    - name: Update System
      ansible.builtin.import_tasks:
        file: tasks/update_package_cache.yml
      tags: always

  roles:
    - desktop_install

{@'- end '@}

- name: System Fontconfig Configuration
  hosts: all
  vars_files:
    - vars/fontconfig-config.yml

  roles:
    - sys_conf
...
