# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- /* vim: set ft=sh: */ -'@}
#!/bin/sh

{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}

{@'/* Include the ``vbd_Print_Message*'' functions */ -'@}
{@' includeTemplate .tmpl.sh.funcPrintMessage . '@}

cd {@' joinPath .chezmoi.homeDir .dir.ansible.home | quote '@}

{@' $pwdType := "" -'@}

{@' if eq .app.ansible.become "sudo" -'@}
	{@' $pwdType = "USER" '@}
{@'- else if eq .app.ansible.become "su" -'@}
	{@' $pwdType = "ROOT" '@}
{@'- else -'@}
	{@'- fail ".app.ansible.become should be either 'sudo' or 'su'." -'@}
{@'- end -'@}

vbd_Print_Header "Running local Ansible playbook..."
vbd_Print_Message "Ansible BECOME method is set to {@' .app.ansible.become | squote '@}."
vbd_Print_Message "BECOME password is your {@' $pwdType '@} password."

exec /usr/bin/env PYTHONDONTWRITEBYTECODE=1 ANSIBLE_CONFIG={@' joinPath .chezmoi.homeDir .dir.ansible.home .file.ansible.config | quote '@} \
    ansible-playbook --ask-become-pass {@' .file.ansible.localPlaybook | quote '@} "${@}"
