-- chezmoi:template: left-delimiter={@' right-delimiter='@}
{@' if false -'@}
-- vim: ft=lua
{@'- end -'@}

package.path = package.path .. {@' printf ";%s" (joinPath .chezmoi.homeDir .dir.luaModules "?.lua") | squote '@}
local obmenu = require('obmenu')
local prc = require('process_query')
local item

if prc.is_running('xsettingsd') then
	item = obmenu:add_menuitem('Restart XsettingsD', 'view-refresh-symbolic')
	item:add_action_execute({@' cat .cmd.manageService "restart" "xsettingsd" | squote'@})
	item = obmenu:add_menuitem('Stop XsettingsD', 'process-stop-symbolic')
	item:add_action_execute({@' cat .cmd.manageService "stop" "xsettingsd" | squote'@})
else
	item = obmenu:add_menuitem('Start XsettingsD', 'system-restart-symbolic')
	item:add_action_execute({@' cat .cmd.manageService "start" "xsettingsd" | squote'@})
end

obmenu:add_separator('')
item = obmenu:add_menuitem('Edit xsettingsd.conf', 'edit-symbolic')
item:add_action_execute({@' cat .app.chezmoiEditorFromMenu (joinPath .chezmoi.homeDir ".config/xsettingsd/xsettingsd.conf" | squote) | quote'@})

io.write(tostring(obmenu))
