# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- /* vim: set ft=yaml fdm=marker: */ -'@}

{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

{@'- /* {{{ Debian-based */'@}
{@'- if .sys.isDebianBased '@}

- name: Wayland base | Install packages (stable)
  become: true
  ansible.builtin.apt:
    package: "{{ vbd_desktop_base_pkgs_wayland_base['deb_stable'] }}"
    state: present
    install_recommends: false
  when: ansible_facts['os_family'] == 'Debian'

{@'- if not .sys.hasSystemd '@}

- name: Wayland base | Install the ``swayosd-libinput-backend'' init script
  become: true
  ansible.builtin.copy:
    src: sysvinit.swayosd-libinput-backend
    dest: /etc/init.d/swayosd-libinput-backend
    owner: root
    group: root
    mode: '0755'

- name: Wayland base | Enable the ``swayosd-libinput-backend'' service
  become: true
  ansible.builtin.service:
    name: swayosd-libinput-backend
    enabled: true

{@'- end '@}

{@'- /* }}} */'@}
{@'- /* {{{ Void */'@}
{@'- else if .sys.isVoid '@}

- name: Wayland base | Void installation
  become: true
  when: ansible_facts['distribution'] == 'Void'
  block:

    - name: Wayland base | Install packages (xbps)
      community.general.xbps:
        package: "{{ vbd_desktop_base_pkgs_wayland_base['xbps'] }}"
        state: present

    - name: Wayland base | Enable the ``swayosd-libinput-backend'' service (runit)
      community.general.runit:
        name: swayosd-libinput-backend
        service_dir: /etc/runit/runsvdir/default
        enabled: true

{@'- end '@} {@'- /* }}} */'@}

...
{@'- end '@}
