-- chezmoi:template: left-delimiter={@' right-delimiter='@}
{@' if false -'@}
--[[ vim: ft=lua

This template adds the process_is_running function which checks if a certain process is currently running
Used in Openbox pipemenu scripts

chezmoi variable to store relative path to this template: .tmpl.lua.funcProcessIsRunning

--]]
{@'- end -'@}

--== TEMPLATE START: funcProcessIsRunning.lua ==--

-- returns true if the process is running
local function process_is_running(the_process)
    local f = io.popen("pgrep --count '" .. the_process .. "' 2>/dev/null")
    local the_data = tonumber(f:read()) or 0
    f:close()
    return the_data > 0
end

--== TEMPLATE END: funcProcessIsRunning.lua ==--

{@'- /* This deletes an empty line after the template */ -'@}
