{{ .varia.managedMessage | comment "# " }}
[Settings]
gtk-button-images={{ int .gtkButtonImages }}
gtk-menu-images={{ int .gtkMenuImages }}
gtk-cursor-theme-name={{ .gtkCursorTheme }}
gtk-cursor-theme-size={{ .gtkCursorSize }}
gtk-enable-event-sounds={{ int .gtkEnableEventSounds }}
gtk-enable-input-feedback-sounds={{ int .gtkEnableInputFeedbackSounds }}
gtk-font-name={{ .gtkFontName }}
gtk-icon-theme-name={{ .gtkIconTheme }}
gtk-theme-name={{ .gtkThemeName }}
gtk-toolbar-icon-size={{ .gtkToolbarIconSize }}
gtk-toolbar-style={{ .gtkToolbarStyle }}
gtk-xft-antialias={{ int .fcAntialias }}
gtk-xft-hinting={{ int .fcHinting }}
gtk-xft-hintstyle={{ .fcHintStyle }}
gtk-xft-rgba={{ .fcRgba }}
gtk-decoration-layout={{ .gtkDecorationLayout }}
gtk-print-preview-command=atril %f
gtk-overlay-scrolling=0
