# {{{ chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if false -'@}
# vim: set ft=yaml:
{@'- end -'@} {@'- /* }}} */ -'@}
{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

{@'- if .sys.isDebianBased '@} {@'- /* {{{ Debian-based */'@}

- name: Productivity utils | Installation
  tags: [packages, system, utilities, productivity]
  become: true
  when: ansible_facts['os_family'] == 'Debian'
  block:

    - name: Productivity utils | Install packages (stable)
      ansible.builtin.apt:
        package: "{{ vbd_utilities_pkgs_productivity.deb_stable }}"
        state: present
        install_recommends: false

    - name: Productivity utils | Disable the ``rsync'' service
      ansible.builtin.service:
        name: rsync
        state: stopped
        enabled: false

{@'- /* }}} */'@}
{@'- else if .sys.isVoid '@} {@'- /* {{{ Void */'@}

- name: Productivity utils | Install packages (xbps)
  tags: [packages, system, utilities, productivity]
  become: true
  community.general.xbps:
    package: "{{ vbd_utilities_pkgs_productivity.xbps }}"
    state: present
  when: ansible_facts['distribution'] == 'Void'

{@'- end '@} {@'- /* }}} */'@}

...
{@'- end '@}
