# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

vbd_wayland_base_pkgs:
{@'- if .sys.isDebianBased '@}
{@'- /* {{{ Debian-based */'@}

  stable:
    - alacritty
    - cliphist
    - conky-std
    - dunst
    - foot
{@'- if not .sys.isVM '@}
    - gammastep
    # The following is needed for gammastep and IDK for what else:
    - gir1.2-ayatanaappindicator3-0.1
{@'- end '@}
    - grim
    - jq
    - nwg-displays
    - rofi
    - slurp
    - sway
    - swaybg
    - swayidle
    - swaykbdd
    - swaylock
    - swayosd
    - udiskie
    - waybar
    - wl-clipboard
    - wlogout
    - wlr-randr
    - xdg-desktop-portal-wlr

    # IDK whether it should be here
    # But nothing pulls it automatically for whatever reason
    - libnotify-bin

    # XWayland stuff
    - x11-xserver-utils
    - xwayland

{@'- /* }}} */'@}
{@'- else if .sys.isVoid '@}
{@'- /* {{{ Void */'@}

  xbps:
    - SwayOSD
    - Waybar
    - cliphist
    - gammastep
    - gammastep-indicator
    - grim
    - rofi
    - rofi-calc
    - slurp
    - sway
    - swaybg
    - swayidle
    - swaykbdd
    - swaylock
    - udiskie
    - wl-clipboard
    - wlogout
    - wlr-randr
    - xdg-desktop-portal-wlr

    # XWayland stuff
    - xlsclients
    - xorg-server-xwayland

{@'- /* }}} */'@}
{@'- end '@}

...
{@'- end '@}
