# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- /* vim: set ft=yaml fdm=marker: */ -'@}

{@'- if or .sys.isDebianBased .sys.isVoid -'@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
---

{@'- /* {{{ Debian-based */'@}
{@'- if .sys.isDebianBased '@}

- name: Network services | Install packages (stable)
  become: true
  ansible.builtin.apt:
    package: "{{ vbd_system_base_pkgs_network_services['deb_stable'] }}"
    state: present
    install_recommends: false

{@'- /* }}} */'@}
{@'- /* {{{ Void */'@}
{@'- else if .sys.isVoid '@}

- name: Network services | Install packages (xbps)
  become: true
  community.general.xbps:
    package: "{{ vbd_system_base_pkgs_network_services['xbps'] }}"
    state: present

{@'- end '@} {@'- /* }}} */'@}
{@'- /* {{{ Common ground: install config files */'@}

- name: Network services | Install config files
  become: true
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: root
    group: root
    mode: "{{ item.mode if item.mode is defined else '644' }}"
  loop: "{{ vbd_system_base_conf_list }}"

{@'- /* }}} */'@}

...
{@'- end '@}
