# chezmoi:template: left-delimiter={@ right-delimiter=@}
{@- if .sys.isVoid -@}
{@- includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " @}
#

{@ $chromiumFlags := includeTemplate .tmpl.chromiumFlags (dict "app" "chromium" "userid" .chezmoi.uid) | fromYaml | join "\n" -@}

{@ $chromiumFlags -@}

{@- end @}
