{{ includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " }}
#
# This file is written by xdg-user-dirs-update
# If you want to change or add directories, just edit the line you're
# interested in. All local changes will be retained on the next run.
# Format is XDG_xxx_DIR="$HOME/yyy", where yyy is a shell-escaped
# homedir-relative path, or XDG_xxx_DIR="/yyy", where /yyy is an
# absolute path. No other format is supported.
# 
XDG_DESKTOP_DIR={{ joinPath .chezmoi.homeDir .xdg.desktopDir | quote }}
XDG_DOWNLOAD_DIR={{ joinPath .chezmoi.homeDir .xdg.downloadDir | quote }}
XDG_TEMPLATES_DIR={{ joinPath .chezmoi.homeDir .xdg.templatesDir | quote }}
XDG_PUBLICSHARE_DIR={{ joinPath .chezmoi.homeDir .xdg.publicshareDir | quote }}
XDG_DOCUMENTS_DIR={{ joinPath .chezmoi.homeDir .xdg.documentsDir | quote }}
XDG_MUSIC_DIR={{ joinPath .chezmoi.homeDir .xdg.musicDir | quote }}
XDG_PICTURES_DIR={{ joinPath .chezmoi.homeDir .xdg.picturesDir | quote }}
XDG_VIDEOS_DIR={{ joinPath .chezmoi.homeDir .xdg.videosDir | quote }}
