[redshift]
fade={{ int .redshift.fade }}
adjustment-method={{ .redshift.adjustmentMethod }}
location-provider={{ .redshift.provider }}

temp-day={{ int .redshift.tempDay }}
temp-night={{ int .redshift.tempNight }}

{{ if eq .redshift.provider "manual" -}}
[manual]
lat={{ int .redshift.lat }}
lon={{ int .redshift.lon }}
{{ end -}}
