{{ includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " }}
#
XDG_DESKTOP_DIR={{ joinPath .chezmoi.homeDir .xdg.desktopDir | quote }}
XDG_DOCUMENTS_DIR={{ joinPath .chezmoi.homeDir .xdg.documentsDir | quote }}
XDG_DOWNLOAD_DIR={{ joinPath .chezmoi.homeDir .xdg.downloadDir | quote }}
XDG_MUSIC_DIR={{ joinPath .chezmoi.homeDir .xdg.musicDir | quote }}
XDG_PICTURES_DIR={{ joinPath .chezmoi.homeDir .xdg.picturesDir | quote }}
XDG_PUBLICSHARE_DIR={{ joinPath .chezmoi.homeDir .xdg.publicshareDir | quote }}
XDG_TEMPLATES_DIR={{ joinPath .chezmoi.homeDir .xdg.templatesDir | quote }}
XDG_VIDEOS_DIR={{ joinPath .chezmoi.homeDir .xdg.videosDir | quote }}
