{{ includeTemplate "managedMessage.tmpl" . | comment "# " }}

[redshift]
fade={{ int .rsFade }}
adjustment-method={{ .rsAdjustmentMethod }}
location-provider={{ .rsProvider }}

temp-day={{ int .rsTempDay }}
temp-night={{ int .rsTempNight }}

{{ if eq .rsProvider "manual" -}}
[manual]
lat={{ int .rsLat }}
lon={{ int .rsLon }}
{{ end -}}
