# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@'- if false -'@}
# vim: ft=sh
{@'- end -'@}
#!/bin/sh

{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}

# Graphical reconfiguration. With this setup, don't use programs like lxappearance to adjust graphical settings.
# Instead, edit the [data] section in {@' .chezmoi.configFile | replace .chezmoi.homeDir "~" '@},
# then run chezmoi apply, and after that execute this script
# 
# The script is bound to Super-Shift-A hotkey and also accessible from the Openbox menu

[ -r ~/.Xresources ] && xrdb -merge -I${HOME} ~/.Xresources

# restart dunst, xsettingsd, tint2
for the_service in 'dunst' 'xsettingsd' 'tint2' ; do
	{@' .cmd.manageService '@} restart "${the_service}"
done

# reconfigure openbox
openbox --reconfigure && {@' .cmd.notifier '@} --urgency='low' 'Openbox reconfigured'
