{{/* vim: set ft=cfg : */ -}}
[redshift]
fade={{ int .redShift.fade }}
adjustment-method={{ .redShift.adjustmentMethod }}
location-provider={{ .redShift.locationProvider }}

temp-day={{ int .redShift.tempDay }}
temp-night={{ int .redShift.tempNight }}

{{ if eq .redShift.locationProvider "manual" -}}
[manual]
lat={{ int .redShift.latitude }}
lon={{ int .redShift.longitude }}
{{ end -}}
