# chezmoi:template: left-delimiter={@' right-delimiter='@}
{@' includeTemplate .tmpl.msg.managedByChezmoi . | comment "# " '@}
#
# See https://gitlab.com/o9000/tint2/blob/master/doc/tint2.md for 
# full documentation of the configuration options.

{@'- $palette := includeTemplate .tmpl.palette.tint2 | fromYaml '@}
{@'- $gtkFontName := cat .gtk.font.family .gtk.font.weight .gtk.font.size '@}

#{{{ Gradients

# {{{ Gradient 1: Panel

gradient = vertical
#start_color = #cfc9c0 100
#end_color = #c8c2b7 100
start_color = {@' $palette.panel.gradient.start '@} 100
end_color = {@' $palette.panel.gradient.end '@} 100

# }}}
# {{{ Gradient 2: Unpressed button on taskbar

gradient = vertical
start_color = {@' $palette.task.unpressed.gradient.start '@} 100
color_stop = {@' $palette.colorStopPercentUnpressed '@} {@' $palette.task.unpressed.gradient.stop '@} 100
end_color = {@' $palette.task.unpressed.gradient.end '@} 100

# }}}
# {{{ Gradient 3: Unpressed button on taskbar HOVER

gradient = vertical
start_color = {@' $palette.task.hover.gradient.start '@} 100
color_stop = {@' $palette.colorStopPercentUnpressed '@} {@' $palette.task.hover.gradient.stop '@} 100
end_color = {@' $palette.task.hover.gradient.end '@} 100

# }}}
# {{{ Gradient 4: Active (pressed) button on taskbar

gradient = vertical
start_color = {@' $palette.task.pressed.gradient.start '@} 100
color_stop = {@' $palette.colorStopPercentUnpressed '@} {@' $palette.task.pressed.gradient.stop '@} 100
end_color = {@' $palette.task.pressed.gradient.end '@} 100

# }}}
# {{{ Gradient 5: Active workspace name on taskbar

gradient = vertical
{@'- if eq .gtk.themeName "GreylooksGreen" '@}
start_color = #42443e 100
end_color = #85897e 100
{@'- else if eq .gtk.themeName "GreylooksHuman" '@}
start_color = #433f37 100
end_color = #8b8372 100
{@'- else if eq .gtk.themeName "GreylooksOk" '@}
start_color = #363f43 100
end_color = #7c8d95 100
{@'- else '@}
start_color = #545353 100
end_color = #929090 100
#start_color = #424141 100
#end_color = #817f7f 100
{@'- end '@}

# }}}

#}}}
#{{{ Backgrounds

# {{{ Background 1: Panel

rounded = 0
border_width = 1
border_sides = B
gradient_id = 1
background_color = {@' $palette.panel.background '@} 100 
border_color = {@' $palette.panel.border '@} 100

# }}}
# {{{ Background 2: Default task, Iconified task

rounded = 3
border_width = 1
border_sides = TBLR
background_color = {@' $palette.task.unpressed.background '@} 0
background_color_hover = {@' $palette.task.hover.background '@} 100
background_color_pressed = {@' $palette.task.pressed.background '@} 100
border_color = {@' $palette.task.unpressed.border '@} 100
border_color_hover = {@' $palette.task.hover.border '@} 100
border_color_pressed = {@' $palette.task.pressed.border '@} 100
gradient_id = 2
gradient_id_hover = 3
gradient_id_pressed = 4

# }}}
# {{{ Background 3: Active task

rounded = 3
border_width = 1
border_sides = TBLR
border_content_tint_weight = 0
background_content_tint_weight = 0
background_color = {@' $palette.task.pressed.background '@} 100
background_color_hover = {@' $palette.task.pressed.background '@} 100
background_color_pressed = {@' $palette.task.pressed.background '@} 100
border_color = {@' $palette.task.pressed.border '@} 100
gradient_id = 4
gradient_id_hover = 4
gradient_id_pressed = 4

# }}}
# {{{ Background 4: Urgent task

rounded = 3
border_width = 1
border_sides = TBLR
border_content_tint_weight = 0
background_content_tint_weight = 0
background_color = {@' $palette.task.urgent.background '@} 100
border_color = {@' $palette.task.urgent.border '@}  100

# }}}
# {{{ Background 5: Tooltip

rounded = 0
border_width = 1
border_sides = TBLR
border_content_tint_weight = 0
background_content_tint_weight = 0
background_color = {@' $palette.tooltip.background '@} 100
border_color = {@' $palette.tooltip.border '@} 100

# }}}
# {{{ Background 6: Inactive desktop name

rounded = 5
border_width = 2
border_sides = TBLR
border_content_tint_weight = 0
background_content_tint_weight = 0
background_color = #e0ded9 100
border_color = {@' $palette.task.unpressed.border '@} 100
#background_color_hover = #e1dac1 100
#border_color_hover = #7a6c5f 100
#background_color_pressed = #e1dac1 100
#border_color_pressed = #7a6c5f 100
gradient_id = 2

# }}}
# {{{ Background 7: Active desktop name

rounded = 5
border_width = 1
border_sides = TBLR
border_content_tint_weight = 0
background_content_tint_weight = 0
background_color = #c1baad 100
border_color = #7a6c5f 100
#background_color_hover = #c1baad 100
#border_color_hover = #7a6c5f 100
#background_color_pressed = #c1baad 100
#border_color_pressed = #7a6c5f 100
{@'- if $palette.useGradients '@}
gradient_id = 5
gradient_id_hover = 5
gradient_id_pressed = 5
{@'- end '@}

# }}}
# {{{ Background 8: Clock

rounded = 3
border_width = 1
border_sides = TBLR
border_content_tint_weight = 0
background_content_tint_weight = 0
background_color = {@' $palette.panel.background '@} 0
border_color = {@' $palette.panel.background '@} 0
background_color_hover = {@' $palette.task.hover.background '@} 100
border_color_hover = {@' $palette.task.hover.border '@} 100
background_color_pressed = {@' $palette.task.pressed.background '@} 100
border_color_pressed = {@' $palette.task.pressed.border '@} 100
gradient_id_hover = 3
gradient_id_pressed = 4

# }}}
# {{{ Background 9: Systray (currently unused)

#rounded = 3
#border_width = 0
#border_sides = TBLR
#border_content_tint_weight = 0
#background_content_tint_weight = 0
#background_color = #dbd7ce 100
#border_color = #cccccc 100
#background_color_hover = #dbd7ce 100
#border_color_hover = #cccccc 100
#background_color_pressed = #dbd7ce 100
#border_color_pressed = #cccccc 100

# }}}

# }}}

# {{{ Panel

#panel_items = L:T:SC
panel_items = T:SC
panel_size = 100% 28
panel_margin = 0 0
panel_padding = 7 1 4
panel_background_id = 1
wm_menu = 1
panel_dock = 0
panel_pivot_struts = 0
panel_position = top center horizontal
panel_layer = normal
panel_monitor = all
panel_shrink = 0
autohide = {@' .misc.autohidePanel | int '@}
autohide_show_timeout = 0.1
autohide_hide_timeout = 0.3
autohide_height = 2
strut_policy = {@' if .misc.autohidePanel '@}minimum{@' else '@}follow_size{@' end '@}
panel_window_name = tint2
disable_transparency = 1
mouse_effects = 1
font_shadow = 0
mouse_hover_icon_asb = 100 0 0
mouse_pressed_icon_asb = 100 0 0
scale_relative_to_dpi = 0
scale_relative_to_screen_height = 0

# }}}
# {{{ Taskbar

taskbar_mode = single_desktop
taskbar_hide_if_empty = 0
taskbar_padding = 0 0 1
taskbar_background_id = 0
taskbar_active_background_id = 0
taskbar_name = 1
taskbar_hide_inactive_tasks = 0
taskbar_hide_different_monitor = 0
taskbar_hide_different_desktop = 0
taskbar_always_show_all_desktop_tasks = 0
taskbar_name_padding = 6 3
taskbar_name_background_id = 6
taskbar_name_active_background_id = 7
taskbar_name_font = Ubuntu Bold 12
#taskbar_name_font_color = #1d2021 100
#taskbar_name_active_font_color = #1d2021 100
taskbar_name_font_color = {@' $palette.taskbar.nameFontColor '@} 100
taskbar_name_active_font_color = {@' $palette.taskbar.nameActiveFontColor '@} 100
taskbar_distribute_size = 1
taskbar_sort_order = none
task_align = left

# }}}
# {{{ Task

task_text = 1
task_icon = 1
task_centered = 0
urgent_nb_of_blink = 100000
task_maximum_size = 250 26
task_padding = 4 0 4
task_font = {@' $gtkFontName '@}
task_tooltip = 1
task_thumbnail = 0
task_thumbnail_size = 350
task_icon_asb = 100 0 0
task_background_id = 2
task_active_background_id = 3
task_urgent_background_id = 4
task_iconified_background_id = 2
mouse_left = toggle_iconify
mouse_middle = close
mouse_right = none
mouse_scroll_up = prev_task
mouse_scroll_down = next_task

# Colors
task_font_color = {@' $palette.task.unpressed.fontColor '@} 100
task_active_font_color = {@' $palette.task.pressed.fontColor '@} 100
task_iconified_font_color = {@' $palette.task.iconified.fontColor '@} 100

# }}}
# {{{ Systray

systray_padding = 0 0 2
systray_background_id = 0
systray_sort = ascending
systray_icon_size = 24
systray_icon_asb = 100 0 0
systray_monitor = primary
systray_name_filter = 

# }}}
# {{{ Clock

time1_format = %H:%M
time2_format = 
time1_font = Roboto Black 12
time1_timezone = 
time2_timezone = 
clock_padding = 3 0
clock_background_id = 8
clock_tooltip = %A %e %B %Y
clock_tooltip_timezone = 
clock_lclick_command = gsimplecal
clock_rclick_command = gsimplecal
clock_mclick_command = 
clock_uwheel_command = 
clock_dwheel_command = 
clock_font_color = {@' $palette.clock.fontColor '@} 100

# }}}
# {{{ Tooltip

tooltip_show_timeout = 0.5
tooltip_hide_timeout = 0.1
tooltip_padding = 6 4
tooltip_background_id = 5
tooltip_font_color = {@' $palette.tooltip.fontColor '@} 100
tooltip_font = {@' $gtkFontName '@}

# }}}
# {{{ Separators

# Separator between Taskbar and Systray
separator = new
separator_background_id = 0
separator_color = {@' $palette.separator.color '@} 100
separator_style = line
separator_size = 1
separator_padding = 5 3

# }}}
